In [97]:
import pandas as pd

In [98]:
df = pd.read_csv("train.csv")

In [99]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [100]:
df_test = pd.read_csv("test.csv")

In [101]:
df_test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [102]:
df.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [103]:
def change_passengerID(df):
    df["Passenger_Group"] = df["PassengerId"].apply(lambda x: x.split('_')[0])
    df["Passenger_Group_ID"] = df["PassengerId"].apply(lambda x: x.split('_')[1])
    df_pg_vc = df["Passenger_Group"].value_counts().reset_index()
    df_pg_vc = df_pg_vc.rename(columns={"index":"Passenger_Group","Passenger_Group":"Num_of_Group_meber"})
    df_result = pd.merge(left=df, right=df_pg_vc, left_on="Passenger_Group", right_on="Passenger_Group")
    return df_result

In [104]:
df["Passenger_Group"] = df["PassengerId"].apply(lambda x: x.split('_')[0])

In [105]:
df["Passenger_Group_ID"] = df["PassengerId"].apply(lambda x: x.split('_')[1])

In [106]:
df_pg_vc = df["Passenger_Group"].value_counts().reset_index()

In [107]:
df_pg_vc = df_pg_vc.rename(columns={"index":"Passenger_Group","Passenger_Group":"Num_of_Group_meber"})

In [108]:
df_pg_vc

     Passenger_Group  Num_of_Group_meber
0               4498                   8
1               8168                   8
2               8728                   8
3               8796                   8
4               8956                   8
...              ...                 ...
6212            3483                   1
6213            3480                   1
6214            3478                   1
6215            3473                   1
6216            4620                   1

[6217 rows x 2 columns]

In [109]:
df = pd.merge(left=df, right=df_pg_vc, left_on="Passenger_Group", right_on="Passenger_Group")

In [110]:
df.shape

(8693, 17)

In [111]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Passenger_Group,Passenger_Group_ID,Num_of_Group_meber
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0001,01,1
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0002,01,1
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0003,01,2
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0003,02,2
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0004,01,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,9276,01,1
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,9278,01,1
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,9279,01,1
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,9280,01,2
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,9280,02,2

In [112]:
'Transported' in df.columns

True

In [113]:
def change_simple_values(df):
    df.CryoSleep = df.CryoSleep.apply(lambda x: 0 if x=='False' else 1)
    df.VIP = df.VIP.apply(lambda x: 0 if x=='False' else 1)
    if('Transported' in df.columns) :
        df.Transported = df.Transported.apply(lambda x: 0 if x=='False' else 1)
    return df

In [114]:
df.CryoSleep = df.CryoSleep.apply(lambda x: 0 if x=='False' else 1)

In [115]:
df.VIP = df.VIP.apply(lambda x: 0 if x=='False' else 1)

In [116]:
df.Transported = df.Transported.apply(lambda x: 0 if x=='False' else 1)

In [117]:
df.Destination.unique()

array(['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e', nan], dtype=object)

In [118]:
"abc/d".split('/')

['abc', 'd']

In [119]:
df.Cabin.info()

<class 'pandas.core.series.Series'>
Int64Index: 8693 entries, 0 to 8692
Series name: Cabin
Non-Null Count  Dtype
--------------  -----
8494 non-null   object
dtypes: object(1)
memory usage: 135.8+ KB

In [120]:
df.Cabin.iloc[0].split('/')

['B', '0', 'P']

In [121]:
~(df.Cabin.isna())

0       True
1       True
2       True
3       True
4       True
        ...
8688    True
8689    True
8690    True
8691    True
8692    True
Name: Cabin, Length: 8693, dtype: bool

In [122]:
df[~(df.Cabin.isna())]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Passenger_Group,Passenger_Group_ID,Num_of_Group_meber
0,0001_01,Europa,1,B/0/P,TRAPPIST-1e,39.0,1,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,1,0001,01,1
1,0002_01,Earth,1,F/0/S,TRAPPIST-1e,24.0,1,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1,0002,01,1
2,0003_01,Europa,1,A/0/S,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,1,0003,01,2
3,0003_02,Europa,1,A/0/S,TRAPPIST-1e,33.0,1,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,1,0003,02,2
4,0004_01,Earth,1,F/1/S,TRAPPIST-1e,16.0,1,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1,0004,01,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,1,A/98/P,55 Cancri e,41.0,1,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,1,9276,01,1
8689,9278_01,Earth,1,G/1499/S,PSO J318.5-22,18.0,1,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,1,9278,01,1
8690,9279_01,Earth,1,G/1500/S,TRAPPIST-1e,26.0,1,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,1,9279,01,1
8691,9280_01,Europa,1,E/608/S,55 Cancri e,32.0,1,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,1,9280,01,2
8692,9280_02,Europa,1,E/608/S,TRAPPIST-1e,44.0,1,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,1,9280,02,2

In [123]:
list(df[~(df.Cabin.isna())].loc[:,'Cabin'].apply(lambda x: x.split('/')).values)

[['B', '0', 'P'],
 ['F', '0', 'S'],
 ['A', '0', 'S'],
 ['A', '0', 'S'],
 ['F', '1', 'S'],
 ['F', '0', 'P'],
 ['F', '2', 'S'],
 ['G', '0', 'S'],
 ['F', '3', 'S'],
 ['B', '1', 'P'],
 ['B', '1', 'P'],
 ['B', '1', 'P'],
 ['F', '1', 'P'],
 ['G', '1', 'S'],
 ['F', '2', 'P'],
 ['F', '3', 'P'],
 ['F', '4', 'P'],
 ['F', '5', 'P'],
 ['G', '0', 'P'],
 ['F', '6', 'P'],
 ['E', '0', 'S'],
 ['E', '0', 'S'],
 ['E', '0', 'S'],
 ['E', '0', 'S'],
 ['E', '0', 'S'],
 ['E', '0', 'S'],
 ['D', '0', 'P'],
 ['C', '2', 'S'],
 ['F', '6', 'S'],
 ['C', '0', 'P'],
 ['F', '8', 'P'],
 ['G', '4', 'S'],
 ['F', '9', 'P'],
 ['F', '9', 'P'],
 ['F', '9', 'P'],
 ['D', '1', 'S'],
 ['D', '1', 'P'],
 ['F', '8', 'S'],
 ['F', '10', 'S'],
 ['G', '1', 'P'],
 ['G', '2', 'P'],
 ['B', '3', 'P'],
 ['G', '3', 'P'],
 ['G', '3', 'P'],
 ['G', '3', 'P'],
 ['F', '10', 'P'],
 ['F', '10', 'P'],
 ['E', '1', 'S'],
 ['E', '2', 'S'],
 ['G', '6', 'S'],
 ['F', '11', 'S'],
 ['A', '1', 'S'],
 ['A', '1', 'S'],
 ['A', '1', 'S'],
 ['G', '7', 'S'],
 ['F', '12', 'S'],
 ['F', '13', 'S'],
 ['F', '14', 'S'],
 ['E', '3', 'S'],
 ['G', '6', 'P'],
 ['G', '10', 'S'],
 ['G', '10', 'S'],
 ['F', '15', 'S'],
 ['E', '4', 'S'],
 ['F', '16', 'S'],
 ['F', '13', 'P'],
 ['F', '14', 'P'],
 ['F', '17', 'S'],
 ['D', '3', 'P'],
 ['C', '3', 'S'],
 ['F', '18', 'S'],
 ['F', '15', 'P'],
 ['C', '4', 'S'],
 ['G', '13', 'S'],
 ['F', '16', 'P'],
 ['F', '16', 'P'],
 ['F', '16', 'P'],
 ['G', '14', 'S'],
 ['C', '5', 'S'],
 ['F', '17', 'P'],
 ['E', '5', 'S'],
 ['G', '15', 'S'],
 ['G', '16', 'S'],
 ['F', '20', 'S'],
 ['G', '9', 'P'],
 ['G', '9', 'P'],
 ['G', '9', 'P'],
 ['A', '2', 'S'],
 ['G', '11', 'P'],
 ['G', '11', 'P'],
 ['F', '19', 'P'],
 ['G', '12', 'P'],
 ['F', '23', 'S'],
 ['F', '24', 'S'],
 ['G', '18', 'S'],
 ['G', '18', 'S'],
 ['F', '21', 'P'],
 ['D', '2', 'S'],
 ['G', '19', 'S'],
 ['G', '19', 'S'],
 ['G', '19', 'S'],
 ['B', '5', 'P'],
 ['B', '5', 'P'],
 ['B', '5', 'P'],
 ['E', '6', 'S'],
 ['B', '1', 'S'],
 ['F', '23', 'P'],
 ['G', '20', 'S'],
 ['F', '24', 'P'],
 ['D', '4', 'P'],
 ['A', '0', 'P'],
 ['A', '0', 'P'],
 ['F', '25', 'P'],
 ['G', '21', 'S'],
 ['F', '27', 'P'],
 ['F', '27', 'S'],
 ['E', '7', 'S'],
 ['D', '3', 'S'],
 ['E', '8', 'S'],
 ['G', '22', 'S'],
 ['F', '29', 'S'],
 ['D', '5', 'S'],
 ['G', '17', 'P'],
 ['G', '23', 'S'],
 ['G', '18', 'P'],
 ['E', '5', 'P'],
 ['C', '6', 'S'],
 ['G', '19', 'P'],
 ['F', '29', 'P'],
 ['F', '30', 'P'],
 ['F', '31', 'S'],
 ['G', '25', 'S'],
 ['G', '26', 'S'],
 ['F', '31', 'P'],
 ['G', '27', 'S'],
 ['G', '20', 'P'],
 ['F', '32', 'P'],
 ['G', '22', 'P'],
 ['B', '8', 'P'],
 ['B', '8', 'P'],
 ['G', '28', 'S'],
 ['G', '28', 'S'],
 ['F', '37', 'P'],
 ['F', '35', 'S'],
 ['F', '35', 'S'],
 ['G', '23', 'P'],
 ['E', '10', 'S'],
 ['G', '30', 'S'],
 ['G', '24', 'P'],
 ['E', '11', 'S'],
 ['F', '38', 'P'],
 ['B', '2', 'S'],
 ['D', '6', 'S'],
 ['G', '26', 'P'],
 ['G', '26', 'P'],
 ['G', '26', 'P'],
 ['G', '27', 'P'],
 ['C', '3', 'P'],
 ['F', '36', 'S'],
 ['G', '28', 'P'],
 ['G', '31', 'S'],
 ['E', '8', 'P'],
 ['G', '32', 'S'],
 ['G', '29', 'P'],
 ['G', '29', 'P'],
 ['G', '29', 'P'],
 ['F', '41', 'P'],
 ['F', '41', 'P'],
 ['F', '41', 'P'],
 ['F', '42', 'P'],
 ['D', '5', 'P'],
 ['C', '5', 'P'],
 ['G', '30', 'P'],
 ['G', '33', 'S'],
 ['G', '31', 'P'],
 ['B', '3', 'S'],
 ['B', '3', 'S'],
 ['B', '9', 'P'],
 ['A', '2', 'P'],
 ['C', '8', 'S'],
 ['G', '34', 'S'],
 ['C', '9', 'S'],
 ['G', '32', 'P'],
 ['D', '6', 'P'],
 ['F', '44', 'P'],
 ['F', '44', 'P'],
 ['F', '44', 'P'],
 ['E', '9', 'P'],
 ['F', '45', 'P'],
 ['F', '46', 'P'],
 ['F', '40', 'S'],
 ['F', '47', 'P'],
 ['G', '36', 'P'],
 ['G', '37', 'P'],
 ['G', '37', 'P'],
 ['G', '37', 'P'],
 ['E', '10', 'P'],
 ['F', '48', 'P'],
 ['G', '37', 'P'],
 ['G', '37', 'P'],
 ['E', '13', 'S'],
 ['E', '13', 'S'],
 ['E', '13', 'S'],
 ['E', '13', 'S'],
 ['E', '13', 'S'],
 ['E', '13', 'S'],
 ['E', '13', 'S'],
 ['F', '41', 'S'],
 ['F', '41', 'S'],
 ['E', '14', 'S'],
 ['G', '35', 'S'],
 ['F', '42', 'S'],
 ['G', '38', 'P'],
 ['F', '43', 'S'],
 ['F', '44', 'S'],
 ['G', '36', 'S'],
 ['F', '45', 'S'],
 ['F', '50', 'P'],
 ['B', '11', 'P'],
 ['F', '52', 'P'],
 ['E', '11', 'P'],
 ['F', '46', 'S'],
 ['G', '37', 'S'],
 ['F', '47', 'S'],
 ['C', '6', 'P'],
 ['C', '6', 'P'],
 ['D', '8', 'P'],
 ['C', '10', 'S'],
 ['G', '38', 'S'],
 ['C', '11', 'S'],
 ['F', '53', 'P'],
 ['G', '42', 'P'],
 ['F', '54', 'P'],
 ['A', '3', 'S'],
 ['F', '49', 'S'],
 ['F', '49', 'S'],
 ['F', '50', 'S'],
 ['E', '16', 'S'],
 ['F', '56', 'P'],
 ['G', '43', 'P'],
 ['D', '8', 'S'],
 ['F', '51', 'S'],
 ['F', '52', 'S'],
 ['F', '59', 'P'],
 ['D', '9', 'S'],
 ['F', '61', 'P'],
 ['G', '45', 'P'],
 ['F', '63', 'P'],
 ['F', '54', 'S'],
 ['G', '46', 'P'],
 ['F', '64', 'P'],
 ['E', '16', 'P'],
 ['E', '16', 'P'],
 ['F', '65', 'P'],
 ['B', '12', 'P'],
 ['F', '55', 'S'],
 ['C', '12', 'S'],
 ['B', '7', 'S'],
 ['B', '7', 'S'],
 ['B', '7', 'S'],
 ['B', '7', 'S'],
 ['D', '10', 'S'],
 ['B', '8', 'S'],
 ['G', '47', 'P'],
 ['A', '3', 'P'],
 ['F', '67', 'P'],
 ['G', '41', 'S'],
 ['E', '18', 'S'],
 ['C', '7', 'P'],
 ['E', '19', 'S'],
 ['F', '59', 'S'],
 ['F', '60', 'S'],
 ['F', '68', 'P'],
 ['G', '50', 'P'],
 ['F', '68', 'P'],
 ['G', '50', 'P'],
 ['G', '51', 'P'],
 ['G', '42', 'S'],
 ['B', '9', 'S'],
 ['B', '9', 'S'],
 ['G', '44', 'S'],
 ['G', '44', 'S'],
 ['F', '61', 'S'],
 ['G', '45', 'S'],
 ['G', '53', 'P'],
 ['G', '47', 'S'],
 ['C', '14', 'S'],
 ['C', '14', 'S'],
 ['C', '14', 'S'],
 ['F', '72', 'P'],
 ['F', '73', 'P'],
 ['F', '62', 'S'],
 ['F', '74', 'P'],
 ['F', '63', 'S'],
 ['F', '63', 'S'],
 ['F', '63', 'S'],
 ['G', '48', 'S'],
 ['B', '10', 'S'],
 ['G', '57', 'P'],
 ['F', '76', 'P'],
 ['E', '21', 'S'],
 ['G', '59', 'P'],
 ['F', '64', 'S'],
 ['D', '12', 'P'],
 ['G', '60', 'P'],
 ['F', '78', 'P'],
 ['B', '15', 'P'],
 ['F', '65', 'S'],
 ['G', '50', 'S'],
 ['G', '50', 'S'],
 ['F', '66', 'S'],
 ['F', '67', 'S'],
 ['F', '68', 'S'],
 ['G', '51', 'S'],
 ['F', '82', 'P'],
 ['F', '82', 'P'],
 ['G', '53', 'S'],
 ['F', '83', 'P'],
 ['F', '84', 'P'],
 ['F', '85', 'P'],
 ['G', '62', 'P'],
 ['E', '22', 'P'],
 ['G', '54', 'S'],
 ['C', '15', 'S'],
 ['B', '11', 'S'],
 ['B', '11', 'S'],
 ['B', '11', 'S'],
 ['B', '11', 'S'],
 ['B', '11', 'S'],
 ['B', '11', 'S'],
 ['B', '11', 'S'],
 ['G', '63', 'P'],
 ['B', '16', 'P'],
 ['B', '16', 'P'],
 ['G', '64', 'P'],
 ['G', '55', 'S'],
 ['G', '55', 'S'],
 ['G', '56', 'S'],
 ['G', '56', 'S'],
 ['G', '65', 'P'],
 ['G', '66', 'P'],
 ['G', '57', 'S'],
 ['E', '23', 'P'],
 ['C', '9', 'P'],
 ['E', '24', 'P'],
 ['B', '17', 'P'],
 ['B', '17', 'P'],
 ['G', '59', 'S'],
 ['F', '69', 'S'],
 ['D', '13', 'S'],
 ['D', '14', 'S'],
 ['D', '14', 'S'],
 ['D', '15', 'S'],
 ['D', '13', 'P'],
 ['F', '89', 'P'],
 ['G', '69', 'P'],
 ['F', '90', 'P'],
 ['G', '69', 'P'],
 ['E', '25', 'P'],
 ['F', '71', 'S'],
 ['F', '72', 'S'],
 ['F', '91', 'P'],
 ['C', '11', 'P'],
 ['F', '92', 'P'],
 ['G', '60', 'S'],
 ['B', '18', 'P'],
 ['B', '18', 'P'],
 ['B', '18', 'P'],
 ['B', '19', 'P'],
 ['F', '96', 'P'],
 ['F', '96', 'P'],
 ['F', '96', 'P'],
 ['E', '26', 'P'],
 ['C', '16', 'S'],
 ['A', '5', 'S'],
 ['A', '5', 'S'],
 ['F', '75', 'S'],
 ['F', '97', 'P'],
 ['F', '76', 'S'],
 ['B', '20', 'P'],
 ['B', '20', 'P'],
 ['F', '77', 'S'],
 ['G', '62', 'S'],
 ['G', '63', 'S'],
 ['G', '63', 'S'],
 ['F', '78', 'S'],
 ['F', '78', 'S'],
 ['B', '13', 'S'],
 ['C', '13', 'P'],
 ['F', '79', 'S'],
 ['F', '98', 'P'],
 ['D', '15', 'P'],
 ['F', '99', 'P'],
 ['F', '80', 'S'],
 ['E', '25', 'S'],
 ['B', '21', 'P'],
 ['F', '81', 'S'],
 ['E', '27', 'P'],
 ['G', '71', 'P'],
 ['G', '64', 'S'],
 ['E', '26', 'S'],
 ['B', '14', 'S'],
 ['B', '14', 'S'],
 ['B', '15', 'S'],
 ['B', '15', 'S'],
 ['B', '15', 'S'],
 ['F', '83', 'S'],
 ['G', '72', 'P'],
 ['G', '72', 'P'],
 ['G', '72', 'P'],
 ['D', '16', 'S'],
 ['F', '84', 'S'],
 ['G', '65', 'S'],
 ['E', '27', 'S'],
 ['F', '85', 'S'],
 ['G', '66', 'S'],
 ['G', '67', 'S'],
 ['F', '100', 'P'],
 ['F', '100', 'P'],
 ['E', '28', 'P'],
 ['E', '28', 'P'],
 ['F', '101', 'P'],
 ['F', '86', 'S'],
 ['F', '86', 'S'],
 ['B', '22', 'P'],
 ['B', '22', 'P'],
 ['F', '87', 'S'],
 ['G', '69', 'S'],
 ['E', '29', 'P'],
 ['F', '103', 'P'],
 ['F', '103', 'P'],
 ['F', '103', 'P'],
 ['E', '30', 'P'],
 ['G', '74', 'P'],
 ['G', '70', 'S'],
 ['E', '28', 'S'],
 ['F', '88', 'S'],
 ['B', '17', 'S'],
 ['C', '19', 'S'],
 ['G', '76', 'P'],
 ['G', '71', 'S'],
 ['B', '18', 'S'],
 ['F', '89', 'S'],
 ['E', '29', 'S'],
 ['D', '19', 'P'],
 ['E', '32', 'P'],
 ['F', '90', 'S'],
 ['F', '90', 'S'],
 ['E', '31', 'S'],
 ['B', '19', 'S'],
 ['B', '19', 'S'],
 ['B', '19', 'S'],
 ['B', '19', 'S'],
 ['B', '19', 'S'],
 ['B', '19', 'S'],
 ['F', '91', 'S'],
 ['G', '74', 'S'],
 ['C', '16', 'P'],
 ['D', '18', 'S'],
 ['D', '18', 'S'],
 ['G', '78', 'P'],
 ['B', '20', 'S'],
 ['A', '6', 'S'],
 ['F', '109', 'P'],
 ['F', '92', 'S'],
 ['G', '77', 'S'],
 ['G', '78', 'S'],
 ['E', '32', 'S'],
 ['E', '33', 'P'],
 ['E', '33', 'S'],
 ['F', '93', 'S'],
 ['F', '93', 'S'],
 ['C', '17', 'P'],
 ['G', '81', 'P'],
 ['G', '82', 'P'],
 ['G', '82', 'P'],
 ['D', '21', 'P'],
 ['B', '23', 'P'],
 ['B', '23', 'P'],
 ['G', '83', 'P'],
 ['F', '110', 'P'],
 ['C', '18', 'P'],
 ['C', '18', 'P'],
 ['C', '18', 'P'],
 ['C', '18', 'P'],
 ['C', '18', 'P'],
 ['F', '95', 'S'],
 ['F', '95', 'S'],
 ['G', '84', 'P'],
 ['F', '111', 'P'],
 ['F', '96', 'S'],
 ['F', '97', 'S'],
 ['E', '36', 'S'],
 ['D', '19', 'S'],
 ['F', '98', 'S'],
 ['F', '99', 'S'],
 ['G', '80', 'S'],
 ['C', '21', 'S'],
 ['C', '19', 'P'],
 ['C', '19', 'P'],
 ['C', '20', 'P'],
 ['C', '20', 'P'],
 ['F', '100', 'S'],
 ['F', '102', 'S'],
 ['G', '81', 'S'],
 ['G', '81', 'S'],
 ['F', '103', 'S'],
 ['G', '82', 'S'],
 ['F', '114', 'P'],
 ['B', '24', 'P'],
 ['B', '24', 'P'],
 ['B', '24', 'P'],
 ['F', '115', 'P'],
 ['E', '37', 'S'],
 ['G', '83', 'S'],
 ['D', '20', 'S'],
 ['D', '20', 'S'],
 ['F', '116', 'P'],
 ['C', '22', 'S'],
 ['C', '21', 'P'],
 ['C', '21', 'P'],
 ['C', '21', 'P'],
 ['C', '21', 'P'],
 ['C', '21', 'P'],
 ['C', '21', 'P'],
 ['C', '21', 'P'],
 ['F', '105', 'S'],
 ['F', '117', 'P'],
 ['E', '34', 'P'],
 ['F', '107', 'S'],
 ['G', '86', 'P'],
 ['F', '108', 'S'],
 ['G', '85', 'S'],
 ['G', '87', 'P'],
 ['E', '38', 'S'],
 ['F', '118', 'P'],
 ['F', '109', 'S'],
 ['F', '109', 'S'],
 ['F', '109', 'S'],
 ['F', '120', 'P'],
 ['F', '120', 'P'],
 ['D', '22', 'P'],
 ['D', '23', 'P'],
 ['F', '121', 'P'],
 ['G', '89', 'P'],
 ['E', '35', 'P'],
 ['G', '90', 'P'],
 ['G', '86', 'S'],
 ['D', '24', 'P'],
 ['G', '87', 'S'],
 ['E', '39', 'S'],
 ['F', '123', 'P'],
 ['G', '91', 'P'],
 ['G', '91', 'P'],
 ['G', '89', 'S'],
 ['F', '124', 'P'],
 ['F', '124', 'P'],
 ['F', '124', 'P'],
 ['F', '124', 'P'],
 ['C', '23', 'S'],
 ['F', '125', 'P'],
 ['E', '36', 'P'],
 ['F', '125', 'P'],
 ['F', '126', 'P'],
 ['C', '22', 'P'],
 ['C', '22', 'P'],
 ['C', '22', 'P'],
 ['G', '94', 'P'],
 ['F', '128', 'P'],
 ['F', '129', 'P'],
 ['G', '90', 'S'],
 ['B', '25', 'P'],
 ['G', '91', 'S'],
 ['G', '92', 'S'],
 ['G', '92', 'S'],
 ['G', '92', 'S'],
 ['G', '95', 'P'],
 ['F', '131', 'P'],
 ['C', '24', 'S'],
 ['C', '24', 'S'],
 ['G', '93', 'S'],
 ['F', '133', 'P'],
 ['G', '96', 'P'],
 ['F', '112', 'S'],
 ['F', '113', 'S'],
 ['D', '25', 'P'],
 ['F', '135', 'P'],
 ['G', '94', 'S'],
 ['E', '43', 'S'],
 ['F', '136', 'P'],
 ['F', '136', 'P'],
 ['E', '44', 'S'],
 ['B', '28', 'P'],
 ['F', '137', 'P'],
 ['F', '114', 'S'],
 ['C', '25', 'S'],
 ['C', '25', 'S'],
 ['C', '25', 'S'],
 ['C', '25', 'S'],
 ['C', '25', 'S'],
 ['F', '138', 'P'],
 ['E', '38', 'P'],
 ['G', '98', 'P'],
 ['C', '26', 'S'],
 ['F', '115', 'S'],
 ['F', '115', 'S'],
 ['F', '115', 'S'],
 ['G', '95', 'S'],
 ['E', '45', 'S'],
 ['E', '39', 'P'],
 ['G', '101', 'P'],
 ['F', '117', 'S'],
 ['G', '97', 'S'],
 ['F', '118', 'S'],
 ['G', '98', 'S'],
 ['G', '99', 'S'],
 ['C', '23', 'P'],
 ['F', '140', 'P'],
 ['E', '46', 'S'],
 ['F', '141', 'P'],
 ['F', '141', 'P'],
 ['F', '142', 'P'],
 ['F', '143', 'P'],
 ['G', '102', 'P'],
 ['G', '103', 'P'],
 ['G', '101', 'S'],
 ['G', '102', 'S'],
 ['G', '103', 'S'],
 ['G', '104', 'S'],
 ['G', '105', 'P'],
 ['G', '105', 'P'],
 ['G', '105', 'P'],
 ['F', '121', 'S'],
 ['F', '144', 'P'],
 ['F', '145', 'P'],
 ['F', '145', 'P'],
 ['F', '145', 'P'],
 ['E', '41', 'P'],
 ['F', '146', 'P'],
 ['D', '30', 'P'],
 ['D', '23', 'S'],
 ['E', '48', 'S'],
 ['B', '25', 'S'],
 ['F', '122', 'S'],
 ['E', '49', 'S'],
 ['F', '123', 'S'],
 ['E', '49', 'S'],
 ['C', '27', 'S'],
 ['G', '107', 'S'],
 ['F', '147', 'P'],
 ['F', '126', 'S'],
 ['D', '24', 'S'],
 ['D', '25', 'S'],
 ['F', '127', 'S'],
 ['G', '108', 'S'],
 ['G', '107', 'P'],
 ['F', '149', 'P'],
 ['G', '109', 'S'],
 ['A', '7', 'S'],
 ['A', '7', 'S'],
 ['E', '42', 'P'],
 ['F', '150', 'P'],
 ['F', '150', 'P'],
 ['E', '50', 'S'],
 ['G', '109', 'P'],
 ['G', '109', 'P'],
 ['G', '109', 'P'],
 ['G', '109', 'P'],
 ['G', '109', 'P'],
 ['G', '109', 'P'],
 ['G', '109', 'P'],
 ['E', '43', 'P'],
 ['E', '44', 'P'],
 ['F', '132', 'S'],
 ['G', '111', 'P'],
 ['F', '133', 'S'],
 ['F', '134', 'S'],
 ['E', '53', 'S'],
 ['F', '153', 'P'],
 ['F', '154', 'P'],
 ['F', '156', 'P'],
 ['C', '28', 'S'],
 ['F', '157', 'P'],
 ['C', '24', 'P'],
 ['C', '24', 'P'],
 ['C', '24', 'P'],
 ['G', '111', 'S'],
 ['G', '112', 'S'],
 ['F', '140', 'S'],
 ['A', '4', 'P'],
 ['A', '4', 'P'],
 ['D', '31', 'P'],
 ['B', '27', 'S'],
 ['B', '27', 'S'],
 ['B', '27', 'S'],
 ['D', '33', 'P'],
 ['C', '26', 'P'],
 ['G', '114', 'S'],
 ['G', '115', 'S'],
 ['F', '142', 'S'],
 ['F', '142', 'S'],
 ['G', '116', 'S'],
 ['B', '32', 'P'],
 ['B', '32', 'P'],
 ['B', '28', 'S'],
 ['G', '117', 'S'],
 ['G', '117', 'S'],
 ['G', '117', 'S'],
 ['G', '117', 'S'],
 ['G', '117', 'S'],
 ['G', '117', 'S'],
 ['G', '112', 'P'],
 ['E', '56', 'S'],
 ['E', '56', 'S'],
 ['E', '56', 'S'],
 ['E', '56', 'S'],
 ['F', '143', 'S'],
 ['F', '161', 'P'],
 ['A', '5', 'P'],
 ['F', '162', 'P'],
 ['G', '118', 'S'],
 ['F', '163', 'P'],
 ['C', '33', 'S'],
 ['F', '165', 'P'],
 ['G', '113', 'P'],
 ['G', '114', 'P'],
 ['F', '166', 'P'],
 ['A', '8', 'S'],
 ['A', '8', 'S'],
 ['A', '8', 'S'],
 ['G', '119', 'S'],
 ['G', '115', 'P'],
 ['G', '117', 'P'],
 ['F', '144', 'S'],
 ['F', '144', 'S'],
 ['F', '145', 'S'],
 ['D', '28', 'S'],
 ['F', '146', 'S'],
 ['F', '147', 'S'],
 ['A', '6', 'P'],
 ['F', '148', 'S'],
 ['C', '29', 'P'],
 ['F', '149', 'S'],
 ['G', '120', 'S'],
 ['E', '57', 'S'],
 ['F', '151', 'S'],
 ['F', '151', 'S'],
 ['F', '151', 'S'],
 ['F', '151', 'S'],
 ['F', '152', 'S'],
 ['F', '152', 'S'],
 ['F', '152', 'S'],
 ['F', '169', 'P'],
 ['E', '59', 'S'],
 ['E', '60', 'S'],
 ['G', '119', 'P'],
 ['B', '29', 'S'],
 ['G', '121', 'S'],
 ['F', '154', 'S'],
 ['G', '122', 'S'],
 ['F', '156', 'S'],
 ['G', '123', 'S'],
 ['F', '158', 'S'],
 ['G', '120', 'P'],
 ['F', '159', 'S'],
 ['F', '159', 'S'],
 ['F', '170', 'P'],
 ['F', '171', 'P'],
 ['F', '173', 'P'],
 ['G', '124', 'S'],
 ['F', '160', 'S'],
 ['B', '30', 'S'],
 ['G', '123', 'P'],
 ['B', '31', 'S'],
 ['G', '125', 'S'],
 ['F', '175', 'P'],
 ['F', '175', 'P'],
 ['B', '32', 'S'],
 ['B', '32', 'S'],
 ['E', '62', 'S'],
 ['F', '176', 'P'],
 ['A', '9', 'S'],
 ['G', '127', 'S'],
 ['E', '48', 'P'],
 ['G', '129', 'S'],
 ['G', '129', 'S'],
 ['G', '129', 'S'],
 ['B', '35', 'S'],
 ['B', '35', 'S'],
 ['F', '163', 'S'],
 ['G', '130', 'S'],
 ['F', '164', 'S'],
 ['G', '126', 'P'],
 ['A', '10', 'S'],
 ['F', '180', 'P'],
 ['F', '165', 'S'],
 ['G', '131', 'S'],
 ['F', '166', 'S'],
 ['C', '30', 'P'],
 ['D', '31', 'S'],
 ['D', '32', 'S'],
 ['G', '127', 'P'],
 ['G', '133', 'S'],
 ['G', '133', 'S'],
 ['C', '32', 'P'],
 ['C', '32', 'P'],
 ['F', '184', 'P'],
 ['G', '129', 'P'],
 ['G', '134', 'S'],
 ['F', '187', 'P'],
 ['G', '130', 'P'],
 ['F', '167', 'S'],
 ['F', '188', 'P'],
 ['G', '135', 'S'],
 ['C', '33', 'P'],
 ['D', '38', 'P'],
 ['F', '168', 'S'],
 ['B', '34', 'P'],
 ['B', '34', 'P'],
 ['G', '137', 'S'],
 ['F', '189', 'P'],
 ['F', '189', 'P'],
 ['B', '37', 'S'],
 ['E', '51', 'P'],
 ['G', '138', 'S'],
 ['E', '66', 'S'],
 ['F', '190', 'P'],
 ['G', '139', 'S'],
 ['B', '35', 'P'],
 ['B', '35', 'P'],
 ['C', '38', 'S'],
 ['B', '38', 'S'],
 ['E', '67', 'S'],
 ['F', '191', 'P'],
 ['F', '191', 'P'],
 ['F', '191', 'P'],
 ['B', '39', 'S'],
 ['B', '39', 'S'],
 ['G', '140', 'S'],
 ['G', '133', 'P'],
 ['F', '192', 'P'],
 ['G', '134', 'P'],
 ['F', '193', 'P'],
 ['C', '35', 'P'],
 ['C', '35', 'P'],
 ['F', '194', 'P'],
 ['F', '172', 'S'],
 ['E', '68', 'S'],
 ['G', '143', 'S'],
 ['G', '135', 'P'],
 ['G', '136', 'P'],
 ['F', '195', 'P'],
 ['F', '196', 'P'],
 ['G', '137', 'P'],
 ['G', '137', 'P'],
 ['F', '198', 'P'],
 ['G', '138', 'P'],
 ['G', '140', 'P'],
 ['G', '144', 'S'],
 ['F', '175', 'S'],
 ['F', '199', 'P'],
 ['G', '145', 'S'],
 ['E', '70', 'S'],
 ['F', '201', 'P'],
 ['E', '72', 'S'],
 ['G', '141', 'P'],
 ['B', '36', 'P'],
 ['B', '36', 'P'],
 ['F', '178', 'S'],
 ['F', '179', 'S'],
 ['E', '53', 'P'],
 ['F', '202', 'P'],
 ['G', '142', 'P'],
 ['G', '143', 'P'],
 ['E', '54', 'P'],
 ['E', '56', 'P'],
 ['G', '146', 'S'],
 ['F', '203', 'P'],
 ['B', '40', 'S'],
 ['G', '145', 'P'],
 ['G', '145', 'P'],
 ['G', '149', 'S'],
 ['G', '150', 'S'],
 ['F', '182', 'S'],
 ['G', '150', 'S'],
 ['G', '150', 'S'],
 ['F', '182', 'S'],
 ['G', '150', 'S'],
 ['G', '150', 'S'],
 ['G', '150', 'S'],
 ['E', '57', 'P'],
 ['F', '204', 'P'],
 ['G', '151', 'S'],
 ['E', '73', 'S'],
 ['G', '146', 'P'],
 ['F', '183', 'S'],
 ['G', '152', 'S'],
 ['D', '35', 'S'],
 ['D', '35', 'S'],
 ['D', '35', 'S'],
 ['D', '35', 'S'],
 ['D', '35', 'S'],
 ['F', '184', 'S'],
 ['G', '153', 'S'],
 ['F', '185', 'S'],
 ['C', '36', 'P'],
 ['F', '186', 'S'],
 ['C', '37', 'P'],
 ['D', '39', 'P'],
 ['G', '154', 'S'],
 ['F', '187', 'S'],
 ['F', '187', 'S'],
 ['F', '187', 'S'],
 ['A', '11', 'S'],
 ['G', '156', 'S'],
 ['E', '74', 'S'],
 ['E', '74', 'S'],
 ['C', '39', 'S'],
 ['C', '39', 'S'],
 ['G', '148', 'P'],
 ['G', '149', 'P'],
 ['G', '158', 'S'],
 ['F', '207', 'P'],
 ['F', '189', 'S'],
 ['F', '190', 'S'],
 ['G', '150', 'P'],
 ['F', '191', 'S'],
 ['F', '208', 'P'],
 ['F', '209', 'P'],
 ['G', '152', 'P'],
 ['G', '152', 'P'],
 ['G', '152', 'P'],
 ['F', '210', 'P'],
 ['G', '159', 'S'],
 ['F', '211', 'P'],
 ['F', '211', 'P'],
 ['F', '211', 'P'],
 ['F', '211', 'P'],
 ['F', '212', 'P'],
 ['F', '213', 'P'],
 ['F', '194', 'S'],
 ['G', '153', 'P'],
 ['G', '154', 'P'],
 ['G', '155', 'P'],
 ['F', '214', 'P'],
 ['G', '161', 'S'],
 ['G', '163', 'S'],
 ['G', '164', 'S'],
 ['F', '215', 'P'],
 ['C', '38', 'P'],
 ['C', '38', 'P'],
 ['F', '196', 'S'],
 ['G', '156', 'P'],
 ['F', '216', 'P'],
 ['F', '217', 'P'],
 ['F', '217', 'P'],
 ['F', '197', 'S'],
 ['F', '198', 'S'],
 ['F', '199', 'S'],
 ['F', '200', 'S'],
 ['F', '218', 'P'],
 ['F', '218', 'P'],
 ['C', '39', 'P'],
 ['F', '201', 'S'],
 ['G', '166', 'S'],
 ['F', '219', 'P'],
 ['B', '38', 'P'],
 ['B', '38', 'P'],
 ['F', '202', 'S'],
 ['F', '220', 'P'],
 ['G', '167', 'S'],
 ['T', '0', 'P'],
 ['B', '41', 'S'],
 ['B', '41', 'S'],
 ['G', '161', 'P'],
 ['G', '162', 'P'],
 ['E', '60', 'P'],
 ['G', '163', 'P'],
 ['F', '204', 'S'],
 ['F', '205', 'S'],
 ['F', '206', 'S'],
 ['F', '206', 'S'],
 ['F', '206', 'S'],
 ['F', '207', 'S'],
 ['G', '165', 'P'],
 ['G', '166', 'P'],
 ['G', '166', 'P'],
 ['G', '166', 'P'],
 ['E', '61', 'P'],
 ['G', '166', 'P'],
 ['G', '169', 'S'],
 ['D', '41', 'P'],
 ['D', '41', 'P'],
 ['F', '223', 'P'],
 ['D', '42', 'P'],
 ['F', '224', 'P'],
 ['G', '170', 'S'],
 ['E', '76', 'S'],
 ['F', '225', 'P'],
 ['F', '226', 'P'],
 ...]

In [132]:
def change_destination(df):
    print(df.shape)
    df_cabin_splited = pd.DataFrame(index=df[~(df.Cabin.isna())].index, data=list(df[~(df.Cabin.isna())].loc[:,'Cabin'].apply(lambda x: x.split('/')).values), columns=['Cabin_first', 'Cabin_second','Cabin_third'])
    print(df_cabin_splited.shape)
    df_train = pd.merge(left=df, right=df_cabin_splited, left_index=True, right_index=True)
    print(df_train.shape)
    df_train = pd.get_dummies(data=df_train, columns=['HomePlanet','Destination', 'Cabin_first', 'Cabin_third'])
    print(df_train)
    df_train_without_Name=df_train.drop(columns=['PassengerId','Cabin','Name'])
    print(df_train_without_Name)
    return df_train_without_Name

In [125]:
df_cabin_splited = pd.DataFrame(index=df[~(df.Cabin.isna())].index, data=list(df[~(df.Cabin.isna())].loc[:,'Cabin'].apply(lambda x: x.split('/')).values), columns=['Cabin_first', 'Cabin_second','Cabin_third'])

In [126]:
df_cabin_splited.shape

(8494, 3)

In [127]:
df_train = pd.merge(left=df, right=df_cabin_splited, left_index=True, right_index=True)

In [128]:
df_train.shape

(8494, 20)

In [129]:
df_train = pd.get_dummies(data=df_train, columns=['HomePlanet','Destination', 'Cabin_first', 'Cabin_third'])

In [130]:
df_train.shape

(8494, 32)

In [131]:
df_train.columns

Index(['PassengerId', 'CryoSleep', 'Cabin', 'Age', 'VIP', 'RoomService',
       'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name', 'Transported',
       'Passenger_Group', 'Passenger_Group_ID', 'Num_of_Group_meber',
       'Cabin_second', 'HomePlanet_Earth', 'HomePlanet_Europa',
       'HomePlanet_Mars', 'Destination_55 Cancri e',
       'Destination_PSO J318.5-22', 'Destination_TRAPPIST-1e', 'Cabin_first_A',
       'Cabin_first_B', 'Cabin_first_C', 'Cabin_first_D', 'Cabin_first_E',
       'Cabin_first_F', 'Cabin_first_G', 'Cabin_first_T', 'Cabin_third_P',
       'Cabin_third_S'],
      dtype='object')

In [29]:
df_train_without_Name=df_train.drop(columns=['PassengerId','Cabin','Name'])

In [30]:
df_train_without_Name.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8494 entries, 0 to 8692
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CryoSleep                  8494 non-null   int64
 1   Age                        8319 non-null   float64
 2   VIP                        8494 non-null   int64
 3   RoomService                8317 non-null   float64
 4   FoodCourt                  8316 non-null   float64
 5   ShoppingMall               8288 non-null   float64
 6   Spa                        8313 non-null   float64
 7   VRDeck                     8310 non-null   float64
 8   Transported                8494 non-null   int64
 9   Passenger_Group            8494 non-null   object
 10  Passenger_Group_ID         8494 non-null   object
 11  Num_of_Group_meber         8494 non-null   int64
 12  Cabin_second               8494 non-null   object
 13  HomePlanet_Earth           8494 non-null   uint8
 14  HomePlanet_Europa          8494 non-null   uint8
 15  HomePlanet_Mars            8494 non-null   uint8
 16  Destination_55 Cancri e    8494 non-null   uint8
 17  Destination_PSO J318.5-22  8494 non-null   uint8
 18  Destination_TRAPPIST-1e    8494 non-null   uint8
 19  Cabin_first_A              8494 non-null   uint8
 20  Cabin_first_B              8494 non-null   uint8
 21  Cabin_first_C              8494 non-null   uint8
 22  Cabin_first_D              8494 non-null   uint8
 23  Cabin_first_E              8494 non-null   uint8
 24  Cabin_first_F              8494 non-null   uint8
 25  Cabin_first_G              8494 non-null   uint8
 26  Cabin_first_T              8494 non-null   uint8
 27  Cabin_third_P              8494 non-null   uint8
 28  Cabin_third_S              8494 non-null   uint8
dtypes: float64(6), int64(4), object(3), uint8(16)
memory usage: 1.0+ MB

In [51]:
def change_str_type(df_train_without_Name):
    df_train_without_Name.Passenger_Group.apply(lambda x: type(x)==type('a'))
    object_sel = df_train_without_Name.iloc[0,:].apply(lambda x: type(x)==type('a')).values
    df_train_without_Name.loc[:,object_sel] = df_train_without_Name.loc[:,object_sel].astype('int')
    return df_train_without_Name

In [31]:
df_train_without_Name.Passenger_Group.apply(lambda x: type(x)==type('a'))

0       True
1       True
2       True
3       True
4       True
        ...
8688    True
8689    True
8690    True
8691    True
8692    True
Name: Passenger_Group, Length: 8494, dtype: bool

In [32]:
object_sel = df_train_without_Name.iloc[0,:].apply(lambda x: type(x)==type('a')).values

In [33]:
df_train_without_Name.loc[:,object_sel] = df_train_without_Name.loc[:,object_sel].astype('int')

C:\Users\yuvjj\AppData\Local\Temp\ipykernel_18616\184007620.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_train_without_Name.loc[:,object_sel] = df_train_without_Name.loc[:,object_sel].astype('int')

In [34]:
df_train_without_Name.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8494 entries, 0 to 8692
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CryoSleep                  8494 non-null   int64
 1   Age                        8319 non-null   float64
 2   VIP                        8494 non-null   int64
 3   RoomService                8317 non-null   float64
 4   FoodCourt                  8316 non-null   float64
 5   ShoppingMall               8288 non-null   float64
 6   Spa                        8313 non-null   float64
 7   VRDeck                     8310 non-null   float64
 8   Transported                8494 non-null   int64
 9   Passenger_Group            8494 non-null   int32
 10  Passenger_Group_ID         8494 non-null   int32
 11  Num_of_Group_meber         8494 non-null   int64
 12  Cabin_second               8494 non-null   int32
 13  HomePlanet_Earth           8494 non-null   uint8
 14  HomePlanet_Europa          8494 non-null   uint8
 15  HomePlanet_Mars            8494 non-null   uint8
 16  Destination_55 Cancri e    8494 non-null   uint8
 17  Destination_PSO J318.5-22  8494 non-null   uint8
 18  Destination_TRAPPIST-1e    8494 non-null   uint8
 19  Cabin_first_A              8494 non-null   uint8
 20  Cabin_first_B              8494 non-null   uint8
 21  Cabin_first_C              8494 non-null   uint8
 22  Cabin_first_D              8494 non-null   uint8
 23  Cabin_first_E              8494 non-null   uint8
 24  Cabin_first_F              8494 non-null   uint8
 25  Cabin_first_G              8494 non-null   uint8
 26  Cabin_first_T              8494 non-null   uint8
 27  Cabin_third_P              8494 non-null   uint8
 28  Cabin_third_S              8494 non-null   uint8
dtypes: float64(6), int32(3), int64(4), uint8(16)
memory usage: 962.2 KB

In [35]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.ensemble import RandomForestRegressor

In [36]:
enable_iterative_imputer.IterativeImputer()

IterativeImputer()

In [37]:
imp = enable_iterative_imputer.IterativeImputer(estimator=RandomForestRegressor(n_estimators=10))

In [38]:
df_imputed = pd.DataFrame(imp.fit_transform(df_train_without_Name), columns=df_train_without_Name.columns)

C:\Users\yuvjj\Anaconda3\envs\data_science_for_python\lib\site-packages\sklearn\impute\_iterative.py:713: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

In [42]:
df_imputed

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Passenger_Group,...,Cabin_first_A,Cabin_first_B,Cabin_first_C,Cabin_first_D,Cabin_first_E,Cabin_first_F,Cabin_first_G,Cabin_first_T,Cabin_third_P,Cabin_third_S
0,1.0,39.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,24.0,1.0,109.0,9.0,25.0,549.0,44.0,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,1.0,58.0,1.0,43.0,3576.0,0.0,6715.0,49.0,1.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,33.0,1.0,0.0,1283.0,371.0,3329.0,193.0,1.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,16.0,1.0,303.0,70.0,151.0,565.0,2.0,1.0,4.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8489,1.0,41.0,1.0,0.0,6819.0,0.0,1643.0,74.0,1.0,9276.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8490,1.0,18.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,9278.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
8491,1.0,26.0,1.0,0.0,0.0,1872.0,1.0,0.0,1.0,9279.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
8492,1.0,32.0,1.0,0.0,1049.0,0.0,353.0,3235.0,1.0,9280.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
8493,1.0,44.0,1.0,126.0,4688.0,0.0,0.0,12.0,1.0,9280.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [133]:
df_test = pd.read_csv("test.csv")

In [134]:
df_test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [135]:
df_test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [136]:
df_test = change_passengerID(df_test)

In [137]:
df_test.shape

(4277, 16)

In [138]:
df_test = change_simple_values(df_test)

In [139]:
df_test.shape

(4277, 16)

In [140]:
df_test = change_destination(df_test)

(4277, 16)
(4177, 3)
     PassengerId HomePlanet  CryoSleep     Cabin    Destination   Age  VIP  \
0        0013_01      Earth          1     G/3/S    TRAPPIST-1e  27.0    1
1        0018_01      Earth          1     F/4/S    TRAPPIST-1e  19.0    1
2        0019_01     Europa          1     C/0/S    55 Cancri e  31.0    1
3        0021_01     Europa          1     C/1/S    TRAPPIST-1e  38.0    1
4        0023_01      Earth          1     F/5/S    TRAPPIST-1e  20.0    1
...          ...        ...        ...       ...            ...   ...  ...
4271     9266_01      Earth          1  F/1796/S    TRAPPIST-1e  40.0    1
4272     9266_02      Earth          1  G/1496/S    TRAPPIST-1e  34.0    1
4274     9271_01       Mars          1   D/296/P    55 Cancri e   NaN    1
4275     9273_01     Europa          1   D/297/P            NaN   NaN    1
4276     9277_01      Earth          1  G/1498/S  PSO J318.5-22  43.0    1

      RoomService  FoodCourt  ShoppingMall     Spa  VRDeck              Name  \
0             0.0        0.0           0.0     0.0     0.0   Nelly Carsoning
1             0.0        9.0           0.0  2823.0     0.0    Lerome Peckers
2             0.0        0.0           0.0     0.0     0.0   Sabih Unhearfus
3             0.0     6652.0           0.0   181.0   585.0  Meratz Caltilter
4            10.0        0.0         635.0     0.0     0.0   Brence Harperez
...           ...        ...           ...     ...     ...               ...
4271          0.0      865.0           0.0     3.0     0.0       Danna Peter
4272          0.0        0.0           0.0     0.0     0.0       Jeron Peter
4274          0.0        0.0           0.0     0.0     0.0       Jayrin Pore
4275          0.0     2680.0           0.0     0.0   523.0    Kitakan Conale
4276          0.0        0.0           0.0     0.0     0.0  Lilace Leonzaley

     Passenger_Group Passenger_Group_ID  Num_of_Group_meber Cabin_first  \
0               0013                 01                   1           G
1               0018                 01                   1           F
2               0019                 01                   1           C
3               0021                 01                   1           C
4               0023                 01                   1           F
...              ...                ...                 ...         ...
4271            9266                 01                   2           F
4272            9266                 02                   2           G
4274            9271                 01                   1           D
4275            9273                 01                   1           D
4276            9277                 01                   1           G

     Cabin_second Cabin_third
0               3           S
1               4           S
2               0           S
3               1           S
4               5           S
...           ...         ...
4271         1796           S
4272         1496           S
4274          296           P
4275          297           P
4276         1498           S

[4177 rows x 19 columns]
     PassengerId  CryoSleep     Cabin   Age  VIP  RoomService  FoodCourt  \
0        0013_01          1     G/3/S  27.0    1          0.0        0.0
1        0018_01          1     F/4/S  19.0    1          0.0        9.0
2        0019_01          1     C/0/S  31.0    1          0.0        0.0
3        0021_01          1     C/1/S  38.0    1          0.0     6652.0
4        0023_01          1     F/5/S  20.0    1         10.0        0.0
...          ...        ...       ...   ...  ...          ...        ...
4271     9266_01          1  F/1796/S  40.0    1          0.0      865.0
4272     9266_02          1  G/1496/S  34.0    1          0.0        0.0
4274     9271_01          1   D/296/P   NaN    1          0.0        0.0
4275     9273_01          1   D/297/P   NaN    1          0.0     2680.0
4276     9277_01          1  G/1498/S  43.0    1          0.0        0.0

      ShoppingMall     Spa  VRDeck  ... Cabin_first_A Cabin_first_B  \
0              0.0     0.0     0.0  ...             0             0
1              0.0  2823.0     0.0  ...             0             0
2              0.0     0.0     0.0  ...             0             0
3              0.0   181.0   585.0  ...             0             0
4            635.0     0.0     0.0  ...             0             0
...            ...     ...     ...  ...           ...           ...
4271           0.0     3.0     0.0  ...             0             0
4272           0.0     0.0     0.0  ...             0             0
4274           0.0     0.0     0.0  ...             0             0
4275           0.0     0.0   523.0  ...             0             0
4276           0.0     0.0     0.0  ...             0             0

     Cabin_first_C  Cabin_first_D Cabin_first_E  Cabin_first_F  Cabin_first_G  \
0                0              0             0              0              1
1                0              0             0              1              0
2                1              0             0              0              0
3                1              0             0              0              0
4                0              0             0              1              0
...            ...            ...           ...            ...            ...
4271             0              0             0              1              0
4272             0              0             0              0              1
4274             0              1             0              0              0
4275             0              1             0              0              0
4276             0              0             0              0              1

      Cabin_first_T  Cabin_third_P  Cabin_third_S
0                 0              0              1
1                 0              0              1
2                 0              0              1
3                 0              0              1
4                 0              0              1
...             ...            ...            ...
4271              0              0              1
4272              0              0              1
4274              0              1              0
4275              0              1              0
4276              0              0              1

[4177 rows x 31 columns]
      CryoSleep   Age  VIP  RoomService  FoodCourt  ShoppingMall     Spa  \
0             1  27.0    1          0.0        0.0           0.0     0.0
1             1  19.0    1          0.0        9.0           0.0  2823.0
2             1  31.0    1          0.0        0.0           0.0     0.0
3             1  38.0    1          0.0     6652.0           0.0   181.0
4             1  20.0    1         10.0        0.0         635.0     0.0
...         ...   ...  ...          ...        ...           ...     ...
4271          1  40.0    1          0.0      865.0           0.0     3.0
4272          1  34.0    1          0.0        0.0           0.0     0.0
4274          1   NaN    1          0.0        0.0           0.0     0.0
4275          1   NaN    1          0.0     2680.0           0.0     0.0
4276          1  43.0    1          0.0        0.0           0.0     0.0

      VRDeck Passenger_Group Passenger_Group_ID  ...  Cabin_first_A  \
0        0.0            0013                 01  ...              0
1        0.0            0018                 01  ...              0
2        0.0            0019                 01  ...              0
3      585.0            0021                 01  ...              0
4        0.0            0023                 01  ...              0
...      ...             ...                ...  ...            ...
4271     0.0            9266                 01  ...              0
4272     0.0            9266                 02  ...              0
4274     0.0            9271                 01  ...              0
4275   523.0            9273                 01  ...              0
4276     0.0            9277                 01  ...              0

     Cabin_first_B  Cabin_first_C  Cabin_first_D  Cabin_first_E  \
0                0              0              0              0
1                0              0              0              0
2                0              1              0              0
3                0              1              0              0
4                0              0              0              0
...            ...            ...            ...            ...
4271             0              0              0              0
4272             0              0              0              0
4274             0              0              1              0
4275             0              0              1              0
4276             0              0              0              0

      Cabin_first_F  Cabin_first_G  Cabin_first_T  Cabin_third_P  \
0                 0              1              0              0
1                 1              0              0              0
2                 0              0              0              0
3                 0              0              0              0
4                 1              0              0              0
...             ...            ...            ...            ...
4271              1              0              0              0
4272              0              1              0              0
4274              0              0              0              1
4275              0              0              0              1
4276              0              1              0              0

      Cabin_third_S
0                 1
1                 1
2                 1
3                 1
4                 1
...             ...
4271              1
4272              1
4274              0
4275              0
4276              1

[4177 rows x 28 columns]

In [92]:
df_test.shape

(4177, 28)

In [93]:
df_test = change_str_type(df_test)

C:\Users\yuvjj\AppData\Local\Temp\ipykernel_18616\1754423058.py:4: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_train_without_Name.loc[:,object_sel] = df_train_without_Name.loc[:,object_sel].astype('int')

In [94]:
df_test.shape

(4177, 28)

In [74]:
df_test

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Passenger_Group,Passenger_Group_ID,...,Cabin_first_A,Cabin_first_B,Cabin_first_C,Cabin_first_D,Cabin_first_E,Cabin_first_F,Cabin_first_G,Cabin_first_T,Cabin_third_P,Cabin_third_S
0,1,27.0,1,0.0,0.0,0.0,0.0,0.0,13,1,...,0,0,0,0,0,0,1,0,0,1
1,1,19.0,1,0.0,9.0,0.0,2823.0,0.0,18,1,...,0,0,0,0,0,1,0,0,0,1
2,1,31.0,1,0.0,0.0,0.0,0.0,0.0,19,1,...,0,0,1,0,0,0,0,0,0,1
3,1,38.0,1,0.0,6652.0,0.0,181.0,585.0,21,1,...,0,0,1,0,0,0,0,0,0,1
4,1,20.0,1,10.0,0.0,635.0,0.0,0.0,23,1,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4271,1,40.0,1,0.0,865.0,0.0,3.0,0.0,9266,1,...,0,0,0,0,0,1,0,0,0,1
4272,1,34.0,1,0.0,0.0,0.0,0.0,0.0,9266,2,...,0,0,0,0,0,0,1,0,0,1
4274,1,NaN,1,0.0,0.0,0.0,0.0,0.0,9271,1,...,0,0,0,1,0,0,0,0,1,0
4275,1,NaN,1,0.0,2680.0,0.0,0.0,523.0,9273,1,...,0,0,0,1,0,0,0,0,1,0
4276,1,43.0,1,0.0,0.0,0.0,0.0,0.0,9277,1,...,0,0,0,0,0,0,1,0,0,1

In [75]:
df_test.iloc[4275,:]

IndexError: single positional indexer is out-of-bounds