In [3]:
import pandas as pd

In [4]:
from statsmodels.formula.api import ols

In [5]:
df = pd.read_csv("data/iris.csv")

In [6]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [16]:
#model = ols(formular="Sepal.Length ~ Sepal.Width", data = df).fit()

In [17]:
df.columns = ["SL", "SW", "PL", "PW", "species"]

In [12]:
model = ols(formula="SL ~ SW", data = df).fit()

In [13]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     SL   R-squared:                       0.014
Model:                            OLS   Adj. R-squared:                  0.007
Method:                 Least Squares   F-statistic:                     2.074
Date:                Thu, 29 Dec 2022   Prob (F-statistic):              0.152
Time:                        23:15:29   Log-Likelihood:                -183.00
No. Observations:                 150   AIC:                             370.0
Df Residuals:                     148   BIC:                             376.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      6.5262      0.479     13.628      0.000       5.580       7.473
SW            -0.2234      0.155     -1.440      0.152      -0.530       0.083
==============================================================================
Omnibus:                        4.389   Durbin-Watson:                   0.952
Prob(Omnibus):                  0.111   Jarque-Bera (JB):                4.237
Skew:                           0.360   Prob(JB):                        0.120
Kurtosis:                       2.600   Cond. No.                         24.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [14]:
model = ols(formula="PL ~ PW", data = df).fit()

In [15]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     PL   R-squared:                       0.927
Model:                            OLS   Adj. R-squared:                  0.927
Method:                 Least Squares   F-statistic:                     1882.
Date:                Thu, 29 Dec 2022   Prob (F-statistic):           4.68e-86
Time:                        23:16:51   Log-Likelihood:                -101.18
No. Observations:                 150   AIC:                             206.4
Df Residuals:                     148   BIC:                             212.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.0836      0.073     14.850      0.000       0.939       1.228
PW             2.2299      0.051     43.387      0.000       2.128       2.332
==============================================================================
Omnibus:                        2.438   Durbin-Watson:                   1.430
Prob(Omnibus):                  0.295   Jarque-Bera (JB):                1.966
Skew:                           0.211   Prob(JB):                        0.374
Kurtosis:                       3.369   Cond. No.                         3.70
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [20]:
model.predict(df.iloc[:6,])

0    1.529546
1    1.529546
2    1.529546
3    1.529546
4    1.529546
5    1.975534
dtype: float64

In [19]:
df.iloc[:3,]

    SL   SW   PL   PW species
0  5.1  3.5  1.4  0.2  setosa
1  4.9  3.0  1.4  0.2  setosa
2  4.7  3.2  1.3  0.2  setosa

In [33]:
df_sub = df.loc[:, "PL":"PW"]
df["pred"] = model.predict(df_sub)

In [34]:
df.head()

    SL   SW   PL   PW species      pred
0  5.1  3.5  1.4  0.2  setosa  1.529546
1  4.9  3.0  1.4  0.2  setosa  1.529546
2  4.7  3.2  1.3  0.2  setosa  1.529546
3  4.6  3.1  1.5  0.2  setosa  1.529546
4  5.0  3.6  1.4  0.2  setosa  1.529546

In [35]:
df_sub = df.loc[:, ["PL","PW"]]

In [36]:
df_sub

      PL   PW
0    1.4  0.2
1    1.4  0.2
2    1.3  0.2
3    1.5  0.2
4    1.4  0.2
..   ...  ...
145  5.2  2.3
146  5.0  1.9
147  5.2  2.0
148  5.4  2.3
149  5.1  1.8

[150 rows x 2 columns]

In [37]:
from sklearn.linear_model import LinearRegression

In [39]:
#model = LinearRegression().fit(X=df["PL"],
#                              y=df["PW"])

In [41]:
df[["PL"]].head()

    PL
0  1.4
1  1.4
2  1.3
3  1.5
4  1.4

In [42]:
df["PL"].head()

0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
Name: PL, dtype: float64

In [43]:
df.iloc[0,]

SL              5.1
SW              3.5
PL              1.4
PW              0.2
species      setosa
pred       1.529546
Name: 0, dtype: object

In [44]:
df.iloc[[0],]

    SL   SW   PL   PW species      pred
0  5.1  3.5  1.4  0.2  setosa  1.529546

In [46]:
model = LinearRegression().fit(X=df[["PL"]],
                              y=df[["PW"]])

In [47]:
model

LinearRegression()

In [48]:
model.coef_

array([[0.41575542]])

In [49]:
model.intercept_

array([-0.36307552])

In [52]:
df["pred2"]=model.predict(df[["PL"]])

In [53]:
df.head()

    SL   SW   PL   PW species      pred     pred2
0  5.1  3.5  1.4  0.2  setosa  1.529546  0.218982
1  4.9  3.0  1.4  0.2  setosa  1.529546  0.218982
2  4.7  3.2  1.3  0.2  setosa  1.529546  0.177407
3  4.6  3.1  1.5  0.2  setosa  1.529546  0.260558
4  5.0  3.6  1.4  0.2  setosa  1.529546  0.218982

In [56]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [58]:
mean_absolute_error(y_true=df["PL"], y_pred=df["pred"])

0.36579694412763786

In [59]:
mean_absolute_error(y_true=df["PW"], y_pred=df["pred2"])

0.15647051371014092

In [60]:
mean_squared_error(y_true=df["PL"], y_pred=df["pred"])

0.22563168777869247

In [61]:
mean_squared_error(y_true=df["PW"], y_pred=df["pred2"])

0.04206730919499318

In [62]:
mean_squared_error(y_true=df["PL"], y_pred=df["pred"])**(1/2)

0.47500703971487884

In [63]:
mean_squared_error(y_true=df["PW"], y_pred=df["pred2"])**(1/2)

0.20510316719883478

In [99]:
#문제 1
from statsmodels.formula.api import ols

In [66]:
bike = pd.read_csv("data/bike.csv")

In [76]:
bike_sample = bike.sample(frac=0.7, random_state=123)

In [77]:
bike_sample.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
6495,2012-03-07 21:00:00,1,0,1,1,18.04,21.970,62,16.9979,11,177,188
7050,2012-04-12 03:00:00,2,0,1,1,13.12,15.150,61,16.9979,2,3,5
558,2011-02-06 10:00:00,1,0,0,1,12.30,14.395,52,16.9979,15,74,89
5085,2011-12-05 23:00:00,4,0,1,2,18.86,22.725,88,8.9981,8,54,62
3328,2011-08-08 14:00:00,3,0,1,1,33.62,37.120,43,19.9995,41,109,150

In [78]:
bike_sub = bike_sample.loc[:,["registered","temp"]]

In [79]:
model = ols(formula="registered ~ temp",data=bike_sub).fit()

In [80]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             registered   R-squared:                       0.099
Model:                            OLS   Adj. R-squared:                  0.099
Method:                 Least Squares   F-statistic:                     838.6
Date:                Sat, 31 Dec 2022   Prob (F-statistic):          4.97e-175
Time:                        00:52:42   Log-Likelihood:                -48677.
No. Observations:                7620   AIC:                         9.736e+04
Df Residuals:                    7618   BIC:                         9.737e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     32.3991      4.587      7.064      0.000      23.408      41.390
temp           6.1074      0.211     28.959      0.000       5.694       6.521
==============================================================================
Omnibus:                     2089.122   Durbin-Watson:                   2.024
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5271.546
Skew:                           1.500   Prob(JB):                         0.00
Kurtosis:                       5.757   Cond. No.                         60.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [81]:
model = ols(formula="registered ~ temp",data=bike_sample).fit()

In [82]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             registered   R-squared:                       0.099
Model:                            OLS   Adj. R-squared:                  0.099
Method:                 Least Squares   F-statistic:                     838.6
Date:                Sat, 31 Dec 2022   Prob (F-statistic):          4.97e-175
Time:                        00:54:08   Log-Likelihood:                -48677.
No. Observations:                7620   AIC:                         9.736e+04
Df Residuals:                    7618   BIC:                         9.737e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     32.3991      4.587      7.064      0.000      23.408      41.390
temp           6.1074      0.211     28.959      0.000       5.694       6.521
==============================================================================
Omnibus:                     2089.122   Durbin-Watson:                   2.024
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5271.546
Skew:                           1.500   Prob(JB):                         0.00
Kurtosis:                       5.757   Cond. No.                         60.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [85]:
model.params

Intercept    32.399076
temp          6.107384
dtype: float64

In [86]:
from sklearn.model_selection import train_test_split

bike.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [93]:
bike_train, bike_test = train_test_split(bike, train_size=0.7, random_state=123)

In [94]:
bike_train

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
4046,2011-09-19 15:00:00,3,0,1,2,24.60,30.305,60,15.0013,44,143,187
9262,2012-09-09 07:00:00,3,0,0,1,22.14,25.760,73,11.0014,20,50,70
6409,2012-03-04 07:00:00,1,0,0,2,12.30,13.635,52,19.9995,2,21,23
6075,2012-02-09 09:00:00,1,0,1,1,8.20,9.850,59,15.0013,9,229,238
6720,2012-03-17 07:00:00,1,0,0,2,16.40,20.455,100,8.9981,29,57,86
...,...,...,...,...,...,...,...,...,...,...,...,...
9785,2012-10-12 02:00:00,4,0,1,1,16.40,20.455,66,6.0032,0,16,16
7763,2012-06-03 20:00:00,2,0,0,1,27.06,31.060,39,12.9980,84,230,314
5218,2011-12-11 12:00:00,4,0,0,1,10.66,15.150,35,0.0000,42,246,288
1346,2011-04-01 23:00:00,2,0,1,1,12.30,15.910,61,6.0032,12,41,53
3582,2011-08-19 04:00:00,3,0,1,1,26.24,28.790,83,0.0000,1,7,8

In [95]:
bike_test

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
6495,2012-03-07 21:00:00,1,0,1,1,18.04,21.970,62,16.9979,11,177,188
7050,2012-04-12 03:00:00,2,0,1,1,13.12,15.150,61,16.9979,2,3,5
558,2011-02-06 10:00:00,1,0,0,1,12.30,14.395,52,16.9979,15,74,89
5085,2011-12-05 23:00:00,4,0,1,2,18.86,22.725,88,8.9981,8,54,62
3328,2011-08-08 14:00:00,3,0,1,1,33.62,37.120,43,19.9995,41,109,150
...,...,...,...,...,...,...,...,...,...,...,...,...
3733,2011-09-06 12:00:00,3,0,1,3,22.14,25.760,83,26.0027,16,51,67
24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4,13,17
9650,2012-10-06 11:00:00,4,0,0,1,26.24,30.305,65,16.9979,258,389,647
6246,2012-02-16 12:00:00,1,0,1,3,13.12,16.665,76,6.0032,1,44,45
5239,2011-12-12 09:00:00,4,0,1,2,7.38,10.605,74,6.0032,12,208,220

In [97]:
model = ols(formula="registered ~ temp", data=bike_train.loc[:,["registered","temp"]]).fit()

In [98]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             registered   R-squared:                       0.106
Model:                            OLS   Adj. R-squared:                  0.106
Method:                 Least Squares   F-statistic:                     902.3
Date:                Sat, 31 Dec 2022   Prob (F-statistic):          1.92e-187
Time:                        01:04:28   Log-Likelihood:                -48650.
No. Observations:                7620   AIC:                         9.730e+04
Df Residuals:                    7618   BIC:                         9.732e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     27.5151      4.559      6.036      0.000      18.579      36.452
temp           6.3391      0.211     30.038      0.000       5.925       6.753
==============================================================================
Omnibus:                     2097.525   Durbin-Watson:                   2.022
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5337.402
Skew:                           1.502   Prob(JB):                         0.00
Kurtosis:                       5.790   Cond. No.                         60.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [100]:
#문제 2
bike_train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
4046,2011-09-19 15:00:00,3,0,1,2,24.60,30.305,60,15.0013,44,143,187
9262,2012-09-09 07:00:00,3,0,0,1,22.14,25.760,73,11.0014,20,50,70
6409,2012-03-04 07:00:00,1,0,0,2,12.30,13.635,52,19.9995,2,21,23
6075,2012-02-09 09:00:00,1,0,1,1,8.20,9.850,59,15.0013,9,229,238
6720,2012-03-17 07:00:00,1,0,0,2,16.40,20.455,100,8.9981,29,57,86

In [101]:
model = ols(formula="casual ~ atemp", data=bike_train.loc[:,["casual","atemp"]]).fit()

In [112]:
bike_test["casual_predict"] = model.predict(bike_test.loc[:,["casual","atemp"]])

In [113]:
bike_test

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,casual_predict
6495,2012-03-07 21:00:00,1,0,1,1,18.04,21.970,62,16.9979,11,177,188,31.499001
7050,2012-04-12 03:00:00,2,0,1,1,13.12,15.150,61,16.9979,2,3,5,12.626390
558,2011-02-06 10:00:00,1,0,0,1,12.30,14.395,52,16.9979,15,74,89,10.537120
5085,2011-12-05 23:00:00,4,0,1,2,18.86,22.725,88,8.9981,8,54,62,33.588271
3328,2011-08-08 14:00:00,3,0,1,1,33.62,37.120,43,19.9995,41,109,150,73.422763
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3733,2011-09-06 12:00:00,3,0,1,3,22.14,25.760,83,26.0027,16,51,67,41.986859
24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4,13,17,33.588271
9650,2012-10-06 11:00:00,4,0,0,1,26.24,30.305,65,16.9979,258,389,647,54.563988
6246,2012-02-16 12:00:00,1,0,1,3,13.12,16.665,76,6.0032,1,44,45,16.818766
5239,2011-12-12 09:00:00,4,0,1,2,7.38,10.605,74,6.0032,12,208,220,0.049261

In [117]:
from sklearn.metrics import mean_squared_error

In [118]:
mean_squared_error(y_true=bike_test["casual"], y_pred=bike_test["casual_predict"])

1976.902355150745

In [119]:
mean_squared_error(y_true=bike_test["casual"], y_pred=bike_test["casual_predict"])**(1/2)

44.46237010271433

In [120]:
#문제 3

In [123]:
import pandas as pd
from statsmodels.formula.api import ols
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [124]:
bike = pd.read_csv("data/bike.csv")

In [192]:
summer_total = bike.loc[bike["season"]==2,:]
winter_total = bike.loc[bike["season"]==4,:]

summer_train, summer_test = train_test_split(summer_total,
                                             train_size=0.7, 
                                             random_state=123)
winter_train, winter_test = train_test_split(winter_total,
                                             train_size=0.7, 
                                             random_state=123)

#bike_train, bike_test = train_test_split(bike, train_size=0.7, random_state=123)

In [193]:
model1 = ols(formula="casual ~ atemp", data=summer_train.loc[:,["casual","atemp"]]).fit()

In [194]:
#summer = bike_test.loc[bike_test["season"]==2, ["atemp"]]

In [195]:
#summer.head()

In [196]:
#summer["casual_predict"]=model1.predict(summer,["atemp"])
summer_test["casual_predict"]=model1.predict(summer_test,["atemp"])

In [197]:
summer_test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,casual_predict
2296,2011-06-03 14:00:00,2,0,1,1,28.70,31.820,28,19.0012,66,174,240,68.749194
7883,2012-06-08 20:00:00,2,0,1,1,29.52,32.575,32,8.9981,117,291,408,71.721325
1726,2011-04-17 20:00:00,2,0,0,1,21.32,25.000,36,12.9980,44,97,141,41.901597
7014,2012-04-10 14:00:00,2,0,1,1,22.14,25.760,24,12.9980,75,149,224,44.893412
7029,2012-04-11 06:00:00,2,0,1,1,11.48,14.395,56,7.0015,3,103,106,0.153978

In [198]:
#model2 = ols(formula="casual ~ atemp", data=bike_train.loc[bike_train["season"]==4,["casual","atemp"]]).fit()

In [199]:
#winter = bike_test.loc[bike_test["season"]==4, ["casual","atemp"]]

In [200]:
#winter["casual_predict"]=model2.predict(winter,["atemp"])

In [201]:
#winter.head()

In [202]:
model2 = ols(formula="casual ~ atemp", data=winter_train.loc[:,["casual","atemp"]]).fit()
winter_test["casual_predict"]=model2.predict(winter_test,["atemp"])

In [203]:
summer_rmse = mean_squared_error(y_true=summer_test["casual"], y_pred=summer_test["casual_predict"])**(1/2)

In [204]:
winter_rmse = mean_squared_error(y_true=winter_test["casual"], y_pred=winter_test["casual_predict"])**(1/2)

In [205]:
abs(summer_rmse - winter_rmse)

8.648423450414178

In [206]:
#전체 training하고 season 별로 나눴을 때

In [163]:
model = ols(formula="casual ~ atemp", data=bike_train.loc[:,["casual","atemp"]]).fit()

In [164]:
summer = bike_test.loc[bike_test["season"]==2, ["casual","atemp"]]

In [165]:
winter = bike_test.loc[bike_test["season"]==4, ["casual","atemp"]]

In [166]:
summer["casual_predict"] = model.predict(summer)

In [167]:
winter["casual_predict"] = model.predict(winter)

In [168]:
summer.head()

      casual   atemp  casual_predict
7050       2  15.150       12.626390
1368      24  15.150       12.626390
1535      19  19.695       25.203518
7626       0  29.545       52.460882
2259       3  32.575       60.845634

In [169]:
winter.head()

      casual   atemp  casual_predict
5085       8  22.725       33.588271
9616       3  25.760       41.986859
4153       1  22.725       33.588271
4147      25  25.000       39.883753
9527      40  22.725       33.588271

In [170]:
summer_rmse = mean_squared_error(y_true=summer["casual"], y_pred=summer["casual_predict"])**(1/2)

In [171]:
summer_rmse

55.16232790957266

In [172]:
winter_rmse = mean_squared_error(y_true=winter["casual"], y_pred=winter["casual_predict"])**(1/2)

In [173]:
winter_rmse

40.57002529173706

In [174]:
abs(summer_rmse - winter_rmse)

14.5923026178356

In [175]:
#teacher solution

In [4]:
import pandas as pd

In [5]:
from statsmodels.formula.api import ols
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse

In [6]:
df = pd.read_csv("data/bike.csv")

In [7]:
df_s2 = df.loc[df["season"]==2,]

In [8]:
df_s4 = df.loc[df["season"]==4,]

In [9]:
df_s2_train, df_s2_test = train_test_split(df_s2,
                                          train_size=0.7,
                                          random_state=123)

In [10]:
df_s4_train, df_s4_test = train_test_split(df_s4,
                                          train_size=0.7,
                                          random_state=123)

In [11]:
formula_='casual ~ atemp'

In [12]:
model_s2 = ols(formula=formula_, data=df_s2_train).fit()

In [13]:
model_s4 = ols(formula=formula_, data=df_s4_train).fit()

In [14]:
pred_s2 = model_s2.predict(df_s2_test)

In [15]:
pred_s4 = model_s4.predict(df_s4_test)

In [17]:
s2_rmse = mse(y_true=df_s2_test["casual"],y_pred=pred_s2)**0.5

In [18]:
s4_rmse = mse(y_true=df_s4_test["casual"],y_pred=pred_s4)**0.5

In [19]:
abs(s2_rmse-s4_rmse)

8.648423450414178

In [108]:
def models(df_list):
    return [ols(formula=formula_, data=df_source).fit() for df_source in df_list]
def group_pred(test_model_pair):   
    return [i[1].predict(i[0]) for i in test_model_pair]
def group_rmse(true_pred_pair):
    return [mse(y_true=data[0] ,y_pred=data[1])**0.5 for data in true_pred_pair]

In [109]:
train_list = [df_s2_train, df_s4_train]
test_list = [df_s2_test, df_s4_test]
col = ["season2","season4"]
true_list = [df_s2_test["casual"],df_s4_test["casual"]]

In [110]:
model_list = models(train_list)

In [111]:
pred_ = group_pred(zip(test_list, model_list))

In [112]:
dual_rmse = group_rmse(zip(true_list, pred_))

In [113]:
abs(dual_rmse[0]-dual_rmse[1])

8.648423450414178

In [118]:
df_train = df.groupby("season").sample(frac=0.7, random_state=123)

In [121]:
df_test = df.drop(df_train.index)

In [122]:
df.shape

(10886, 12)

In [123]:
df_test.shape

(3266, 12)

In [124]:
df_train.shape

(7620, 12)

In [125]:
df_s2_train = df_train.loc[df["season"]==2,]
df_s4_train = df_train.loc[df["season"]==4,]

In [126]:
df_s2_test = df_test.loc[df["season"]==2,]
df_s4_test = df_test.loc[df["season"]==4,]

In [127]:
train_list = [df_s2_train, df_s4_train]
test_list = [df_s2_test, df_s4_test]
col = ["season2","season4"]
true_list = [df_s2_test["casual"],df_s4_test["casual"]]

In [128]:
model_list = models(train_list)

In [129]:
pred_ = group_pred(zip(test_list, model_list))

In [130]:
dual_rmse = group_rmse(zip(true_list, pred_))

In [131]:
abs(dual_rmse[0]-dual_rmse[1])

15.525150727982961