In [1]:
# KNN
#Q 1

In [2]:
import pandas as pd

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [4]:
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor

In [5]:
df = pd.read_csv("data/diabetes.csv")

In [6]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
df_train, df_test = train_test_split(df, train_size=0.7, random_state=123)

In [9]:
col_x=["Pregnancies", "Glucose", "BloodPressure"]

In [10]:
model = KNeighborsClassifier().fit(X=df_train.loc[:,col_x], y=df_train["Outcome"])

In [11]:
df_test["pred"]=model.predict(X=df_test.loc[:,col_x])

In [12]:
df_test.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,pred
236,7,181,84,21,192,35.9,0.586,51,1,1
395,2,127,58,24,275,27.7,1.600,25,0,0
36,11,138,76,0,0,33.2,0.420,35,0,0
210,2,81,60,22,0,27.7,0.290,25,0,0
483,0,84,82,31,125,38.2,0.233,23,0,0
743,9,140,94,0,0,32.7,0.734,45,1,1
408,8,197,74,0,0,25.9,1.191,39,1,1
468,8,120,0,0,0,30.0,0.183,38,1,0
283,7,161,86,0,0,30.4,0.165,47,1,1
167,4,120,68,0,0,29.6,0.709,34,0,0
715,7,187,50,33,392,33.9,0.826,34,1,1
172,2,87,0,23,0,28.9,0.773,25,0,0
416,1,97,68,21,0,27.2,1.095,22,0,0
91,4,123,80,15,176,32.0,0.443,34,0,0
675,6,195,70,0,0,30.9,0.328,31,1,1
367,0,101,64,17,0,21.0,0.252,21,0,0
254,12,92,62,7,258,27.6,0.926,44,1,0
553,1,88,62,24,44,29.9,0.422,23,0,0
348,3,99,62,19,74,21.8,0.279,26,0,0
57,0,100,88,60,110,46.8,0.962,31,0,0

In [14]:
accuracy_score(y_true=df_test["Outcome"], y_pred=df_test["pred"]).round(2)

0.73

In [84]:
#Q 2
df = pd.read_csv("data/diabetes.csv")

In [17]:
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [18]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [21]:
col_x = ['is_preg', 'Glucose', 'BloodPressure', 'Insulin', 'BMI']

In [22]:
df["is_preg"]=(df["Pregnancies"]>0)+0

In [23]:
df_train, df_test = train_test_split(df, train_size=0.8, random_state=123)

In [33]:
def KNN_ACC(k):
    model = KNeighborsClassifier(n_neighbors=k).fit(X=df_train.loc[:,col_x], y=df_train["Outcome"])
    df_test["pred"] = model.predict(X=df_test.loc[:,col_x])
    acc = accuracy_score(y_true=df_test["Outcome"], y_pred=df_test["pred"]).round(2)
    return [k, acc]

In [34]:
k_l = [3, 5, 10, 20]

In [36]:
pd.DataFrame(data=[KNN_ACC(k) for k in k_l], columns=["k", "Acc"])

    k   Acc
0   3  0.71
1   5  0.73
2  10  0.78
3  20  0.76

In [85]:
#Q 3

In [59]:
df = pd.read_csv("data/diabetes.csv")

In [60]:
df.head(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1

In [61]:
df["is_preg"] = (df["Pregnancies"]>0)+0

In [62]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome', 'is_preg'],
      dtype='object')

In [63]:
col_x=['Glucose', 'BloodPressure', 'Insulin', 'is_preg']

In [64]:
df_train, df_test = train_test_split(df, train_size=0.8, random_state=123)

In [65]:
from sklearn.metrics import mean_squared_error as mse

In [66]:
rmse = lambda y_true, y_pred : mse(y_true=y_true, y_pred=y_pred)**0.5

In [80]:
def KNN_rmse(k, dep):
    model = KNeighborsRegressor(n_neighbors=k).fit(X=df_train.loc[:,col_x], y=df_train[dep])
    df_test["pred"] = model.predict(X=df_test.loc[:,col_x])
    #print(df_test.head())
    err = rmse(y_true=df_test[dep], y_pred=df_test["pred"]).round(3)
    return [k, err]

In [81]:
k_l = [3, 5, 10, 20]

In [82]:
pd.DataFrame(data=[KNN_rmse(k, dep="BMI") for k in k_l], columns=["k", "rmse"])

    k   rmse
0   3  8.508
1   5  8.706
2  10  8.517
3  20  8.514

In [83]:
#분류 및 회귀나무

In [86]:
#Q 1

In [87]:
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor

In [88]:
df = pd.read_csv("data/diabetes.csv")

In [89]:
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [90]:
df_train, df_test = train_test_split(df, train_size=0.8, random_state=123)

In [91]:
df_train.iloc[:,:3]

     Pregnancies  Glucose  BloodPressure
318            3      115             66
313            3      113             50
195            5      158             84
570            3       78             70
226            0      101             76
..           ...      ...            ...
98             6       93             50
322            0      124             70
382            1      109             60
365            5       99             54
510           12       84             72

[614 rows x 3 columns]

In [92]:
model = DecisionTreeClassifier(random_state=123).fit(X=df_train.iloc[:,:3], y=df_train["Outcome"])

In [99]:
df_test["pred"] = model.predict(X=df_test.iloc[:,:3])

In [100]:
accuracy_score(y_true=df_test["Outcome"], y_pred=df_test["pred"]).round(2)

0.64

In [101]:
df_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,pred
236,7,181,84,21,192,35.9,0.586,51,1,1
395,2,127,58,24,275,27.7,1.600,25,0,0
36,11,138,76,0,0,33.2,0.420,35,0,1
210,2,81,60,22,0,27.7,0.290,25,0,0
483,0,84,82,31,125,38.2,0.233,23,0,0
...,...,...,...,...,...,...,...,...,...,...
650,1,91,54,25,100,25.2,0.234,23,0,0
579,2,197,70,99,0,34.7,0.575,62,1,1
119,4,99,76,15,51,23.2,0.223,21,0,0
593,2,82,52,22,115,28.5,1.699,25,0,0
310,6,80,66,30,0,26.2,0.313,41,0,0

In [102]:
df = pd.read_csv("data/diabetes.csv")

In [103]:
df_train, df_test = train_test_split(df, train_size=0.8, random_state=123)

In [105]:
df_train.iloc[:,1:4]

     Glucose  BloodPressure  SkinThickness
318      115             66             39
313      113             50             10
195      158             84             41
570       78             70              0
226      101             76              0
..       ...            ...            ...
98        93             50             30
322      124             70             20
382      109             60              8
365       99             54             28
510       84             72             31

[614 rows x 3 columns]

In [107]:
model = DecisionTreeRegressor(random_state=123).fit(X=df_train.iloc[:,1:4], y=df_train["BMI"])

In [108]:
df_test["pred"] = model.predict(X=df_test.iloc[:,1:4])

In [110]:
rmse(y_true=df_test["BMI"], y_pred=df_test["pred"]).round(1)

9.9

In [112]:
#Q 3

In [113]:
df = pd.read_csv("data/diabetes.csv")

In [114]:
df_train, df_test = train_test_split(df, train_size=0.7, random_state=345)

In [116]:
col_x = df.columns.drop(["SkinThickness", "Insulin", "DiabetesPedigreeFunction", "Outcome"])

In [117]:
col_x

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'BMI', 'Age'], dtype='object')

In [123]:
def DT_ACC(depth):
    model = DecisionTreeClassifier(max_depth=depth, random_state=345).fit(X=df_train.loc[:,col_x],
                                                                          y=df_train["Outcome"])
    df_test["pred"] = model.predict(X=df_test.loc[:,col_x])
    acc = accuracy_score(y_pred=df_test["pred"], y_true=df_test["Outcome"]).round(2)
    return [depth, acc]

In [124]:
depth_l = [3, 4, 5, 6]

In [125]:
pd.DataFrame(data=[DT_ACC(d) for d in depth_l], columns=["depth", "Acc"])

   depth   Acc
0      3  0.77
1      4  0.76
2      5  0.76
3      6  0.77