In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/iris_missing.csv")

In [3]:
df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN

In [4]:
df_sub = df.iloc[:,:-1]

In [5]:
df_sub.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0           5.1          NaN           NaN          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [7]:
df_sub.mean()

Sepal_Length    5.853846
Sepal_Width     3.070073
Petal_Length    3.811765
Petal_Width     1.190972
dtype: float64

In [8]:
df_sub.fillna(df_sub.mean())

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0        5.100000     3.070073      3.811765     0.200000
1        4.900000     3.000000      1.400000     0.200000
2        4.700000     3.200000      1.300000     0.200000
3        4.600000     3.100000      1.500000     0.200000
4        5.000000     3.600000      1.400000     0.200000
..            ...          ...           ...          ...
145      6.700000     3.000000      5.200000     2.300000
146      5.853846     2.500000      3.811765     1.190972
147      6.500000     3.000000      5.200000     2.000000
148      6.200000     3.400000      5.400000     2.300000
149      5.900000     3.000000      5.100000     1.190972

[150 rows x 4 columns]

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/bike.csv")

In [4]:
df.sample(frac=0.0123).shape[0]

134

In [5]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [6]:
df.groupby(["season"]).sample(frac=0.05)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
649,2011-02-10 07:00:00,1,0,1,1,4.10,3.790,50,27.9993,0,99,99
5948,2012-02-04 01:00:00,1,0,0,1,10.66,13.635,70,7.0015,0,43,43
5865,2012-01-19 14:00:00,1,0,1,1,9.84,11.365,44,12.9980,15,104,119
5962,2012-02-04 15:00:00,1,0,0,2,13.12,15.150,66,15.0013,61,244,305
913,2011-03-02 12:00:00,1,0,1,1,16.40,20.455,43,12.9980,20,62,82
...,...,...,...,...,...,...,...,...,...,...,...,...
10372,2012-11-17 14:00:00,4,0,0,1,17.22,21.210,38,12.9980,175,380,555
10053,2012-11-04 06:00:00,4,0,0,1,11.48,14.395,61,8.9981,2,14,16
9758,2012-10-10 23:00:00,4,0,1,1,18.04,21.970,58,12.9980,17,119,136
4152,2011-10-05 01:00:00,4,0,1,1,19.68,23.485,77,11.0014,4,7,11
4647,2011-11-06 17:00:00,4,0,0,1,18.04,21.970,62,11.0014,71,185,256

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
df = pd.read_csv("data/bike.csv")

In [9]:
df_train, df_test = train_test_split(df, train_size=0.8, random_state=123)

In [10]:
df_test["temp"].max()

39.36

In [14]:
df.iloc[:,1:-1].quantile(q=0.25)

season         2.0000
holiday        0.0000
workingday     0.0000
weather        1.0000
temp          13.9400
atemp         16.6650
humidity      47.0000
windspeed      7.0015
casual         4.0000
registered    36.0000
Name: 0.25, dtype: float64

In [15]:
df.iloc[:,1:-1].quantile(q=0.75)

season          4.0000
holiday         0.0000
workingday      1.0000
weather         2.0000
temp           26.2400
atemp          31.0600
humidity       77.0000
windspeed      16.9979
casual         49.0000
registered    222.0000
Name: 0.75, dtype: float64

In [17]:
df.iloc[:,1:-1].quantile(q=0.5)

season          3.000
holiday         0.000
workingday      1.000
weather         1.000
temp           20.500
atemp          24.240
humidity       62.000
windspeed      12.998
casual         17.000
registered    118.000
Name: 0.5, dtype: float64

In [22]:
df["temp"].loc[df["temp"]==20.5,]

827      20.5
841      20.5
914      20.5
918      20.5
1264     20.5
         ...
10660    20.5
10661    20.5
10662    20.5
10668    20.5
10851    20.5
Name: temp, Length: 327, dtype: float64

In [49]:
df = pd.read_csv("data/iris_missing.csv")

In [57]:
df.head(2)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [59]:
df.iloc[:,:-1].isna().sum().sum()

40

In [60]:
df["Sepal_Width"].fillna(df["Sepal_Width"].mean())

0      3.070073
1      3.000000
2      3.200000
3      3.100000
4      3.600000
         ...
145    3.000000
146    2.500000
147    3.000000
148    3.400000
149    3.000000
Name: Sepal_Width, Length: 150, dtype: float64

In [61]:
df["Sepal_Width"].var()

0.1924066122799484

In [62]:
df = pd.read_csv("data/iris_missing.csv")

In [63]:
df["Sepal_Width"]

0      NaN
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: Sepal_Width, Length: 150, dtype: float64

In [65]:
df["Sepal_Width"].mean()

3.07007299270073

In [69]:
df["Sepal_Width"]=df["Sepal_Width"].fillna(df["Sepal_Width"].mean())

In [71]:
df["Sepal_Width"].var()

0.17561945818840946

In [73]:
df = pd.read_csv("data/iris.csv")

In [79]:
df["Sepal.Length"].std()

0.8280661279778629

In [80]:
df["Sepal.Length"].std()*1.5

1.2420991919667945

In [78]:
df["Sepal.Length"].mean()

5.843333333333334

In [76]:
upper = df["Sepal.Length"].mean() + df["Sepal.Length"].std()*1.5

In [77]:
lower = df["Sepal.Length"].mean() - df["Sepal.Length"].std()*1.5

In [81]:
upper

7.085432525300128

In [82]:
lower

4.60123414136654

In [99]:
df[(df["Sepal.Length"]>upper)|(df["Sepal.Length"]<lower)].shape

(21, 5)

In [100]:
df = pd.read_csv("data/bike.csv")

In [102]:
abs(df["temp"]-df["atemp"]).mean().round(3)

3.509

In [108]:
import datetime as dt

In [123]:
df["date"] = pd.to_datetime(df["datetime"]).dt.date

In [124]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,date
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011-01-01
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011-01-01
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011-01-01
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011-01-01
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011-01-01

In [127]:
(((df.groupby(["date"])["casual"].max())>25)+0).sum()

384

In [128]:
df["hour"] = pd.to_datetime(df["datetime"]).dt.hour

In [130]:
df.groupby(["hour"])[["registered"]].mean().idxmax()

registered    17
dtype: int64

In [134]:
regi_mean = df.groupby(["hour"])[["registered"]].mean()

In [136]:
regi_mean

      registered
hour
0      44.826374
1      27.345815
2      18.080357
3       9.076212
4       5.144796
5      18.311947
6      72.109890
7     202.202198
8     341.226374
9     190.824176
10    128.973626
11    150.621978
12    187.677632
13    183.728070
14    166.853070
15    178.269737
16    241.289474
17    393.324561
18    369.462719
19    266.203947
20    191.785088
21    144.802632
22    110.973684
23     74.046053

In [138]:
regi_mean.sort_values("registered", ascending=False)

      registered
hour
17    393.324561
18    369.462719
8     341.226374
19    266.203947
16    241.289474
7     202.202198
20    191.785088
9     190.824176
12    187.677632
13    183.728070
15    178.269737
14    166.853070
11    150.621978
21    144.802632
10    128.973626
22    110.973684
23     74.046053
6      72.109890
0      44.826374
1      27.345815
5      18.311947
2      18.080357
3       9.076212
4       5.144796

In [139]:
import pandas as pd

In [140]:
df_A = pd.read_csv("data/join_data_group_members.csv")

In [141]:
df_B = pd.read_csv("data/join_data_member_room.csv")

In [142]:
df_A

          team    No member
0        TWICE  1414     미나
1        TWICE  1462     나연
2        TWICE  1178     다현
3        TWICE  1525     정연
4        TWICE  1194     지효
5        TWICE  1937     채연
6        TWICE  1817     모모
7        TWICE  1117     쯔위
8        TWICE  1298     사나
9   Red Velvet  1228    아이린
10  Red Velvet  1243     웬디
11  Red Velvet  1013     슬기
12  Red Velvet  1373     조이
13  Red Velvet  1664     예리

In [143]:
df_B

   floor  room name
0      3  3G-A   미나
1      3  3G-B   나연
2      3  3G-C   다현
3      4  4G-A   정연
4      4  4G-B   지효
5      4  4G-C   채연
6      5  5G-A   모모
7      5  5G-B   쯔위
8      5  5G-C   사나

In [144]:
pd.merge(left=df_A, right=df_B, left_on="member", right_on="name", how="left")

          team    No member  floor  room name
0        TWICE  1414     미나    3.0  3G-A   미나
1        TWICE  1462     나연    3.0  3G-B   나연
2        TWICE  1178     다현    3.0  3G-C   다현
3        TWICE  1525     정연    4.0  4G-A   정연
4        TWICE  1194     지효    4.0  4G-B   지효
5        TWICE  1937     채연    4.0  4G-C   채연
6        TWICE  1817     모모    5.0  5G-A   모모
7        TWICE  1117     쯔위    5.0  5G-B   쯔위
8        TWICE  1298     사나    5.0  5G-C   사나
9   Red Velvet  1228    아이린    NaN   NaN  NaN
10  Red Velvet  1243     웬디    NaN   NaN  NaN
11  Red Velvet  1013     슬기    NaN   NaN  NaN
12  Red Velvet  1373     조이    NaN   NaN  NaN
13  Red Velvet  1664     예리    NaN   NaN  NaN

In [146]:
pd.merge(left=df_B, right=df_A,  left_on="name", right_on="member", how="left")

   floor  room name   team    No member
0      3  3G-A   미나  TWICE  1414     미나
1      3  3G-B   나연  TWICE  1462     나연
2      3  3G-C   다현  TWICE  1178     다현
3      4  4G-A   정연  TWICE  1525     정연
4      4  4G-B   지효  TWICE  1194     지효
5      4  4G-C   채연  TWICE  1937     채연
6      5  5G-A   모모  TWICE  1817     모모
7      5  5G-B   쯔위  TWICE  1117     쯔위
8      5  5G-C   사나  TWICE  1298     사나

In [147]:
df = pd.read_csv("data/bike.csv")

In [148]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [149]:
import datetime as dt

In [151]:
df["hour"] = pd.to_datetime(df["datetime"]).dt.hour

In [152]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,hour
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1

In [157]:
df_summer = df.loc[df["season"]==2,]

In [158]:
df_winter = df.loc[df["season"]==4,]

In [169]:
df_summer_hour_registered = df_summer.groupby(["hour"])["registered"].mean().reset_index(drop=True)

In [170]:
df_winter_hour_registered = df_winter.groupby(["hour"])["registered"].mean().reset_index(drop=True)

In [173]:
abs(df_summer_hour_registered - df_winter_hour_registered).idxmax()

19

In [177]:
import pandas as pd
import datetime as dt

In [178]:
df = pd.read_csv("data/bike.csv")

In [179]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [199]:
df["date"] = pd.to_datetime(df["datetime"]).dt.date

In [200]:
df_rain = df.groupby(["date"])["humidity"].max().reset_index()

In [201]:
df_rain

           date  humidity
0    2011-01-01        94
1    2011-01-02       100
2    2011-01-03        69
3    2011-01-04        74
4    2011-01-05        74
..          ...       ...
451  2012-12-15        87
452  2012-12-16        93
453  2012-12-17       100
454  2012-12-18        94
455  2012-12-19        87

[456 rows x 2 columns]

In [202]:
df_rain = df_rain.loc[df_rain["humidity"]==100,:]

In [203]:
df_rain

           date  humidity
1    2011-01-02       100
20   2011-02-02       100
23   2011-02-05       100
25   2011-02-07       100
42   2011-03-05       100
43   2011-03-06       100
44   2011-03-07       100
48   2011-03-11       100
53   2011-03-16       100
57   2011-04-01       100
65   2011-04-09       100
66   2011-04-10       100
67   2011-04-11       100
69   2011-04-13       100
72   2011-04-16       100
89   2011-05-14       100
90   2011-05-15       100
91   2011-05-16       100
93   2011-05-18       100
94   2011-05-19       100
111  2011-06-17       100
158  2011-09-07       100
159  2011-09-08       100
160  2011-09-09       100
161  2011-09-10       100
182  2011-10-12       100
183  2011-10-13       100
189  2011-10-19       100
196  2011-11-07       100
199  2011-11-10       100
205  2011-11-16       100
214  2011-12-06       100
215  2011-12-07       100
263  2012-02-17       100
282  2012-03-17       100
401  2012-10-03       100
444  2012-12-08       100
445  2012-12-09       100
446  2012-12-10       100
453  2012-12-17       100

In [204]:
df_temp30up = df.loc[df["temp"]>30,:]

In [205]:
df_temp30up

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,date
1409,2011-04-04 14:00:00,2,0,1,2,30.34,32.575,27,32.9975,47,76,123,2011-04-04
1410,2011-04-04 15:00:00,2,0,1,1,31.16,33.335,23,36.9974,47,96,143,2011-04-04
1411,2011-04-04 16:00:00,2,0,1,1,31.16,32.575,22,35.0008,59,130,189,2011-04-04
1412,2011-04-04 17:00:00,2,0,1,1,30.34,32.575,23,40.9973,83,283,366,2011-04-04
1577,2011-04-11 15:00:00,2,0,1,1,30.34,33.335,48,35.0008,56,85,141,2011-04-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9242,2012-09-08 11:00:00,3,0,0,1,31.16,35.605,62,30.0026,173,405,578,2012-09-08
9243,2012-09-08 12:00:00,3,0,0,1,32.80,37.880,55,32.9975,220,474,694,2012-09-08
9244,2012-09-08 13:00:00,3,0,0,1,33.62,38.635,52,35.0008,233,435,668,2012-09-08
9245,2012-09-08 14:00:00,3,0,0,1,33.62,38.635,52,30.0026,260,366,626,2012-09-08
9629,2012-10-05 14:00:00,4,0,1,1,30.34,32.575,37,15.0013,113,287,400,2012-10-05

In [206]:
df_merge = pd.merge(left=df_temp30up, right=df_rain, left_on="date", right_on="date", how="inner")

In [207]:
df_merge.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity_x,windspeed,casual,registered,count,date,humidity_y
0,2011-04-11 15:00:00,2,0,1,1,30.34,33.335,48,35.0008,56,85,141,2011-04-11,100
1,2011-04-11 16:00:00,2,0,1,1,30.34,33.335,48,35.0008,73,162,235,2011-04-11,100
2,2011-04-11 17:00:00,2,0,1,1,30.34,33.335,48,35.0008,100,352,452,2011-04-11,100
3,2011-06-17 13:00:00,2,0,1,1,30.34,34.090,62,19.0012,48,156,204,2011-06-17,100
4,2011-06-17 14:00:00,2,0,1,1,31.16,34.850,52,12.9980,73,142,215,2011-06-17,100

In [208]:
df_merge["count"].mean()

338.75

In [209]:
#정렬 => 연습 더 해야 함

In [210]:
#Q 1

In [211]:
df = pd.read_csv("data/bike.csv")

In [212]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [215]:
df["date"] = pd.to_datetime(df["datetime"]).dt.date

In [220]:
df["date"].unique().shape

(456,)

In [217]:
df_nhnw = df[(df["holiday"]==0) & (df["workingday"]==0)]

In [219]:
df_nhnw["date"].unique().shape

(132,)

In [221]:
132/465

0.2838709677419355

In [222]:
df = pd.read_csv("data/bike.csv")

In [228]:
pd.crosstab(df["workingday"],df["holiday"], normalize=True)

holiday            0         1
workingday
0           0.290557  0.028569
1           0.680875  0.000000

In [229]:
#Q 2

In [230]:
df = pd.read_csv("data/diamonds.csv")

In [231]:
df.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [254]:
cross = pd.crosstab(df["cut"],df["color"])

In [256]:
cross

color         D     E     F     G     H     I    J
cut
Fair        163   224   312   314   303   175  119
Good        662   933   909   871   702   522  307
Ideal      2834  3903  3826  4884  3115  2093  896
Premium    1603  2337  2331  2924  2360  1428  808
Very Good  1513  2400  2164  2299  1824  1204  678

In [267]:
cross.reset_index()

color        cut     D     E     F     G     H     I    J
0           Fair   163   224   312   314   303   175  119
1           Good   662   933   909   871   702   522  307
2          Ideal  2834  3903  3826  4884  3115  2093  896
3        Premium  1603  2337  2331  2924  2360  1428  808
4      Very Good  1513  2400  2164  2299  1824  1204  678

In [271]:
pd.melt(cross.reset_index(), id_vars=["cut"]).sort_values("value", ascending=False)

          cut color  value
17      Ideal     G   4884
7       Ideal     E   3903
12      Ideal     F   3826
22      Ideal     H   3115
18    Premium     G   2924
2       Ideal     D   2834
9   Very Good     E   2400
23    Premium     H   2360
8     Premium     E   2337
13    Premium     F   2331
19  Very Good     G   2299
14  Very Good     F   2164
27      Ideal     I   2093
24  Very Good     H   1824
3     Premium     D   1603
4   Very Good     D   1513
28    Premium     I   1428
29  Very Good     I   1204
6        Good     E    933
11       Good     F    909
32      Ideal     J    896
16       Good     G    871
33    Premium     J    808
21       Good     H    702
34  Very Good     J    678
1        Good     D    662
26       Good     I    522
15       Fair     G    314
10       Fair     F    312
31       Good     J    307
20       Fair     H    303
5        Fair     E    224
25       Fair     I    175
0        Fair     D    163
30       Fair     J    119

In [272]:
cross = pd.crosstab(df["color"], df["cut"])

In [273]:
cross

cut    Fair  Good  Ideal  Premium  Very Good
color
D       163   662   2834     1603       1513
E       224   933   3903     2337       2400
F       312   909   3826     2331       2164
G       314   871   4884     2924       2299
H       303   702   3115     2360       1824
I       175   522   2093     1428       1204
J       119   307    896      808        678

In [276]:
cross_reset = cross.reset_index()

In [280]:
pd.melt(cross_reset, id_vars=["color"]).sort_values("value", ascending=False)

   color        cut  value
17     G      Ideal   4884
15     E      Ideal   3903
16     F      Ideal   3826
18     H      Ideal   3115
24     G    Premium   2924
14     D      Ideal   2834
29     E  Very Good   2400
25     H    Premium   2360
22     E    Premium   2337
23     F    Premium   2331
31     G  Very Good   2299
30     F  Very Good   2164
19     I      Ideal   2093
32     H  Very Good   1824
21     D    Premium   1603
28     D  Very Good   1513
26     I    Premium   1428
33     I  Very Good   1204
8      E       Good    933
9      F       Good    909
20     J      Ideal    896
10     G       Good    871
27     J    Premium    808
11     H       Good    702
34     J  Very Good    678
7      D       Good    662
12     I       Good    522
3      G       Fair    314
2      F       Fair    312
13     J       Good    307
4      H       Fair    303
1      E       Fair    224
5      I       Fair    175
0      D       Fair    163
6      J       Fair    119

In [281]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [283]:
df_group = df.groupby(["cut", "color"])[["price", "carat"]].mean()

In [284]:
df_group

                       price     carat
cut       color
Fair      D      4291.061350  0.920123
          E      3682.312500  0.856607
          F      3827.003205  0.904712
          G      4239.254777  1.023822
          H      5135.683168  1.219175
          I      4685.445714  1.198057
          J      4975.655462  1.341176
Good      D      3405.382175  0.744517
          E      3423.644159  0.745134
          F      3495.750275  0.775930
          G      4123.482204  0.850896
          H      4276.254986  0.914729
          I      5078.532567  1.057222
          J      4574.172638  1.099544
Ideal     D      2629.094566  0.565766
          E      2597.550090  0.578401
          F      3374.939362  0.655829
          G      3720.706388  0.700715
          H      3889.334831  0.799525
          I      4451.970377  0.913029
          J      4918.186384  1.063594
Premium   D      3631.292576  0.721547
          E      3538.914420  0.717745
          F      4324.890176  0.827036
          G      4500.742134  0.841488
          H      5216.706780  1.016449
          I      5946.180672  1.144937
          J      6294.591584  1.293094
Very Good D      3470.467284  0.696424
          E      3214.652083  0.676317
          F      3778.820240  0.740961
          G      3872.753806  0.766799
          H      4535.390351  0.915948
          I      5255.879568  1.046952
          J      5103.513274  1.133215

In [288]:
df_group["ratio"] = df_group["price"]/df_group["carat"]

In [291]:
df_group.sort_values("ratio", ascending=False)

                       price     carat        ratio
cut       color
Premium   G      4500.742134  0.841488  5348.553755
Ideal     G      3720.706388  0.700715  5309.874382
Premium   F      4324.890176  0.827036  5229.388117
          I      5946.180672  1.144937  5193.456761
Ideal     F      3374.939362  0.655829  5146.069664
Premium   H      5216.706780  1.016449  5132.285040
Very Good F      3778.820240  0.740961  5099.889612
          G      3872.753806  0.766799  5050.548821
Premium   D      3631.292576  0.721547  5032.648015
Very Good I      5255.879568  1.046952  5020.173260
          D      3470.467284  0.696424  4983.265477
          H      4535.390351  0.915948  4951.578090
Premium   E      3538.914420  0.717745  4930.601477
Ideal     I      4451.970377  0.913029  4876.044103
Premium   J      6294.591584  1.293094  4867.852836
Ideal     H      3889.334831  0.799525  4864.557602
Good      G      4123.482204  0.850896  4846.049951
          I      5078.532567  1.057222  4803.656658
Very Good E      3214.652083  0.676317  4753.175904
Good      H      4276.254986  0.914729  4674.885539
Fair      D      4291.061350  0.920123  4663.575143
Ideal     D      2629.094566  0.565766  4646.967032
          J      4918.186384  1.063594  4624.121178
Good      E      3423.644159  0.745134  4594.669237
          D      3405.382175  0.744517  4573.950535
          F      3495.750275  0.775930  4505.241592
Very Good J      5103.513274  1.133215  4503.568825
Ideal     E      2597.550090  0.578401  4490.913843
Fair      E      3682.312500  0.856607  4298.717949
          F      3827.003205  0.904712  4230.081128
          H      5135.683168  1.219175  4212.425219
Good      J      4574.172638  1.099544  4160.063396
Fair      G      4239.254777  1.023822  4140.618390
          I      4685.445714  1.198057  3910.869980
          J      4975.655462  1.341176  3709.918546

In [293]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [310]:
#사용자 정의 함수

In [381]:
#q 3
import pandas as pd

In [502]:
def MinMax(x, posi=None):
    min = x.min()
    max = x.max()
    in_name = x.columns

    out_name = in_name + "2"

    output = ((x-min)/(max-min)).round(2)
    col = {in_name[i]:out_name[i] for i in range(len(in_name))}

    output = output.rename(columns=col)
    combi = pd.concat([x, output], axis=1)

    return combi if posi==None else combi[combi["value"]==posi]

In [503]:
input_data = pd.DataFrame([-4,5,7,9], columns=["value"])

In [504]:
output_data = MinMax(input_data)

In [505]:
input_data.rename({"value":"value2"})

   value
0     -4
1      5
2      7
3      9

In [398]:
output_data = output_data.rename(columns={"value":"value2"})

In [400]:
df_comp = pd.concat([input_data, output_data], axis=1)

In [402]:
df_comp[df_comp["value"]==7]

   value  value2
2      7    0.85

In [506]:
output_data

   value  value2
0     -4    0.00
1      5    0.69
2      7    0.85
3      9    1.00

In [507]:
MinMax(input_data, 7)

   value  value2
2      7    0.85

In [508]:
#q 2

In [509]:
def standardization(x, posi=None):
    mean = x.mean()
    std = x.std()
    in_name = x.columns

    out_name = in_name + "2"

    output = ((x-mean)/std).round(2)
    col = {in_name[i]:out_name[i] for i in range(len(in_name))}

    output = output.rename(columns=col)
    combi = pd.concat([x, output], axis=1)

    return combi if posi==None else combi[combi["value"]==posi]

In [510]:
input_data = pd.DataFrame([-4,5,7,9], columns=["value"])
standardization(input_data)

   value  value2
0     -4   -1.44
1      5    0.13
2      7    0.48
3      9    0.83

In [511]:
standardization(input_data,posi=7)

   value  value2
2      7    0.48

In [512]:
output_data

   value  value2
0     -4    0.00
1      5    0.69
2      7    0.85
3      9    1.00

In [500]:
output_data.columns

Index(['value', 'value2'], dtype='object')

In [513]:
#상관분석

In [501]:
output_data.columns + "2"

Index(['value2', 'value22'], dtype='object')

In [514]:
#Q 1

In [515]:
import pandas as pd

In [516]:
df = pd.read_csv("data/bike.csv")

In [517]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [518]:
df.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

In [519]:
col = ['temp','atemp', 'humidity', 'casual']

In [525]:
round(df[col].corr().min().min(),2)

-0.35

In [526]:
#Q 2

In [528]:
df_corr = df.groupby(["season"])[["atemp","casual"]].corr().round(3)

In [530]:
df_corr.loc[df_corr["atemp"]!=1,["atemp"]]

               atemp
season
1      casual  0.478
2      casual  0.378
3      casual  0.381
4      casual  0.444

In [531]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [540]:
clean_corr = df.loc[df["weather"]==1, ["casual","temp"]].corr()

In [541]:
not_clean_corr = df.loc[df["weather"]!=1, ["casual","temp"]].corr()

In [534]:
df.shape

(10886, 12)

In [543]:
abs(clean_corr.loc[clean_corr["temp"]!=1, ["temp"]] - not_clean_corr.loc[not_clean_corr["temp"]!=1, ["temp"]]).round(3)

         temp
casual  0.025

In [544]:
#비계층적 군집분석

In [583]:
df = pd.read_csv("data/diabetes.csv")

In [584]:
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [585]:
df_sub = df[df["BMI"]!=0]

In [586]:
from sklearn.cluster import KMeans

In [587]:
model = KMeans(n_clusters=4, random_state=123).fit(X=df_sub)

C:\Users\yuvjj\Anaconda3\envs\data_science_for_python\lib\site-packages\sklearn\cluster\_kmeans.py:1334: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=3.
  warnings.warn(

In [588]:
df_sub["cluster"] = model.labels_

C:\Users\yuvjj\AppData\Local\Temp\ipykernel_16040\2312486164.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["cluster"] = model.labels_

In [589]:
df_sub["cluster"].value_counts()

0    407
2    212
3    114
1     24
Name: cluster, dtype: int64

In [593]:
df_sub.groupby(["cluster"])["Insulin"].mean()

cluster
0      4.103194
1    509.166667
2    102.674528
3    224.035088
Name: Insulin, dtype: float64

In [558]:
from sklearn.preprocessing import StandardScaler

In [559]:
df = pd.read_csv("data/diabetes.csv")

In [565]:
df_sub = df[df["BMI"]!=0]

In [566]:
model = StandardScaler().fit(df_sub)

In [570]:
df_std = pd.DataFrame(data = model.transform(df_sub), columns=df_sub.columns)

In [571]:
df_std

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0.640157,0.838444,0.126380,0.894820,-0.699113,0.165097,0.469430,1.430162,1.358626
1,-0.844521,-1.127834,-0.202005,0.517415,-0.699113,-0.846404,-0.368823,-0.195156,-0.736038
2,1.234029,1.930820,-0.311467,-1.306707,-0.699113,-1.323254,0.606102,-0.109613,1.358626
3,-0.844521,-1.002991,-0.202005,0.140010,0.113794,-0.629654,-0.927658,-1.050586,-0.736038
4,-1.141457,0.495125,-1.625006,0.894820,0.753742,1.537847,5.514134,-0.024070,1.358626
...,...,...,...,...,...,...,...,...,...
752,1.827900,-0.628462,0.345303,1.712530,0.857518,0.063947,-0.915510,2.542221,-0.736038
753,-0.547586,0.026964,0.016918,0.391613,-0.699113,0.627497,-0.402232,-0.537328,-0.736038
754,0.343222,-0.004247,0.126380,0.140010,0.269457,-0.904204,-0.690761,-0.280699,-0.736038
755,-0.844521,0.151807,-0.530390,-1.306707,-0.699113,-0.340654,-0.374897,1.173533,1.358626
756,-0.844521,-0.878148,0.016918,0.643216,-0.699113,-0.297304,-0.478160,-0.879500,-0.736038

In [572]:
from sklearn.cluster import KMeans

In [573]:
model = KMeans(n_clusters=4, random_state=123).fit(df_std)

C:\Users\yuvjj\Anaconda3\envs\data_science_for_python\lib\site-packages\sklearn\cluster\_kmeans.py:1334: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=3.
  warnings.warn(

In [574]:
df_sub["cluster"] = model.labels_

In [578]:
df_sub["cluster"].value_counts().idxmax()

0

In [579]:
df_sub.groupby(["cluster"])["Age"].mean().round(0)

cluster
0    26.0
1    45.0
2    35.0
3    28.0
Name: Age, dtype: float64

In [594]:
#Q 3

In [595]:
df = pd.read_csv("data/diabetes.csv")

In [596]:
df_sub = df[df["BMI"]!=0]

In [597]:
df_sub.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [598]:
model = KMeans(n_clusters=3, random_state=123).fit(X=df_sub)

C:\Users\yuvjj\Anaconda3\envs\data_science_for_python\lib\site-packages\sklearn\cluster\_kmeans.py:1334: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=3.
  warnings.warn(

In [605]:
centers = model.cluster_centers_

In [619]:
len(centers)

3

In [601]:
import numpy as np

In [602]:
import pandas as pd

In [608]:
df_centers = pd.DataFrame(data=centers, columns=df_sub.columns)

In [603]:
import math

3

In [614]:
from itertools import combinations

In [613]:
df_centers.transpose()

                                   0           1           2
Pregnancies                 4.026316    3.975258    3.542735
Glucose                   158.447368  114.237113  129.376068
BloodPressure              72.000000   68.647423   71.478632
SkinThickness              32.263158   15.259794   30.337607
Insulin                   441.289474   14.696907  159.401709
BMI                        35.107895   31.440619   34.134615
DiabetesPedigreeFunction    0.569211    0.434579    0.535188
Age                        34.763158   33.808247   31.948718
Outcome                     0.578947    0.301031    0.418803

In [617]:
comb = combinations(range(3),2)

In [618]:
for n in comb:
    print(n)

(0, 1)
(0, 2)
(1, 2)

In [630]:
def distance(x,y):
    return (((x-y)**2).sum())**0.5

def uc_min(centers):
    return min([distance(centers[n[0]],centers[n[1]]) for n in combinations(range(len(centers)),2)])

In [631]:
uc_min(centers)

146.33847909815492

In [632]:
#단순 회귀분석
#Q 1

In [635]:
from statsmodels.formula.api import ols
from sklearn.model_selection import train_test_split
import pandas as pd

In [636]:
df = pd.read_csv("data/bike.csv")

In [637]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [638]:
df.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

In [639]:
df_train, df_test = train_test_split(df, train_size=0.7, random_state=123)

In [641]:
model = ols(formula='registered ~ temp', data=df_train).fit()

In [645]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             registered   R-squared:                       0.106
Model:                            OLS   Adj. R-squared:                  0.106
Method:                 Least Squares   F-statistic:                     902.3
Date:                Tue, 17 Jan 2023   Prob (F-statistic):          1.92e-187
Time:                        23:29:21   Log-Likelihood:                -48650.
No. Observations:                7620   AIC:                         9.730e+04
Df Residuals:                    7618   BIC:                         9.732e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     27.5151      4.559      6.036      0.000      18.579      36.452
temp           6.3391      0.211     30.038      0.000       5.925       6.753
==============================================================================
Omnibus:                     2097.525   Durbin-Watson:                   2.022
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5337.402
Skew:                           1.502   Prob(JB):                         0.00
Kurtosis:                       5.790   Cond. No.                         60.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [651]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.model_selection import train_test_split
import pandas as pd
from statsmodels.formula.api import ols

In [647]:
def rmse(y_true, y_pred):
    return mse(y_true=y_true, y_pred=y_pred)**0.5

In [648]:
df = pd.read_csv("data/bike.csv")

In [649]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [653]:
df_train, df_test = train_test_split(df, train_size=0.7, random_state=123)

In [654]:
model = ols(formula='casual ~ atemp', data=df_train).fit()

In [655]:
df_test["pred"] = model.predict(exog=df_test["atemp"])

In [659]:
round(rmse(y_true=df_test["casual"], y_pred=df_test["pred"]),1)

44.5

In [660]:
from statsmodels.formula.api import ols
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.metrics import mean_squared_error as mse

In [661]:
def rmse(y_true, y_pred):
    return mse(y_true=y_true, y_pred=y_pred)**0.5

In [662]:
df_train, df_test = train_test_split(df, train_size=0.7, random_state=123)

In [664]:
df_train_summer = df_train[df_train["season"]==2]
df_train_winter = df_train[df_train["season"]==4]
df_test_summer = df_test[df_test["season"]==2]
df_test_winter = df_test[df_test["season"]==4]

In [665]:
#summer
model = ols(formula='casual ~ atemp', data=df_train_summer).fit()

In [666]:
df_test_summer["pred"] = model.predict(exog=df_test_summer["atemp"])

C:\Users\yuvjj\AppData\Local\Temp\ipykernel_16040\4043116050.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_summer["pred"] = model.predict(exog=df_test_summer["atemp"])

In [668]:
summer_rmse = rmse(y_true=df_test_summer["casual"], y_pred=df_test_summer["pred"])

In [667]:
#winter
model = ols(formula='casual ~ atemp', data=df_train_winter).fit()
df_test_winter["pred"] = model.predict(exog=df_test_winter["atemp"])

C:\Users\yuvjj\AppData\Local\Temp\ipykernel_16040\3076063183.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_winter["pred"] = model.predict(exog=df_test_winter["atemp"])

In [669]:
winter_rmse = rmse(y_true=df_test_winter["casual"], y_pred=df_test_winter["pred"])

In [670]:
summer_rmse - winter_rmse

14.870346965363389

In [688]:
df_summer = df[df["season"]==2]
df_winter = df[df["season"]==4]

In [689]:
df_summer_train, df_summer_test = train_test_split(df_summer, train_size=0.7, random_state=123)
df_winter_train, df_winter_test = train_test_split(df_winter, train_size=0.7, random_state=123)

In [690]:
model_summer = ols(formula='casual ~ atemp', data=df_summer_train).fit()

In [698]:
df_summer_test["pred"] = model_summer.predict(exog = df_summer_test["atemp"])

In [699]:
summer_rmse = rmse(y_true=df_summer_test["casual"], y_pred=df_summer_test["pred"])

In [700]:
model_winter = ols(formula='casual ~ atemp', data=df_winter_train).fit()
df_winter_test["pred"] = model_winter.predict(exog=df_winter_test["atemp"])
winter_rmse = rmse(y_true=df_winter_test["casual"], y_pred=df_winter_test["pred"])

In [702]:
round(abs(summer_rmse-winter_rmse),1)

8.6

In [704]:
#다중 회귀분석

In [705]:
#Q 1

In [706]:
from patsy import dmatrices

In [728]:
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

In [708]:
import pandas as pd

In [709]:
df = pd.read_csv("data/diamonds.csv")

In [711]:
df.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [712]:
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [713]:
col_x = ['carat', 'depth', 'table', 'x', 'y', 'z']

In [714]:
form = 'price ~ '+'+'.join(col_x)

In [715]:
form

'price ~ carat+depth+table+x+y+z'

In [717]:
y, x = dmatrices(formula_like=form, data=df, return_type='dataframe')

In [718]:
y

        price
0       326.0
1       326.0
2       327.0
3       334.0
4       335.0
...       ...
53935  2757.0
53936  2757.0
53937  2757.0
53938  2757.0
53939  2757.0

[53940 rows x 1 columns]

In [719]:
x

       Intercept  carat  depth  table     x     y     z
0            1.0   0.23   61.5   55.0  3.95  3.98  2.43
1            1.0   0.21   59.8   61.0  3.89  3.84  2.31
2            1.0   0.23   56.9   65.0  4.05  4.07  2.31
3            1.0   0.29   62.4   58.0  4.20  4.23  2.63
4            1.0   0.31   63.3   58.0  4.34  4.35  2.75
...          ...    ...    ...    ...   ...   ...   ...
53935        1.0   0.72   60.8   57.0  5.75  5.76  3.50
53936        1.0   0.72   63.1   55.0  5.69  5.75  3.61
53937        1.0   0.70   62.8   60.0  5.66  5.68  3.56
53938        1.0   0.86   61.0   58.0  6.15  6.12  3.74
53939        1.0   0.75   62.2   55.0  5.83  5.87  3.64

[53940 rows x 7 columns]

In [729]:
vif_data = [vif(exog=x,exog_idx=i) for i in range(len(x.columns))]

In [733]:
len(vif_data)

7

In [740]:
x.columns

Index(['Intercept', 'carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [741]:
vif_data

[4821.6963495302125,
 21.6027117923344,
 1.496590189647909,
 1.14322454652752,
 56.187704355141435,
 20.454294706218864,
 23.53004860526826]

In [739]:
pd.concat([x.columns, vif_data],axis=1)

TypeError: cannot concatenate object of type '<class 'pandas.core.indexes.base.Index'>'; only Series and DataFrame objs are valid

In [743]:
df_vif = pd.DataFrame(data=x.columns, columns=["colname"])

In [744]:
df_vif["vif_data"] = vif_data

In [745]:
df_vif

     colname     vif_data
0  Intercept  4821.696350
1      carat    21.602712
2      depth     1.496590
3      table     1.143225
4          x    56.187704
5          y    20.454295
6          z    23.530049

In [746]:
import pandas as pd

In [747]:
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

In [748]:
from patsy import dmatrices

In [749]:
df = pd.read_csv("data/diamonds.csv")

In [750]:
df.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [751]:
form = 'price ~ carat+depth'

In [756]:
y, x = dmatrices(formula_like=form, data=df, return_type="dataframe")

In [757]:
x

       Intercept  carat  depth
0            1.0   0.23   61.5
1            1.0   0.21   59.8
2            1.0   0.23   56.9
3            1.0   0.29   62.4
4            1.0   0.31   63.3
...          ...    ...    ...
53935        1.0   0.72   60.8
53936        1.0   0.72   63.1
53937        1.0   0.70   62.8
53938        1.0   0.86   61.0
53939        1.0   0.75   62.2

[53940 rows x 3 columns]

In [758]:
y

        price
0       326.0
1       326.0
2       327.0
3       334.0
4       335.0
...       ...
53935  2757.0
53936  2757.0
53937  2757.0
53938  2757.0
53939  2757.0

[53940 rows x 1 columns]

In [759]:
from statsmodels.formula.api import ols

In [761]:
model = ols(formula=form, data=df).fit()

In [764]:
pd.DataFrame({"carat":[1], "depth":[60], "table":[55]})

   carat  depth  table
0      1     60     55

In [766]:
model.predict(pd.DataFrame({"carat":[1], "depth":[60], "table":[55]})).round(0)

0    5681.0
dtype: float64

In [767]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [769]:
df_sub = df.loc[:,["price","carat","depth","color"]]

In [771]:
df_sub.head()

   price  carat  depth color
0    326   0.23   61.5     E
1    326   0.21   59.8     E
2    327   0.23   56.9     E
3    334   0.29   62.4     I
4    335   0.31   63.3     J

In [775]:
df_sub_dum = pd.get_dummies(df_sub, columns=["color"], drop_first=True)

In [777]:
df_sub_dum.head(2)

   price  carat  depth  color_E  color_F  color_G  color_H  color_I  color_J
0    326   0.23   61.5        1        0        0        0        0        0
1    326   0.21   59.8        1        0        0        0        0        0

In [782]:
form = 'price ~ '+'+'.join(df_sub_dum.columns[1:])

In [783]:
form

'price ~ carat+depth+color_E+color_F+color_G+color_H+color_I+color_J'

In [784]:
model = ols(formula=form, data=df_sub_dum).fit()

In [795]:
df_sub_dum

,price,carat,depth,color_E,color_F,color_G,color_H,color_I,color_J
0,326,0.23,61.5,1,0,0,0,0,0
1,326,0.21,59.8,1,0,0,0,0,0
2,327,0.23,56.9,1,0,0,0,0,0
3,334,0.29,62.4,0,0,0,0,1,0
4,335,0.31,63.3,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
53935,2757,0.72,60.8,0,0,0,0,0,0
53936,2757,0.72,63.1,0,0,0,0,0,0
53937,2757,0.70,62.8,0,0,0,0,0,0
53938,2757,0.86,61.0,0,0,0,1,0,0
53939,2757,0.75,62.2,0,0,0,0,0,0

In [811]:
df_test = df_sub_dum.iloc[[0],1:]

In [816]:
df_test[["carat","depth"]] = [1,50]

In [817]:
df_test

   carat  depth  color_E  color_F  color_G  color_H  color_I  color_J
0      1     50        1        0        0        0        0        0

In [819]:
model.predict(exog=df_test).round(0)

0    6885.0
dtype: float64

In [1]:
import pandas as pd

In [2]:
from sklearn.naive_bayes import GaussianNB

In [6]:
df = pd.read_csv("data/diabetes.csv")

In [7]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [8]:
df_sub = df[df["BMI"]>0]

In [9]:
model = GaussianNB().fit(X=df.iloc[:,:-1], y=df["Outcome"])

In [13]:
model.class_prior_.round(2)

array([0.65, 0.35])

In [12]:
df["Outcome"].value_counts()[1]/df["Outcome"].value_counts().sum()

0.3489583333333333

In [14]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [17]:
df_sub=df.loc[:,["Glucose","BloodPressure","Age","Outcome"]]

In [18]:
df_sub

     Glucose  BloodPressure  Age  Outcome
0        148             72   50        1
1         85             66   31        0
2        183             64   32        1
3         89             66   21        0
4        137             40   33        1
..       ...            ...  ...      ...
763      101             76   63        0
764      122             70   27        0
765      121             72   30        0
766      126             60   47        1
767       93             70   23        0

[768 rows x 4 columns]

In [19]:
model = GaussianNB().fit(X=df_sub.iloc[:,:-1], y=df_sub["Outcome"])

In [20]:
df_sub["pred"] = model.predict(X=df_sub.iloc[:,:-1])

In [21]:
from sklearn.metrics import accuracy_score

In [25]:
accuracy_score(y_true=df_sub["Outcome"], y_pred=df_sub["pred"]).round(2)

0.76

In [26]:
from sklearn.linear_model import LinearRegression

In [28]:
df_sub = df[df["BMI"]>0]

In [30]:
df_sub["is_preg"] = df_sub["Pregnancies"]>0

C:\Users\yuvjj\AppData\Local\Temp\ipykernel_11720\2007295327.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["is_preg"] = df_sub["Pregnancies"]>0

In [32]:
df_sub["Ages"] = (df_sub["Age"]/10).round(0)*10

C:\Users\yuvjj\AppData\Local\Temp\ipykernel_11720\3289885718.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["Ages"] = (df_sub["Age"]/10).round(0)*10

In [34]:
from sklearn.model_selection import train_test_split

In [45]:
df_train, df_test = train_test_split(df_sub, train_size=0.8, random_state=123)

In [46]:
model_naive = GaussianNB().fit(X=df_train.loc[:,["is_preg","Ages","BMI","Glucose"]], y=df_train["Outcome"])

In [47]:
df_test["pred"] = model_naive.predict(X=df_test.loc[:,["is_preg","Ages","BMI","Glucose"]])

In [48]:
accuracy_score(y_true=df_test["Outcome"], y_pred=df_test["pred"])

0.8092105263157895

In [49]:
df_train, df_test = train_test_split(df_sub, train_size=0.8, random_state=123)

In [50]:
model_LR = LinearRegression().fit(X=df_train.loc[:,["is_preg","Ages","BMI","Glucose"]], y=df_train["Outcome"])

In [53]:
df_test["pred"] = (model_LR.predict(X=df_test.loc[:,["is_preg","Ages","BMI","Glucose"]]) > 0.5)+0

In [54]:
accuracy_score(y_true=df_test["Outcome"], y_pred=df_test["pred"])

0.8223684210526315

In [1]:
import pdb

In [2]:
import pandas as pd

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
from sklearn.metrics import accuracy_score

In [29]:
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor

In [30]:
df = pd.read_csv("data/diabetes.csv")

In [7]:
df_train, df_test = train_test_split(df, train_size=0.7, random_state=123)

In [8]:
df.head(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1

In [9]:
model = KNeighborsClassifier().fit(X=df_train.loc[:,["Pregnancies", "Glucose", "BloodPressure"]], y=df_train["Outcome"])

In [10]:
df_test["pred"]= model.predict(X=df_test.loc[:,["Pregnancies", "Glucose", "BloodPressure"]])

In [11]:
accuracy_score(y_true=df_test["Outcome"], y_pred=df_test["pred"]).round(2)

0.73

In [12]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [13]:
df["is_preg"]=(df["Pregnancies"]>0)+0

In [14]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome', 'is_preg'],
      dtype='object')

In [15]:
col_x = ['Glucose', 'BloodPressure', 'Insulin', 'BMI', 'is_preg']

In [16]:
df_train, df_test = train_test_split(df, train_size=0.8, random_state=123)

In [17]:
model = KNeighborsClassifier(n_neighbors=3).fit(X=df_train.loc[:,col_x], y=df_train["Outcome"])

In [18]:
df_test["pred"] = model.predict(X=df_test.loc[:,col_x])

In [19]:
acc = accuracy_score(y_true=df_test["Outcome"], y_pred=df_test["pred"]).round(2)

In [39]:
def ACC_KNN(x_col, y, k=3, Classifier=True, func=accuracy_score):
    if Classifier== True:
        df_test["pred"] = (KNeighborsClassifier(n_neighbors=k).fit(X=df_train.loc[:,x_col], y=df_train[y])).predict(X=df_test.loc[:,col_x])
    else:
        df_test["pred"] = (KNeighborsRegressor(n_neighbors=k).fit(X=df_train.loc[:,x_col], y=df_train[y])).predict(X=df_test.loc[:,col_x])
        
    return [k, func(y_true=df_test[y], y_pred=df_test["pred"]).round(3)]

In [32]:
ACC_KNN(k=3,x_col=col_x, y="Outcome")

[3, 0.73]

In [33]:
[ACC_KNN(k=K,x_col=col_x, y="Outcome") for K in [3,5,10,20]]

[[3, 0.73], [5, 0.73], [10, 0.78], [20, 0.75]]

In [34]:
from sklearn.metrics import mean_squared_error as mse

In [35]:
rmse = lambda y_true, y_pred : mse(y_true=y_true, y_pred=y_pred)**0.5

In [36]:
col_x=['Glucose', 'BloodPressure', 'Insulin', 'is_preg']

In [37]:
df_test.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,is_preg,pred
236,7,181,84,21,192,35.9,0.586,51,1,1,1
395,2,127,58,24,275,27.7,1.600,25,0,1,0
36,11,138,76,0,0,33.2,0.420,35,0,1,0
210,2,81,60,22,0,27.7,0.290,25,0,1,0
483,0,84,82,31,125,38.2,0.233,23,0,0,0

In [27]:
pdb.set_trace()

--Call--
> c:\users\yuvjj\anaconda3\envs\data_science_for_python\lib\site-packages\ipython\core\displayhook.py(252)__call__()
    250         sys.stdout.flush()
    251
--> 252     def __call__(self, result=None):
    253         """Printing with history cache management.
    254

ipdb> continue

In [40]:
[ACC_KNN(k=K, x_col=col_x, y="BMI", func=rmse, Classifier=False) for K in [3,5,10,20]]

[[3, 8.508], [5, 8.706], [10, 8.517], [20, 8.514]]

In [42]:
df_test["pred"] = (KNeighborsRegressor(n_neighbors=3).fit(X=df_train.loc[:,col_x], y=df_train["BMI"])).predict(X=df_test.loc[:,col_x])

In [43]:
df_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,is_preg,pred
236,7,181,84,21,192,35.9,0.586,51,1,1,31.400000
395,2,127,58,24,275,27.7,1.600,25,0,1,31.166667
36,11,138,76,0,0,33.2,0.420,35,0,1,26.766667
210,2,81,60,22,0,27.7,0.290,25,0,1,28.633333
483,0,84,82,31,125,38.2,0.233,23,0,0,33.600000
...,...,...,...,...,...,...,...,...,...,...,...
650,1,91,54,25,100,25.2,0.234,23,0,1,34.433333
579,2,197,70,99,0,34.7,0.575,62,1,1,30.833333
119,4,99,76,15,51,23.2,0.223,21,0,1,30.266667
593,2,82,52,22,115,28.5,1.699,25,0,1,31.200000
310,6,80,66,30,0,26.2,0.313,41,0,1,25.766667

In [1]:
import pandas as pd

In [3]:
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor

In [4]:
from sklearn.model_selection import train_test_split

In [24]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import accuracy_score

In [7]:
rmse = lambda y_true, y_pred:mse(y_true=y_true, y_pred=y_pred)**0.5

In [8]:
df = pd.read_csv("data/diabetes.csv")

In [9]:
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [10]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [13]:
df_train, df_test = train_test_split(df, train_size=0.8, random_state=123)

In [14]:
col_x=['Glucose', 'BloodPressure', 'SkinThickness']

In [19]:
model = DecisionTreeRegressor(random_state=123).fit(X=df_train.loc[:,col_x], y=df_train["BMI"])

In [20]:
df_test["pred"] = model.predict(X=df_test.loc[:,col_x])

In [21]:
rmse(y_true=df_test["BMI"], y_pred=df_test["pred"]).round(1)

9.9

In [46]:
col_x=['Pregnancies', 'Glucose', 'BloodPressure']

In [47]:
df_train, df_test = train_test_split(df, train_size=0.8, random_state=123)

In [48]:
df_test["pred"] = DecisionTreeClassifier(random_state=123).fit(X=df_train.loc[:,col_x], y=df_train["Outcome"]).predict(X=df_test.loc[:,col_x])

In [49]:
accuracy_score(y_true=df_test["Outcome"], y_pred=df_test["pred"])

0.6363636363636364

In [50]:
model = DecisionTreeClassifier(random_state=123).fit(X=df_train.loc[:,col_x], y=df_train["Outcome"])

In [55]:
col_x

['Pregnancies', 'Glucose', 'BloodPressure']

In [51]:
df_test["pred"] = model.predict(X=df_test.loc[:,col_x])

In [56]:
col_x=['Pregnancies', 'Glucose', 'BloodPressure', 'BMI', 'Age']

In [69]:
df_train, df_test = train_test_split(df, train_size=0.7, random_state=345)

In [71]:
[accuracy_score(y_true=df_test["Outcome"], 
                y_pred=DecisionTreeClassifier(max_depth=k, random_state=345).fit(X=df_train.loc[:,col_x], 
                                                                                y=df_train["Outcome"]).predict(X=df_test.loc[:,col_x])) for k in [3,4,5,6]]

[0.7705627705627706,
 0.7575757575757576,
 0.7619047619047619,
 0.7705627705627706]