In [1]:
import pandas as pd

In [2]:
exam1 = pd.read_csv("data/연습문제/Cars93.csv")

In [3]:
exam1.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [15]:
import numpy as np

In [8]:
def handle_out_lier(sr, multiple):
    avg = sr.mean()
    std = sr.std()
    upper = avg+multiple*std
    lower = avg-multiple*std
    return sr.loc[(sr<upper)&(sr>lower)].mean()

In [20]:
def exam1_result(sr,multiples):
    orgin_avg = sr.mean()
    avgs = np.array([handle_out_lier(sr, i) for i in multiples])
    return round(abs(avgs-orgin_avg).sum(),4)

In [21]:
exam1_result(exam1.Wheelbase,[1.5,2,2.5])

0.4845

In [22]:
exam2 = pd.read_csv("data/연습문제/Cars93.csv")

In [27]:
exam2["length_rank"] = exam2.Length.rank()

In [31]:
round(exam2.loc[exam2.length_rank<=30,"Length"].std(),3)

8.884

In [32]:
exam3 = pd.read_csv("data/연습문제/Cars93.csv")

In [40]:
round((exam3.Max_Price.sort_values(ascending=False).reset_index(drop=True) - exam3.Min_Price.sort_values(ascending=True).reset_index(drop=True)).std(),3)

18.584

In [42]:
exam4 = pd.read_csv("data/연습문제/Cars93.csv")

In [53]:
from sklearn.preprocessing import MinMaxScaler

In [62]:
exam4.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [66]:
model = MinMaxScaler().fit(X=np.array(exam4.Weight).reshape(-1, 1))

In [72]:
scaled_weight = model.transform(X=np.array(exam4.Weight).reshape(-1, 1))

In [85]:
scaled_series = pd.Series(data=scaled_weight.reshape(1,-1)[0])

In [87]:
first = scaled_series.loc[scaled_series<0.5].var()

In [88]:
second = scaled_series.loc[scaled_series>0.5].var()

In [90]:
round(abs(first-second),3)

0.001

In [91]:
exam5 = pd.read_csv("data/연습문제/Cars93.csv")

In [114]:
exam5[["Manufacturer","Origin"]].drop_duplicates().shape[0]

32

In [113]:
pd.concat([exam5.Manufacturer.apply(lambda x:x[0:2]), exam5.Origin]).drop_duplicates().shape[0]

28

In [115]:
exam5[["Manufacturer","Origin"]].drop_duplicates().shape[0] - pd.concat([exam5.Manufacturer.apply(lambda x:x[0:2]), exam5.Origin]).drop_duplicates().shape[0]

4

In [116]:
exam6 = pd.read_csv("data/연습문제/Cars93.csv")

In [117]:
exam6.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [120]:
exam6.RPM.count()

89

In [138]:
exam6.groupby(["Type","Man_trans_avail"], as_index=False)["RPM"]\
.agg([pd.Series.count, pd.Series.sum, pd.Series.median])\
.apply(lambda x: x["median"]-(x["sum"]/x["count"]), axis=1)\
.to_frame().sum().round(0)

0    442.0
dtype: float64

In [158]:
def zscore(x):
    return (x-x.mean())/x.std()

In [159]:
exam7 = pd.read_csv("data/연습문제/Cars93.csv")

In [160]:
exam7.RPM.fillna(exam7.RPM.mean(), inplace=True)

In [162]:
test = exam7.loc[:,["RPM","Wheelbase"]].apply(func=zscore)

In [164]:
round(test.apply(lambda x : x["Wheelbase"]*(-36)-x["RPM"],axis=1).std(),3)

35.561

In [166]:
from sklearn.preprocessing import StandardScaler

In [167]:
model = StandardScaler().fit(X=exam7.loc[:,["RPM","Wheelbase"]])

In [168]:
exam7.loc[:,["RPM","Wheelbase"]] = model.fit_transform(exam7.loc[:,["RPM","Wheelbase"]])

In [169]:
round(exam7.loc[:,["RPM","Wheelbase"]].apply(lambda x: x["Wheelbase"]*(-36)-x["RPM"], axis=1).std(),3)

35.753

In [185]:
exam8 = pd.read_csv("data/연습문제/Cars93.csv")

In [186]:
exam8.Price.fillna(exam8.Price.mean(),inplace=True)

In [188]:
df_first=exam8.loc[(exam8.Price<exam8.Min_Price.mean())&(exam8.Price<exam8.Max_Price.mean()),:].groupby("Origin")["Price"].sum().to_frame()

In [189]:
exam8 = pd.read_csv("data/연습문제/Cars93.csv")

In [190]:
exam8.Price.fillna(exam8.Price.median(),inplace=True)

In [191]:
exam8.Min_Price.quantile(q=0.75)

20.3

In [195]:
df_second = exam8.loc[exam8.Price<exam8.Min_Price.quantile(q=0.75),:].groupby("Origin")["Price"].sum().to_frame()

In [196]:
df_first

         Price
Origin
USA      328.6
non-USA  203.4

In [197]:
df_second

          Price
Origin
USA      579.70
non-USA  424.35

In [200]:
round((df_first+df_second).max(),0)

Price    908.0
dtype: float64

In [207]:
exam8 = pd.read_csv("data/연습문제/Cars93.csv")

In [208]:
exam8.Price.fillna(exam8.Price.mean(),inplace=True)

In [209]:
avg_Min_Max = exam8[["Max_Price","Min_Price"]].mean(axis=1)

In [214]:
df_first = exam8.loc[exam8.Price<avg_Min_Max,:].groupby(["Origin"])["Price"].sum().to_frame()

In [215]:
df_first

              Price
Origin
USA      277.138095
non-USA  262.595238

In [217]:
(df_first+df_second).max()

Price    856.838095
dtype: float64

In [220]:
exam1.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [256]:
df_group = exam1.groupby(["Manufacturer","Type","DriveTrain"])["Price"].sum().to_frame()

In [257]:
df_group

                                 Price
Manufacturer Type    DriveTrain
Acura        Midsize Front        33.9
             Small   Front        15.9
Audi         Compact Front        29.1
             Midsize Front         0.0
BMW          Midsize Rear          0.0
...                                ...
Volkswagen   Small   Front         9.1
             Sporty  Front        23.3
             Van     Front        19.7
Volvo        Compact Rear         22.7
             Midsize Front        26.7

[85 rows x 1 columns]

In [226]:
MPG_city = df_group.index.get_level_values(3).values

In [230]:
df_result = pd.DataFrame(index=df_group.index.droplevel(3))

In [232]:
df_result["MPG_city"] = MPG_city

In [234]:
df_result["Price"] = df_group.Price.values

In [242]:
df_result["MPG_city"].unique()

array([25, 18, 19, 20, 22, 16, 15, 17, 21, 23, 29, 31, 24, 46, 30, 42, 26,
       28, 33, 39, 32], dtype=int64)

In [254]:
df_group2 = exam1.groupby(["Manufacturer","Type","DriveTrain"], as_index=False)["Price"].sum()

In [255]:
df_group2

   Manufacturer     Type DriveTrain  Price
0         Acura  Midsize      Front   33.9
1         Acura    Small      Front   15.9
2          Audi  Compact      Front   29.1
3          Audi  Midsize      Front    0.0
4           BMW  Midsize       Rear    0.0
..          ...      ...        ...    ...
80   Volkswagen    Small      Front    9.1
81   Volkswagen   Sporty      Front   23.3
82   Volkswagen      Van      Front   19.7
83        Volvo  Compact       Rear   22.7
84        Volvo  Midsize      Front   26.7

[85 rows x 4 columns]

In [259]:
exam1[["Manufacturer","Type","DriveTrain"]].drop_duplicates().head(30)

   Manufacturer     Type DriveTrain
0         Acura    Small      Front
1         Acura  Midsize      Front
2          Audi  Compact      Front
3          Audi  Midsize      Front
4           BMW  Midsize       Rear
5         Buick  Midsize      Front
6         Buick    Large      Front
7         Buick    Large       Rear
9      Cadillac    Large      Front
10     Cadillac  Midsize      Front
11    Chevrolet  Compact      Front
13    Chevrolet   Sporty       Rear
14    Chevrolet  Midsize      Front
15    Chevrolet      Van      Front
16    Chevrolet      Van        4WD
17    Chevrolet    Large       Rear
19     Chrylser    Large      Front
20     Chrysler  Compact      Front
21     Chrysler    Large      Front
22        Dodge    Small      Front
24        Dodge  Compact      Front
25        Dodge      Van        4WD
26        Dodge  Midsize      Front
27        Dodge   Sporty        4WD
28        Eagle    Small      Front
29        Eagle    Large      Front
30         Ford    Small      Front
32         Ford  Compact      Front
33         Ford   Sporty       Rear
34         Ford   Sporty      Front

In [268]:
exam8=pd.read_csv("data/연습문제/Cars93.csv")

In [269]:
exam8.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [270]:
exam8.Price.mean()

19.047619047619047

In [273]:
exam8.Price.fillna(exam8.Price.mean(), inplace=True)

In [279]:
exam8

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.900000,18.8,25,31,None,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.900000,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.100000,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,19.047619,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,19.047619,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.700000,22.7,17,21,None,Front,...,187,115,72,38.0,34.0,NaN,3960,non-USA,88,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.000000,22.4,21,30,None,Front,...,180,103,67,NaN,31.5,14.0,2985,non-USA,89,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.300000,23.7,18,25,None,Front,...,159,97,66,36.0,26.0,15.0,2810,non-USA,90,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.700000,23.5,21,28,Driver only,Rear,...,190,104,67,37.0,29.5,14.0,2985,non-USA,91,Volvo 240
92,Volvo,850,Midsize,24.8,26.700000,28.5,20,28,Driver & Passenger,Front,...,184,105,69,38.0,30.0,15.0,3245,non-USA,92,Volvo 850

In [284]:
exam8.loc[:,["Max_Price","Min_Price"]].mean(axis=1)

0     15.85
1     33.95
2     29.10
3     37.70
4     29.95
      ...
88    19.65
89    20.00
90    23.30
91    22.65
92    26.65
Length: 93, dtype: float64

In [288]:
df_first = exam8.loc[exam8.Price<exam8.loc[:,["Max_Price","Min_Price"]].mean(axis=1),:].groupby("Origin")["Price"].sum().to_frame()

In [289]:
df_first

              Price
Origin
USA      277.138095
non-USA  262.595238

In [290]:
exam8=pd.read_csv("data/연습문제/Cars93.csv")

In [291]:
exam8.Price.fillna(exam8.Price.median(), inplace=True)

In [294]:
df_second = exam8.loc[exam8.Price<exam8.Min_Price.quantile(0.75),].groupby("Origin")["Price"].sum().to_frame()

In [297]:
np.floor((df_first+df_second).max())

Price    856.0
dtype: float64

In [298]:
exam9 = pd.read_csv("data/연습문제/Cars93.csv")

In [299]:
exam9.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [301]:
exam9.Price.fillna(exam9[["Max_Price","Min_Price"]].mean(axis=1), inplace=True)

In [304]:
exam9.loc[(exam9.Price<14.8)|\
         ((exam9.Price>25.3)&\
         (exam9.Type=="Large")),].shape[0]

35

In [305]:
exam9.AirBags.unique()

array(['None', 'Driver & Passenger', 'Driver only'], dtype=object)

In [312]:
exam9[exam9.Make.apply(lambda x:x.split()[0]).isin(["Chevrolet","Pontiac","Hyundai"])].loc[exam9.AirBags=="Driver only",:].shape[0]

3