In [3]:
import pandas as pd

In [4]:
from sklearn.preprocessing import StandardScaler

In [5]:
from sklearn.decomposition import PCA

In [8]:
df=pd.read_csv("data/예제/USArrests_rownames.csv",index_col=0)

In [9]:
df.head()

            Murder  Assault  UrbanPop  Rape
Alabama       13.2      236        58  21.2
Alaska        10.0      263        48  44.5
Arizona        8.1      294        80  31.0
Arkansas       8.8      190        50  19.5
California     9.0      276        91  40.6

In [18]:
x=StandardScaler().fit_transform(df)

In [20]:
pca=PCA(n_components=4)

In [21]:
pca_arr = pca.fit_transform(x)

In [23]:
result = {"분산기여율":pca.explained_variance_ratio_,\
         "누적기여율":pca.explained_variance_ratio_.cumsum()}

In [24]:
result

{'분산기여율': array([0.62006039, 0.24744129, 0.0891408 , 0.04335752]),
 '누적기여율': array([0.62006039, 0.86750168, 0.95664248, 1.        ])}

In [29]:
result = pd.DataFrame(result, index=["PCA1", "PCA2","PCA3","PCA4"]).T

In [31]:
display(result)

          PCA1      PCA2      PCA3      PCA4
분산기여율  0.62006  0.247441  0.089141  0.043358
누적기여율  0.62006  0.867502  0.956642  1.000000

In [32]:
pca=PCA(n_components=2)

In [33]:
pca_arr = pca.fit_transform(x)

In [34]:
df_pca = pd.DataFrame(pca_arr, columns=['PCA1','PCA2'])

In [35]:
df_pca.head()

       PCA1      PCA2
0  0.985566  1.133392
1  1.950138  1.073213
2  1.763164 -0.745957
3 -0.141420  1.119797
4  2.523980 -1.542934