In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("lv2-2305-1.csv")

In [3]:
df.head()

,EMP_ID,NUM_LOGIN,NUM_CONTENTS,NUM_ACTION,TIME_LOGIN,TIME_TEST,NUM_REVISION,SCORE
0,S0001,7,10,57,150,1.95,1,9.77
1,S0002,7,11,54,144,2.42,10,5.80
2,S0003,2,11,21,132,2.14,1,9.77
3,S0004,10,11,101,350,2.73,7,7.15
4,S0005,4,11,35,93,1.61,5,5.28

In [5]:
df.isna().sum()

EMP_ID          0
NUM_LOGIN       0
NUM_CONTENTS    0
NUM_ACTION      0
TIME_LOGIN      0
TIME_TEST       0
NUM_REVISION    0
SCORE           0
dtype: int64

In [145]:
# =======================================================================================================
# 1
# =======================================================================================================

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
df.columns

Index(['EMP_ID', 'NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN',
       'TIME_TEST', 'NUM_REVISION', 'SCORE'],
      dtype='object')

In [8]:
colx = ['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN']

In [9]:
scaled_x=StandardScaler().fit_transform(df.loc[:,colx])

In [10]:
scaled_x

array([[-0.12630048, -0.1002278 , -0.38870684, -0.15270396],
       [-0.12630048,  0.39719906, -0.44957951, -0.19211143],
       [-0.99868522,  0.39719906, -1.11917891, -0.27092638],
       ...,
       [ 1.79294595,  0.39719906,  1.13310997,  0.06403714],
       [-0.82420827,  0.39719906, -0.99743357, -0.86860638],
       [-0.82420827,  0.39719906, -0.75394288, -0.80949518]])

In [11]:
df_scaled = df.copy()

In [12]:
df_scaled

,EMP_ID,NUM_LOGIN,NUM_CONTENTS,NUM_ACTION,TIME_LOGIN,TIME_TEST,NUM_REVISION,SCORE
0,S0001,7,10,57,150,1.95,1,9.77
1,S0002,7,11,54,144,2.42,10,5.80
2,S0003,2,11,21,132,2.14,1,9.77
3,S0004,10,11,101,350,2.73,7,7.15
4,S0005,4,11,35,93,1.61,5,5.28
...,...,...,...,...,...,...,...,...
263,S0264,9,10,96,193,2.14,17,5.75
264,S0265,6,11,52,60,2.08,8,5.09
265,S0266,18,11,132,183,2.42,20,5.94
266,S0267,3,11,27,41,2.18,3,5.14
267,S0268,3,11,39,50,1.73,7,4.78

In [20]:
colx_S = [x+'_S' for x in colx]

In [18]:
df_scaled = df_scaled.rename(columns=dict(zip(colx,colx_S)))

In [22]:
df_scaled.loc[:,colx_S] = scaled_x

In [24]:
df_scaled.loc[:, colx_S].sum(axis=1)

0     -0.767939
1     -0.370792
2     -1.991591
3      2.459300
4     -1.614714
         ...
263    0.654780
264   -1.137556
265    3.387292
266   -2.293049
267   -1.990447
Length: 268, dtype: float64

In [25]:
df_scaled["INVOLVEMENT"]=df_scaled.loc[:, colx_S].sum(axis=1)

In [26]:
df_scaled

,EMP_ID,NUM_LOGIN_S,NUM_CONTENTS_S,NUM_ACTION_S,TIME_LOGIN_S,TIME_TEST,NUM_REVISION,SCORE,INVOLVEMENT
0,S0001,-0.126300,-0.100228,-0.388707,-0.152704,1.95,1,9.77,-0.767939
1,S0002,-0.126300,0.397199,-0.449580,-0.192111,2.42,10,5.80,-0.370792
2,S0003,-0.998685,0.397199,-1.119179,-0.270926,2.14,1,9.77,-1.991591
3,S0004,0.397130,0.397199,0.504092,1.160878,2.73,7,7.15,2.459300
4,S0005,-0.649731,0.397199,-0.835106,-0.527075,1.61,5,5.28,-1.614714
...,...,...,...,...,...,...,...,...,...
263,S0264,0.222653,-0.100228,0.402638,0.129716,2.14,17,5.75,0.654780
264,S0265,-0.300777,0.397199,-0.490161,-0.743816,2.08,8,5.09,-1.137556
265,S0266,1.792946,0.397199,1.133110,0.064037,2.42,20,5.94,3.387292
266,S0267,-0.824208,0.397199,-0.997434,-0.868606,2.18,3,5.14,-2.293049
267,S0268,-0.824208,0.397199,-0.753943,-0.809495,1.73,7,4.78,-1.990447

In [197]:
prob_1 = df_scaled.loc[:, ["SCORE","INVOLVEMENT"]].corr().round(3).iloc[0,1]

In [144]:
# =======================================================================================================
# 2
# =======================================================================================================

In [32]:
df

,EMP_ID,NUM_LOGIN,NUM_CONTENTS,NUM_ACTION,TIME_LOGIN,TIME_TEST,NUM_REVISION,SCORE
0,S0001,7,10,57,150,1.95,1,9.77
1,S0002,7,11,54,144,2.42,10,5.80
2,S0003,2,11,21,132,2.14,1,9.77
3,S0004,10,11,101,350,2.73,7,7.15
4,S0005,4,11,35,93,1.61,5,5.28
...,...,...,...,...,...,...,...,...
263,S0264,9,10,96,193,2.14,17,5.75
264,S0265,6,11,52,60,2.08,8,5.09
265,S0266,18,11,132,183,2.42,20,5.94
266,S0267,3,11,27,41,2.18,3,5.14
267,S0268,3,11,39,50,1.73,7,4.78

In [33]:
df_outlier = df.copy()

In [34]:
df_outlier

,EMP_ID,NUM_LOGIN,NUM_CONTENTS,NUM_ACTION,TIME_LOGIN,TIME_TEST,NUM_REVISION,SCORE
0,S0001,7,10,57,150,1.95,1,9.77
1,S0002,7,11,54,144,2.42,10,5.80
2,S0003,2,11,21,132,2.14,1,9.77
3,S0004,10,11,101,350,2.73,7,7.15
4,S0005,4,11,35,93,1.61,5,5.28
...,...,...,...,...,...,...,...,...
263,S0264,9,10,96,193,2.14,17,5.75
264,S0265,6,11,52,60,2.08,8,5.09
265,S0266,18,11,132,183,2.42,20,5.94
266,S0267,3,11,27,41,2.18,3,5.14
267,S0268,3,11,39,50,1.73,7,4.78

In [54]:
df_outlier.SCORE.quantile(q=0.75)

7.6899999999999995

In [55]:
df_outlier.SCORE.quantile(q=0.25)

5.38

In [57]:
IQR = df_outlier.SCORE.quantile(q=0.75) - df_outlier.SCORE.quantile(q=0.25)

In [58]:
lower = df_outlier.SCORE.quantile(q=0.25)-1.5*IQR

In [59]:
upper = df_outlier.SCORE.quantile(q=0.75)+1.5*IQR

In [60]:
lower

1.9150000000000005

In [61]:
upper

11.155

In [62]:
df_outlier.SCORE.max()

9.77

In [63]:
df_outlier.SCORE.min()

1.45

In [66]:
df_outlier = df_outlier.loc[df.SCORE>=lower]

In [67]:
df_outlier.head()

,EMP_ID,NUM_LOGIN,NUM_CONTENTS,NUM_ACTION,TIME_LOGIN,TIME_TEST,NUM_REVISION,SCORE
0,S0001,7,10,57,150,1.95,1,9.77
1,S0002,7,11,54,144,2.42,10,5.80
2,S0003,2,11,21,132,2.14,1,9.77
3,S0004,10,11,101,350,2.73,7,7.15
4,S0005,4,11,35,93,1.61,5,5.28

In [75]:
df_outlier.EMP_ID.iloc[0][-1]

'1'

In [77]:
df_outlier["new_line_num"] = df_outlier.EMP_ID.apply(lambda x: int(x[-1]))

C:\Users\yuvjj\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [78]:
df_test = df_outlier.loc[df_outlier.new_line_num%4==0,:]

In [88]:
df_train = df_outlier.loc[set(df_outlier.index) - set(df_test.index),:]

In [89]:
df_train.columns

Index(['EMP_ID', 'NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN',
       'TIME_TEST', 'NUM_REVISION', 'SCORE', 'new_line_num'],
      dtype='object')

In [124]:
linear_colx = ['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN','TIME_TEST','NUM_REVISION']

In [125]:
len(linear_colx)

6

In [126]:
from statsmodels.formula.api import ols

In [127]:
def adj_R_from_ols(df, out_param, in_param):
    form = out_param+"~"+in_param
    model = ols(formula=form, data=df).fit()
    return model.rsquared_adj

In [128]:
[adj_R_from_ols(df_train, "SCORE",x) for x in linear_colx]

[0.057608013847923356,
 0.09750211233161177,
 0.07595351388582561,
 0.26585408702965896,
 0.05859302381994669,
 0.005209967763311507]

In [129]:
def adj_R_from_ols2(df, out_param, in_param):
    form = out_param+"~"+"TIME_LOGIN+"+in_param
    model = ols(formula=form, data=df).fit()
    return model.rsquared_adj

In [130]:
linear_colx.remove("TIME_LOGIN")

In [131]:
linear_colx

['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_TEST', 'NUM_REVISION']

In [132]:
[adj_R_from_ols2(df_train, "SCORE",x) for x in linear_colx]

[0.2830733163482514,
 0.2967442871372139,
 0.2657945678854614,
 0.2726112372266525,
 0.27905877499005327]

In [133]:
def adj_R_from_ols3(df, out_param, in_param):
    form = out_param+"~"+"TIME_LOGIN+"+'NUM_CONTENTS+'+in_param
    model = ols(formula=form, data=df).fit()
    return model.rsquared_adj

In [134]:
linear_colx.remove("NUM_CONTENTS")

In [135]:
linear_colx

['NUM_LOGIN', 'NUM_ACTION', 'TIME_TEST', 'NUM_REVISION']

In [136]:
[adj_R_from_ols3(df_train, "SCORE",x) for x in linear_colx]

[0.32515529467578497,
 0.30824389948210706,
 0.29560255502145927,
 0.3265951102870196]

In [137]:
form = "SCORE ~ TIME_LOGIN+NUM_CONTENTS+NUM_REVISION"

In [138]:
model=ols(formula=form, data=df_outlier).fit()

In [202]:
model.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                 Results: Ordinary least squares
=================================================================
Model:              OLS              Adj. R-squared:     0.329
Dependent Variable: SCORE            AIC:                911.9272
Date:               2023-05-18 18:39 BIC:                926.2762
No. Observations:   267              Log-Likelihood:     -451.96
Df Model:           3                F-statistic:        44.53
Df Residuals:       263              Prob (F-statistic): 2.65e-23
R-squared:          0.337            Scale:              1.7554
------------------------------------------------------------------
               Coef.   Std.Err.     t     P>|t|    [0.025   0.975]
------------------------------------------------------------------
Intercept      4.1675    0.4215   9.8872  0.0000   3.3375   4.9974
TIME_LOGIN     0.0051    0.0005   9.2052  0.0000   0.0040   0.0061
NUM_CONTENTS   0.1773    0.0431   4.1153  0.0001   0.0925   0.2621
NUM_REVISION  -0.0364    0.0094  -3.8945  0.0001  -0.0548  -0.0180
-----------------------------------------------------------------
Omnibus:              4.138        Durbin-Watson:           2.003
Prob(Omnibus):        0.126        Jarque-Bera (JB):        4.010
Skew:                 0.300        Prob(JB):                0.135
Kurtosis:             3.023        Condition No.:           1208
=================================================================
* The condition number is large (1e+03). This might indicate
strong multicollinearity or other numerical problems.
"""

In [139]:
test_colx = ["TIME_LOGIN","NUM_CONTENTS","NUM_REVISION"]

In [140]:
pred = model.predict(df_test.loc[:,test_colx])

In [141]:
from sklearn.metrics import mean_squared_error as mse

In [203]:
rmse = lambda y_true, y_pred:mse(y_true,y_pred)**(0.5)

In [204]:
prob_2 = round(rmse(y_true=df_test.SCORE,y_pred=pred),2)

In [205]:
prob_2

1.37

In [147]:
# =======================================================================================================
# 3
# =======================================================================================================

In [149]:
df_num3 = df.copy()

In [156]:
df.SCORE.max()

9.77

In [154]:
df_A = df_num3.loc[df.SCORE<=5,:]

In [155]:
df_B = df_num3.loc[(df.SCORE>5) & (df.SCORE<=7),:]

In [157]:
df_C = df_num3.loc[df.SCORE>7,:]

In [158]:
df_num3.shape

(268, 8)

In [159]:
df_A.shape

(47, 8)

In [160]:
df_B.shape

(122, 8)

In [161]:
df_C.shape

(99, 8)

In [163]:
df_num3.head()

,EMP_ID,NUM_LOGIN,NUM_CONTENTS,NUM_ACTION,TIME_LOGIN,TIME_TEST,NUM_REVISION,SCORE
0,S0001,7,10,57,150,1.95,1,9.77
1,S0002,7,11,54,144,2.42,10,5.80
2,S0003,2,11,21,132,2.14,1,9.77
3,S0004,10,11,101,350,2.73,7,7.15
4,S0005,4,11,35,93,1.61,5,5.28

In [164]:
df_num3.columns

Index(['EMP_ID', 'NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN',
       'TIME_TEST', 'NUM_REVISION', 'SCORE'],
      dtype='object')

In [165]:
colx=['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN',\
       'TIME_TEST', 'NUM_REVISION']

In [167]:
len(colx)

6

In [168]:
from sklearn.ensemble import RandomForestRegressor

In [208]:
model1 = RandomForestRegressor(n_estimators=10, min_samples_leaf=10, random_state=1234)\
.fit(X=df_A.loc[:,colx], y=df_A.SCORE)

In [207]:
model2 = RandomForestRegressor(n_estimators=10, min_samples_leaf=10, random_state=1234)\
.fit(X=df_B.loc[:,colx], y=df_B.SCORE)

In [209]:
model3 = RandomForestRegressor(n_estimators=10, min_samples_leaf=10, random_state=1234)\
.fit(X=df_C.loc[:,colx], y=df_C.SCORE)

In [210]:
df_importance = pd.DataFrame()
df_importance["params"]=colx
df_importance["A_FI"]=model1.feature_importances_
df_importance["B_FI"]=model2.feature_importances_
df_importance["C_FI"]=model3.feature_importances_

In [211]:
df_importance

         params      A_FI      B_FI      C_FI
0     NUM_LOGIN  0.100000  0.023803  0.000000
1  NUM_CONTENTS  0.283298  0.002720  0.007413
2    NUM_ACTION  0.600000  0.038909  0.179341
3    TIME_LOGIN  0.000000  0.743178  0.104808
4     TIME_TEST  0.000000  0.169527  0.605861
5  NUM_REVISION  0.016702  0.021863  0.102577

In [212]:
df_importance.A_FI.idxmax()

2

In [213]:
df_importance.B_FI.idxmax()

3

In [214]:
df_importance.C_FI.idxmax()

4

In [215]:
prob_3 = round(df_importance.A_FI.max()+df_importance.B_FI.max()+df_importance.C_FI.max(),2)

In [216]:
# ==========

In [217]:
prob_1

0.446

In [218]:
prob_2

1.37

In [219]:
prob_3

1.95