In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("lv2-2305-2.csv")

In [4]:
df.head()

   REG_NO  GRE  TOEFL UNIV_RATING  SOP  LOR  CGPA  RESEARCH     ADMIT
0       1  337    118           B  4.5  4.5  9.65         1  Admitted
1       2  324    107           B  4.0  4.5  8.87         1  Admitted
2       3  316    104           C  3.0  3.5  8.00         1    Denied
3       4  322    110           C  3.5  2.5  8.67         1  Admitted
4       5  314    103           D  2.0  3.0  8.21         0    Denied

In [5]:
#prob 1

In [6]:
df.isna().sum()

REG_NO         0
GRE            0
TOEFL          0
UNIV_RATING    0
SOP            0
LOR            0
CGPA           0
RESEARCH       0
ADMIT          0
dtype: int64

In [8]:
df.ADMIT.unique()[0]

'Admitted'

In [9]:
df_admit = df.loc[df.ADMIT==df.ADMIT.unique()[0],:]

In [13]:
df_admit.ADMIT.unique()

array(['Admitted'], dtype=object)

In [10]:
df_denied = df.loc[set(df.index)-set(df_admit.index),:]

In [12]:
df_denied.ADMIT.unique()

array(['Denied'], dtype=object)

In [14]:
df_admit.columns

Index(['REG_NO', 'GRE', 'TOEFL', 'UNIV_RATING', 'SOP', 'LOR', 'CGPA',
       'RESEARCH', 'ADMIT'],
      dtype='object')

In [15]:
colx = ['GRE', 'TOEFL','CGPA']

In [ ]:
df.rank()

In [17]:
df_admit.loc[:,colx].rank(method='min',ascending=False)

       GRE  TOEFL   CGPA
0     16.0   18.0   18.0
1     97.0  153.0  126.0
3    120.0  109.0  154.0
5     51.0   45.0   47.0
6    131.0  135.0  179.0
..     ...    ...    ...
394   57.0   94.0   58.0
395   97.0  109.0  102.0
396   89.0  179.0   85.0
397   51.0   34.0   31.0
399   33.0   27.0   15.0

[180 rows x 3 columns]

In [19]:
df_admit_rank = df_admit.loc[:,colx].rank(method='min',ascending=False)

In [20]:
df_admit_rank.columns

Index(['GRE', 'TOEFL', 'CGPA'], dtype='object')

In [21]:
colx_R = [x+"_R" for x in df_admit_rank.columns]

In [23]:
df_admit_rank = df_admit_rank.rename(columns=dict(zip(df_admit_rank.columns,colx_R)))

In [26]:
df_admit_r = pd.concat([df_admit, df_admit_rank], axis=1)

In [27]:
df_admit_r.head()

,REG_NO,GRE,TOEFL,UNIV_RATING,SOP,LOR,CGPA,RESEARCH,ADMIT,GRE_R,TOEFL_R,CGPA_R
0,1,337,118,B,4.5,4.5,9.65,1,Admitted,16.0,18.0,18.0
1,2,324,107,B,4.0,4.5,8.87,1,Admitted,97.0,153.0,126.0
3,4,322,110,C,3.5,2.5,8.67,1,Admitted,120.0,109.0,154.0
5,6,330,115,A,4.5,3.0,9.34,1,Admitted,51.0,45.0,47.0
6,7,321,109,C,3.0,4.0,8.20,1,Admitted,131.0,135.0,179.0

In [28]:
from scipy.stats import spearmanr

In [ ]:
df.corrwith()

In [32]:
df_admit_r.loc[:,colx_R].corr(method="spearman")

            GRE_R   TOEFL_R    CGPA_R
GRE_R    1.000000  0.784158  0.777091
TOEFL_R  0.784158  1.000000  0.738595
CGPA_R   0.777091  0.738595  1.000000

In [34]:
A=0.777091

In [35]:
A_VAR = "GRE_R"

In [36]:
df_denied_rank = df_denied.loc[:,colx].rank(method='min',ascending=False)
df_denied_rank = df_denied_rank.rename(columns=dict(zip(df_denied_rank.columns,colx_R)))
df_denied_r = pd.concat([df_denied, df_denied_rank], axis=1)
df_denied_r.loc[:,colx_R].corr(method="spearman")

            GRE_R   TOEFL_R    CGPA_R
GRE_R    1.000000  0.613201  0.595403
TOEFL_R  0.613201  1.000000  0.616724
CGPA_R   0.595403  0.616724  1.000000

In [37]:
B = 0.616724

In [39]:
B_VAR = "TOEFL_R"

In [84]:
prob_1 = round(abs(A-B),2)

In [85]:
prob_1

0.16

In [42]:
#prob 2

In [45]:
df.TOEFL.quantile(q=0.25)

103.0

In [46]:
df.TOEFL.quantile(q=0.75)

112.0

In [47]:
df.TOEFL.max()

120

In [48]:
df.TOEFL.min()

52

In [49]:
IQR = df.TOEFL.quantile(q=0.75) - df.TOEFL.quantile(q=0.25)

In [50]:
IQR

9.0

In [52]:
upper = df.TOEFL.quantile(q=0.75) + 1.5*IQR

In [53]:
upper

125.5

In [54]:
lower = df.TOEFL.quantile(q=0.25) - 1.5*IQR

In [55]:
lower

89.5

In [58]:
df_sub = df.loc[df.TOEFL>=lower,:]

In [59]:
df.ADMIT.unique()

array(['Admitted', 'Denied'], dtype=object)

In [63]:
df_sub["ADMIT_S"]=df_sub.ADMIT.apply(lambda x:1 if x==df.ADMIT.unique()[0] else 0)

C:\Users\yuvjj\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [65]:
df_sub.head()

   REG_NO  GRE  TOEFL UNIV_RATING  SOP  LOR  CGPA  RESEARCH     ADMIT  ADMIT_S
0       1  337    118           B  4.5  4.5  9.65         1  Admitted        1
1       2  324    107           B  4.0  4.5  8.87         1  Admitted        1
2       3  316    104           C  3.0  3.5  8.00         1    Denied        0
3       4  322    110           C  3.5  2.5  8.67         1  Admitted        1
4       5  314    103           D  2.0  3.0  8.21         0    Denied        0

In [66]:
from sklearn.linear_model import LogisticRegression

In [67]:
df_sub.columns

Index(['REG_NO', 'GRE', 'TOEFL', 'UNIV_RATING', 'SOP', 'LOR', 'CGPA',
       'RESEARCH', 'ADMIT', 'ADMIT_S'],
      dtype='object')

In [68]:
colx=['GRE', 'TOEFL','SOP', 'LOR', 'CGPA']

In [70]:
len(colx)

5

In [71]:
model = LogisticRegression(solver='newton-cg',C=100000, random_state=1234)\
.fit(X=df_sub.loc[:,colx], y=df_sub.ADMIT_S)

In [73]:
pred = model.predict(X=df_sub.loc[:,colx])

In [78]:
(pred-df_sub.ADMIT_S).value_counts()

 0    347
-1     28
 1     21
Name: ADMIT_S, dtype: int64

In [82]:
prob_2 = round((((pred-df_sub.ADMIT_S).value_counts().iloc[0])/df_sub.shape[0])*100,2)

In [ ]:
def acc(pred, true):

In [83]:
prob_2

87.63

In [86]:
#prob 3

In [87]:
df.head()

   REG_NO  GRE  TOEFL UNIV_RATING  SOP  LOR  CGPA  RESEARCH     ADMIT
0       1  337    118           B  4.5  4.5  9.65         1  Admitted
1       2  324    107           B  4.0  4.5  8.87         1  Admitted
2       3  316    104           C  3.0  3.5  8.00         1    Denied
3       4  322    110           C  3.5  2.5  8.67         1  Admitted
4       5  314    103           D  2.0  3.0  8.21         0    Denied

In [90]:
df_denied = df.loc[(df.ADMIT)==(df.ADMIT.unique()[1]),:]

In [91]:
df_denied

     REG_NO  GRE  TOEFL UNIV_RATING  SOP  LOR  CGPA  RESEARCH   ADMIT
2         3  316    104           C  3.0  3.5  8.00         1  Denied
4         5  314    103           D  2.0  3.0  8.21         0  Denied
7         8  308    101           D  3.0  4.0  7.90         0  Denied
8         9  302    102           E  2.0  1.5  8.00         0  Denied
9        10  323    108           C  3.5  3.0  8.60         0  Denied
..      ...  ...    ...         ...  ...  ...   ...       ...     ...
387     388  307    105           D  2.0  3.5  8.10         0  Denied
388     389  296     97           D  1.5  2.0  7.80         0  Denied
390     391  314    102           D  2.0  2.5  8.24         0  Denied
391     392  318    106           C  2.0  3.0  8.65         0  Denied
398     399  312    103           C  3.5  4.0  8.78         0  Denied

[220 rows x 9 columns]

In [92]:
df_denied.ADMIT.unique()

array(['Denied'], dtype=object)

In [94]:
df_dum = pd.get_dummies(df_denied, columns=["UNIV_RATING"], drop_first=True)

In [95]:
from sklearn.preprocessing import MinMaxScaler

In [96]:
df_dum.columns

Index(['REG_NO', 'GRE', 'TOEFL', 'SOP', 'LOR', 'CGPA', 'RESEARCH', 'ADMIT',
       'UNIV_RATING_B', 'UNIV_RATING_C', 'UNIV_RATING_D', 'UNIV_RATING_E'],
      dtype='object')

In [97]:
scaled_colx = ['GRE', 'TOEFL', 'SOP', 'LOR', 'CGPA']

In [98]:
len(scaled_colx)

5

In [99]:
df_dum.loc[:,scaled_colx] = MinMaxScaler().fit_transform(X=df_dum.loc[:,scaled_colx])

In [100]:
df_dum

,REG_NO,GRE,TOEFL,SOP,LOR,CGPA,RESEARCH,ADMIT,UNIV_RATING_B,UNIV_RATING_C,UNIV_RATING_D,UNIV_RATING_E
2,3,0.666667,0.825397,0.500,0.625,0.495868,1,Denied,0,1,0,0
4,5,0.615385,0.809524,0.250,0.500,0.582645,0,Denied,0,0,1,0
7,8,0.461538,0.777778,0.500,0.750,0.454545,0,Denied,0,0,1,0
8,9,0.307692,0.793651,0.250,0.125,0.495868,0,Denied,0,0,0,1
9,10,0.846154,0.888889,0.625,0.500,0.743802,0,Denied,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
387,388,0.435897,0.841270,0.250,0.625,0.537190,0,Denied,0,0,1,0
388,389,0.153846,0.714286,0.125,0.250,0.413223,0,Denied,0,0,1,0
390,391,0.615385,0.793651,0.250,0.375,0.595041,0,Denied,0,0,1,0
391,392,0.717949,0.857143,0.250,0.500,0.764463,0,Denied,0,1,0,0
398,399,0.564103,0.809524,0.625,0.750,0.818182,0,Denied,0,1,0,0

In [101]:
from sklearn.cluster import KMeans

In [102]:
df_dum_input = df_dum.drop(columns=["REG_NO","ADMIT"])

In [103]:
df_dum_input.columns

Index(['GRE', 'TOEFL', 'SOP', 'LOR', 'CGPA', 'RESEARCH', 'UNIV_RATING_B',
       'UNIV_RATING_C', 'UNIV_RATING_D', 'UNIV_RATING_E'],
      dtype='object')

In [104]:
len(df_dum_input.columns)

10

In [105]:
cluster_num = [4,5,6]

In [107]:
from sklearn.metrics import silhouette_score

In [156]:
def silhouette_from_kmeans(df, cluster_num):
    cluster = KMeans(random_state=1234, n_init=50, max_iter=300, n_clusters=cluster_num)
    model = cluster.fit(X=df)
    clustered_labels = pd.Series(model.labels_).value_counts()
    print(clustered_labels)
    uneq = clustered_labels.max()/ clustered_labels.min()
    return [silhouette_score(X=df, labels= model.labels_), uneq]

In [157]:
sil_cl = [silhouette_from_kmeans(df_dum_input,n) for n in cluster_num]

0    97
2    49
1    40
3    34
dtype: int64
4    73
3    49
1    40
0    34
2    24
dtype: int64
0    73
3    51
1    34
2    25
4    24
5    13
dtype: int64

In [158]:
sil_cl

[[0.49105088711202427, 2.8529411764705883],
 [0.5090779061903452, 3.0416666666666665],
 [0.5556812882602017, 5.615384615384615]]

In [159]:
C = 5

In [165]:
D = sil_cl[1][0]

In [166]:
prob_3 = round(C+D, 2)

In [167]:
prob_1

0.16

In [168]:
prob_2

87.63

In [169]:
prob_3

5.51