In [2]:
import pandas as pd

In [76]:
df = pd.read_csv("lv2-2305-3.csv")

In [77]:
df.head()

,OBS_DT,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,TIME_SUNRISE,TIME_SUNSET
0,2022-09-29 23:55:26,1.21,48.0,30.46,59.0,177.39,5.62,06:13:00,18:13:00
1,2022-09-29 23:50:23,1.21,48.0,30.46,58.0,176.78,3.37,06:13:00,18:13:00
2,2022-09-29 23:45:26,1.23,48.0,30.46,57.0,158.75,3.37,06:13:00,18:13:00
3,2022-09-29 23:40:21,1.21,48.0,30.46,60.0,137.71,3.37,06:13:00,18:13:00
4,2022-09-29 23:35:24,1.17,48.0,30.46,62.0,104.95,5.62,06:13:00,18:13:00

In [78]:
#prob 1

In [35]:
import datetime as dt

In [79]:
df_prob1 = df.copy()

In [90]:
df_prob1["TIME"] = pd.to_datetime(df_prob1.OBS_DT).apply(lambda x: x.time())

In [92]:
df_prob1["TIME_SUNRISE"] = df_prob1["TIME_SUNRISE"].apply(lambda x: dt.time.fromisoformat(x))

In [95]:
df_prob1["TIME_SUNSET"] = df_prob1["TIME_SUNSET"].apply(lambda x: dt.time.fromisoformat(x))

In [96]:
df_prob1

,OBS_DT,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,TIME_SUNRISE,TIME_SUNSET,TIME
0,2022-09-29 23:55:26,1.21,48.0,30.46,59.0,177.39,5.62,06:13:00,18:13:00,23:55:26
1,2022-09-29 23:50:23,1.21,48.0,30.46,58.0,176.78,3.37,06:13:00,18:13:00,23:50:23
2,2022-09-29 23:45:26,1.23,48.0,30.46,57.0,158.75,3.37,06:13:00,18:13:00,23:45:26
3,2022-09-29 23:40:21,1.21,48.0,30.46,60.0,137.71,3.37,06:13:00,18:13:00,23:40:21
4,2022-09-29 23:35:24,1.17,48.0,30.46,62.0,104.95,5.62,06:13:00,18:13:00,23:35:24
...,...,...,...,...,...,...,...,...,...,...
32681,2022-12-01 00:20:04,1.22,44.0,30.43,102.0,145.42,6.75,06:41:00,17:42:00,00:20:04
32682,2022-12-01 00:15:01,1.17,44.0,30.42,102.0,117.78,6.75,06:41:00,17:42:00,00:15:01
32683,2022-12-01 00:10:01,1.20,44.0,30.42,102.0,145.19,9.00,06:41:00,17:42:00,00:10:01
32684,2022-12-01 00:05:02,1.23,44.0,30.42,101.0,164.19,7.87,06:41:00,17:42:00,00:05:02
32685,2022-12-01 00:00:02,1.20,44.0,30.43,101.0,83.59,3.37,06:41:00,17:42:00,00:00:02

In [99]:
df_prob1_sub = df_prob1.loc[(df_prob1.TIME>=df_prob1.TIME_SUNRISE) &\
      (df_prob1.TIME<=df_prob1.TIME_SUNSET),:]

In [100]:
df_prob1_sub

,OBS_DT,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,TIME_SUNRISE,TIME_SUNSET,TIME
69,2022-09-29 18:10:52,6.63,53.0,30.44,59.0,118.82,5.62,06:13:00,18:13:00,18:10:52
70,2022-09-29 18:05:22,10.96,54.0,30.44,59.0,154.16,4.50,06:13:00,18:13:00,18:05:22
71,2022-09-29 18:00:22,19.42,55.0,30.44,57.0,58.42,6.75,06:13:00,18:13:00,18:00:22
72,2022-09-29 17:55:22,27.14,55.0,30.44,53.0,47.86,4.50,06:13:00,18:13:00,17:55:22
73,2022-09-29 17:50:19,33.75,56.0,30.44,52.0,74.56,2.25,06:13:00,18:13:00,17:50:19
...,...,...,...,...,...,...,...,...,...,...
32600,2022-12-01 07:05:04,1.24,44.0,30.41,99.0,131.66,13.50,06:41:00,17:42:00,07:05:04
32601,2022-12-01 07:00:02,1.19,44.0,30.41,100.0,176.67,9.00,06:41:00,17:42:00,07:00:02
32602,2022-12-01 06:55:02,1.19,44.0,30.41,100.0,7.27,2.25,06:41:00,17:42:00,06:55:02
32603,2022-12-01 06:50:03,1.20,44.0,30.40,100.0,50.69,6.75,06:41:00,17:42:00,06:50:03
32604,2022-12-01 06:45:04,1.22,44.0,30.40,100.0,38.71,3.37,06:41:00,17:42:00,06:45:04

In [101]:
df_prob1_sub.columns

Index(['OBS_DT', 'RADIATION', 'TEMPERATURE', 'PRESSURE', 'HUMIDITY',
       'WIND_DIRECTION', 'WIND_SPEED', 'TIME_SUNRISE', 'TIME_SUNSET', 'TIME'],
      dtype='object')

In [102]:
colx=['PRESSURE', 'HUMIDITY', 'WIND_SPEED']

In [103]:
colx

['PRESSURE', 'HUMIDITY', 'WIND_SPEED']

In [108]:
prob_1 = df_prob1_sub.loc[:,colx].corrwith(df_prob1_sub["RADIATION"]).abs().round(3).max()

In [109]:
#prob 2

In [117]:
df_prob2 = df.copy()

In [118]:
df_prob2["DATE"] = df_prob2.OBS_DT.apply(lambda x: dt.datetime.strptime(x,"%Y-%m-%d %H:%M:%S").date())

In [122]:
df_max_temp = df_prob2.groupby('DATE',as_index=False)["TEMPERATURE"].max()

In [159]:
df_max_temp.rename(inplace=True, columns={"TEMPERATURE":"MAX_TEMPERATURE"})

In [160]:
df_max_temp.isna().sum()

DATE               0
MAX_TEMPERATURE    0
dtype: int64

In [161]:
df_max_temp.DATE.unique()

array([datetime.date(2022, 9, 1), datetime.date(2022, 9, 2),
       datetime.date(2022, 9, 3), datetime.date(2022, 9, 4),
       datetime.date(2022, 9, 5), datetime.date(2022, 9, 6),
       datetime.date(2022, 9, 7), datetime.date(2022, 9, 8),
       datetime.date(2022, 9, 9), datetime.date(2022, 9, 10),
       datetime.date(2022, 9, 11), datetime.date(2022, 9, 12),
       datetime.date(2022, 9, 13), datetime.date(2022, 9, 14),
       datetime.date(2022, 9, 15), datetime.date(2022, 9, 16),
       datetime.date(2022, 9, 17), datetime.date(2022, 9, 18),
       datetime.date(2022, 9, 19), datetime.date(2022, 9, 20),
       datetime.date(2022, 9, 21), datetime.date(2022, 9, 22),
       datetime.date(2022, 9, 23), datetime.date(2022, 9, 24),
       datetime.date(2022, 9, 25), datetime.date(2022, 9, 26),
       datetime.date(2022, 9, 27), datetime.date(2022, 9, 28),
       datetime.date(2022, 9, 29), datetime.date(2022, 10, 1),
       datetime.date(2022, 10, 2), datetime.date(2022, 10, 3),
       datetime.date(2022, 10, 4), datetime.date(2022, 10, 5),
       datetime.date(2022, 10, 6), datetime.date(2022, 10, 7),
       datetime.date(2022, 10, 8), datetime.date(2022, 10, 9),
       datetime.date(2022, 10, 10), datetime.date(2022, 10, 11),
       datetime.date(2022, 10, 12), datetime.date(2022, 10, 13),
       datetime.date(2022, 10, 14), datetime.date(2022, 10, 15),
       datetime.date(2022, 10, 16), datetime.date(2022, 10, 17),
       datetime.date(2022, 10, 18), datetime.date(2022, 10, 19),
       datetime.date(2022, 10, 20), datetime.date(2022, 10, 21),
       datetime.date(2022, 10, 22), datetime.date(2022, 10, 23),
       datetime.date(2022, 10, 24), datetime.date(2022, 10, 25),
       datetime.date(2022, 10, 26), datetime.date(2022, 10, 27),
       datetime.date(2022, 10, 28), datetime.date(2022, 10, 29),
       datetime.date(2022, 10, 30), datetime.date(2022, 10, 31),
       datetime.date(2022, 11, 1), datetime.date(2022, 11, 2),
       datetime.date(2022, 11, 3), datetime.date(2022, 11, 4),
       datetime.date(2022, 11, 5), datetime.date(2022, 11, 6),
       datetime.date(2022, 11, 7), datetime.date(2022, 11, 8),
       datetime.date(2022, 11, 9), datetime.date(2022, 11, 10),
       datetime.date(2022, 11, 11), datetime.date(2022, 11, 12),
       datetime.date(2022, 11, 13), datetime.date(2022, 11, 14),
       datetime.date(2022, 11, 15), datetime.date(2022, 11, 16),
       datetime.date(2022, 11, 17), datetime.date(2022, 11, 18),
       datetime.date(2022, 11, 19), datetime.date(2022, 11, 20),
       datetime.date(2022, 11, 21), datetime.date(2022, 11, 22),
       datetime.date(2022, 11, 23), datetime.date(2022, 11, 24),
       datetime.date(2022, 11, 25), datetime.date(2022, 11, 26),
       datetime.date(2022, 11, 27), datetime.date(2022, 11, 28),
       datetime.date(2022, 11, 29), datetime.date(2022, 12, 1),
       datetime.date(2022, 12, 2), datetime.date(2022, 12, 3),
       datetime.date(2022, 12, 4), datetime.date(2022, 12, 5),
       datetime.date(2022, 12, 8), datetime.date(2022, 12, 9),
       datetime.date(2022, 12, 10), datetime.date(2022, 12, 11),
       datetime.date(2022, 12, 12), datetime.date(2022, 12, 13),
       datetime.date(2022, 12, 14), datetime.date(2022, 12, 15),
       datetime.date(2022, 12, 16), datetime.date(2022, 12, 17),
       datetime.date(2022, 12, 18), datetime.date(2022, 12, 19),
       datetime.date(2022, 12, 20), datetime.date(2022, 12, 21),
       datetime.date(2022, 12, 22), datetime.date(2022, 12, 23),
       datetime.date(2022, 12, 24), datetime.date(2022, 12, 25),
       datetime.date(2022, 12, 26), datetime.date(2022, 12, 27),
       datetime.date(2022, 12, 28), datetime.date(2022, 12, 29),
       datetime.date(2022, 12, 30), datetime.date(2022, 12, 31)],
      dtype=object)

In [162]:
import numpy as np

In [163]:
df_temp = pd.DataFrame()

In [164]:
str_days = ["2022-09-30","2022-11-30", "2022-12-06","2022-12-07"]

In [165]:
df_temp["DATE"]=[dt.date.fromisoformat(d) for d in str_days]

In [166]:
df_temp["MAX_TEMPERATURE"]=[np.nan for n in range(4)]

In [167]:
df_temp

         DATE  MAX_TEMPERATURE
0  2022-09-30              NaN
1  2022-11-30              NaN
2  2022-12-06              NaN
3  2022-12-07              NaN

In [169]:
df_max_temp = pd.concat([df_max_temp, df_temp])

In [173]:
df_max_temp = df_max_temp.sort_values(by="DATE",ascending=True).reset_index(drop=True)

In [177]:
df_max_temp.MAX_TEMPERATURE.unique()

array([63., 65., 62., 64., 57., 66., 69., 70., 55., 60., 68., 61., 71.,
       nan, 59., 56., 58., 52., 67., 50., 53., 54., 51., 45.])

In [188]:
df_max_temp.iloc[0,0]+dt.timedelta(days=1)

datetime.date(2022, 9, 2)

In [193]:
[df_max_temp.loc[df_max_temp.DATE==(x-dt.timedelta(days=1)),"MAX_TEMPERATURE"]*0.7+\
df_max_temp.loc[df_max_temp.DATE==(x-dt.timedelta(days=2)),"MAX_TEMPERATURE"]*0.3 for x in df_temp.DATE.values]

[27   NaN
 28   NaN
 Name: MAX_TEMPERATURE, dtype: float64, 88   NaN
 89   NaN
 Name: MAX_TEMPERATURE, dtype: float64, 94   NaN
 95   NaN
 Name: MAX_TEMPERATURE, dtype: float64, 95   NaN
 96   NaN
 Name: MAX_TEMPERATURE, dtype: float64]

In [194]:
df_temp.DATE.values

array([datetime.date(2022, 9, 30), datetime.date(2022, 11, 30),
       datetime.date(2022, 12, 6), datetime.date(2022, 12, 7)],
      dtype=object)

In [197]:
[x-dt.timedelta(days=1) for x in df_temp.DATE.values]

[datetime.date(2022, 9, 29),
 datetime.date(2022, 11, 29),
 datetime.date(2022, 12, 5),
 datetime.date(2022, 12, 6)]

In [198]:
[x-dt.timedelta(days=2) for x in df_temp.DATE.values]

[datetime.date(2022, 9, 28),
 datetime.date(2022, 11, 28),
 datetime.date(2022, 12, 4),
 datetime.date(2022, 12, 5)]

In [204]:
df_temp

         DATE  MAX_TEMPERATURE
0  2022-09-30              NaN
1  2022-11-30              NaN
2  2022-12-06              NaN
3  2022-12-07              NaN

In [210]:
for x in df_temp.DATE.values[0:3]:
    TD1=(df_max_temp.loc[df_max_temp.DATE==(x-dt.timedelta(days=1)),"MAX_TEMPERATURE"].values[0])
    TD2=(df_max_temp.loc[df_max_temp.DATE==(x-dt.timedelta(days=2)),"MAX_TEMPERATURE"].values[0])
    TD=0.7*TD1+0.3*TD2
    df_max_temp.loc[df_max_temp.DATE==x, "MAX_TEMPERATURE"] = TD

In [214]:
TD2=(df_max_temp.loc[df_max_temp.DATE==(df_temp.DATE.iloc[3]-dt.timedelta(days=2)),"MAX_TEMPERATURE"].values[0])
TD3=(df_max_temp.loc[df_max_temp.DATE==(df_temp.DATE.iloc[3]-dt.timedelta(days=3)),"MAX_TEMPERATURE"].values[0])

df_max_temp.loc[df_max_temp.DATE==df_temp.DATE.iloc[3],"MAX_TEMPERATURE"] = \
TD2*0.7+TD3*0.3

In [215]:
df_max_temp.loc[df_max_temp.DATE==df_temp.DATE.iloc[3],"MAX_TEMPERATURE"]

97    45.0
Name: MAX_TEMPERATURE, dtype: float64

In [216]:
df_max_temp.isna().sum()

DATE               0
MAX_TEMPERATURE    0
dtype: int64

In [219]:
sum=0
for x in df_temp.DATE.values[0:4]:
    sum+=df_max_temp.loc[df_max_temp.DATE==x,"MAX_TEMPERATURE"].values[0]
prob_2=round(sum/4,1)

In [220]:
prob_2

52.1

In [221]:
# prob 3

In [222]:
df_prob3 = df.copy()

In [226]:
df_prob3.head()

,OBS_DT,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,TIME_SUNRISE,TIME_SUNSET,DATE
0,2022-09-29 23:55:26,1.21,48.0,30.46,59.0,177.39,5.62,06:13:00,18:13:00,2022-09-29
1,2022-09-29 23:50:23,1.21,48.0,30.46,58.0,176.78,3.37,06:13:00,18:13:00,2022-09-29
2,2022-09-29 23:45:26,1.23,48.0,30.46,57.0,158.75,3.37,06:13:00,18:13:00,2022-09-29
3,2022-09-29 23:40:21,1.21,48.0,30.46,60.0,137.71,3.37,06:13:00,18:13:00,2022-09-29
4,2022-09-29 23:35:24,1.17,48.0,30.46,62.0,104.95,5.62,06:13:00,18:13:00,2022-09-29

In [225]:
df_prob3["DATE"] = pd.to_datetime(df_prob3.OBS_DT).apply(lambda x: x.date())

In [229]:
df_prob3["TIME_SUNRISE"] = df_prob3.TIME_SUNRISE.apply(lambda x: dt.time.fromisoformat(x))

In [231]:
df_prob3["TIME_SUNSET"] = df_prob3.TIME_SUNSET.apply(lambda x: dt.time.fromisoformat(x))

In [239]:
df_prob3.DATE.iloc[0]

datetime.date(2022, 9, 29)

In [273]:
df_prob3["SUN_DURATION"] = df_prob3.apply(lambda x:\
              (dt.datetime.combine(x["DATE"],x["TIME_SUNSET"])\
               -dt.datetime.combine(x["DATE"],x["TIME_SUNRISE"])).total_seconds(),axis=1)

In [274]:
df_prob3

,OBS_DT,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,TIME_SUNRISE,TIME_SUNSET,DATE,SUN_DURATION
0,2022-09-29 23:55:26,1.21,48.0,30.46,59.0,177.39,5.62,06:13:00,18:13:00,2022-09-29,43200.0
1,2022-09-29 23:50:23,1.21,48.0,30.46,58.0,176.78,3.37,06:13:00,18:13:00,2022-09-29,43200.0
2,2022-09-29 23:45:26,1.23,48.0,30.46,57.0,158.75,3.37,06:13:00,18:13:00,2022-09-29,43200.0
3,2022-09-29 23:40:21,1.21,48.0,30.46,60.0,137.71,3.37,06:13:00,18:13:00,2022-09-29,43200.0
4,2022-09-29 23:35:24,1.17,48.0,30.46,62.0,104.95,5.62,06:13:00,18:13:00,2022-09-29,43200.0
...,...,...,...,...,...,...,...,...,...,...,...
32681,2022-12-01 00:20:04,1.22,44.0,30.43,102.0,145.42,6.75,06:41:00,17:42:00,2022-12-01,39660.0
32682,2022-12-01 00:15:01,1.17,44.0,30.42,102.0,117.78,6.75,06:41:00,17:42:00,2022-12-01,39660.0
32683,2022-12-01 00:10:01,1.20,44.0,30.42,102.0,145.19,9.00,06:41:00,17:42:00,2022-12-01,39660.0
32684,2022-12-01 00:05:02,1.23,44.0,30.42,101.0,164.19,7.87,06:41:00,17:42:00,2022-12-01,39660.0
32685,2022-12-01 00:00:02,1.20,44.0,30.43,101.0,83.59,3.37,06:41:00,17:42:00,2022-12-01,39660.0

In [275]:
df_prob3.columns

Index(['OBS_DT', 'RADIATION', 'TEMPERATURE', 'PRESSURE', 'HUMIDITY',
       'WIND_DIRECTION', 'WIND_SPEED', 'TIME_SUNRISE', 'TIME_SUNSET', 'DATE',
       'SUN_DURATION'],
      dtype='object')

In [276]:
colx=['RADIATION', 'TEMPERATURE', 'PRESSURE', 'HUMIDITY',
       'WIND_DIRECTION', 'WIND_SPEED']

In [277]:
len(colx)

6

In [278]:
df_sub = df_prob3.groupby(["DATE","SUN_DURATION"],as_index=False)[colx].mean()

In [279]:
df_sub.head()

,DATE,SUN_DURATION,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED
0,2022-09-01,45060.0,298.451600,54.556000,30.436640,78.968000,112.564000,6.396560
1,2022-09-02,45000.0,333.471219,56.379928,30.446487,72.501792,115.392079,5.804086
2,2022-09-03,44880.0,123.974574,55.507092,30.438546,94.599291,192.678546,4.960248
3,2022-09-04,44820.0,153.584321,53.589286,30.454107,93.878571,126.336714,5.184571
4,2022-09-05,44820.0,306.065125,53.199288,30.419680,79.943060,209.169253,5.830676

In [280]:
type(df_sub.DATE.iloc[0].day)

int

In [281]:
df_test6 = df_sub.loc[df_sub.DATE.apply(lambda x:(x.day==1)|(x.day==15)),]

In [282]:
df_train6=df_sub.loc[set(df_sub.index)-set(df_test6.index),:]

In [283]:
df_train6

,DATE,SUN_DURATION,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED
1,2022-09-02,45000.0,333.471219,56.379928,30.446487,72.501792,115.392079,5.804086
2,2022-09-03,44880.0,123.974574,55.507092,30.438546,94.599291,192.678546,4.960248
3,2022-09-04,44820.0,153.584321,53.589286,30.454107,93.878571,126.336714,5.184571
4,2022-09-05,44820.0,306.065125,53.199288,30.419680,79.943060,209.169253,5.830676
5,2022-09-06,44760.0,310.643781,52.091873,30.403569,75.522968,117.117420,5.499152
...,...,...,...,...,...,...,...,...
113,2022-12-27,39360.0,239.910556,49.888889,30.431181,31.687500,133.341458,8.692708
114,2022-12-28,39360.0,174.910278,45.149306,30.384965,86.788194,134.345000,7.181076
115,2022-12-29,39420.0,125.018049,43.571429,30.328397,89.271777,130.917596,4.677805
116,2022-12-30,39420.0,88.367684,45.087719,30.312070,82.312281,222.130947,4.592211
117,2022-12-31,39420.0,144.288542,46.250000,30.312604,83.302083,265.131424,7.431042

In [284]:
df_test6

,DATE,SUN_DURATION,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED
0,2022-09-01,45060.0,298.451600,54.556000,30.436640,78.968000,112.564000,6.396560
14,2022-09-15,44160.0,39.832214,49.757143,30.432714,97.385714,172.693786,4.031857
29,2022-10-01,43080.0,219.594049,52.475352,30.448838,99.679577,109.212570,6.287958
43,2022-10-15,42120.0,302.207599,58.268817,30.491541,25.494624,126.270860,6.251505
60,2022-11-01,41040.0,203.763345,50.017422,30.468049,50.878049,131.698328,6.018258
74,2022-11-15,40320.0,215.356111,49.739583,30.455937,69.937500,134.964167,8.231806
89,2022-12-01,39660.0,51.853403,44.395833,30.406042,94.701389,136.396771,7.833333
101,2022-12-15,39360.0,122.469439,44.522807,30.249018,90.529825,279.019965,8.563298

In [267]:
df_train6.columns

Index(['DATE', 'SUN_DURATION', 'RADIATION', 'TEMPERATURE', 'PRESSURE',
       'HUMIDITY', 'WIND_DIRECTION', 'WIND_SPEED'],
      dtype='object')

In [285]:
colx=['SUN_DURATION', 'TEMPERATURE', 'PRESSURE',
       'HUMIDITY', 'WIND_DIRECTION', 'WIND_SPEED']

In [288]:
len(colx)

6

In [289]:
form = "RADIATION ~ "+"+".join(colx)

In [290]:
form

'RADIATION ~ SUN_DURATION+TEMPERATURE+PRESSURE+HUMIDITY+WIND_DIRECTION+WIND_SPEED'

In [291]:
from statsmodels.formula.api import ols

In [292]:
model=ols(formula=form, data=df_train6).fit()

In [293]:
pred = model.predict(df_test6.loc[:,colx])

In [294]:
from sklearn.metrics import mean_squared_error as mse

In [297]:
prob_3 = round(mse(y_pred=pred, y_true=df_test6.RADIATION),2)

In [298]:
prob_1

0.394

In [299]:
prob_2

52.1

In [300]:
prob_3

2364.53