In [1]:
import pandas as pd
from scipy.stats import pearsonr
from scipy.stats import spearmanr
from scipy.stats import kendalltau

In [2]:
bike = pd.read_csv("data/bike.csv")

In [3]:
bike.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [4]:
bike.corr()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
season,1.000000,0.029368,-0.008126,0.008879,0.258689,0.264744,0.190610,-0.147121,0.096758,0.164011,0.163439
holiday,0.029368,1.000000,-0.250491,-0.007074,0.000295,-0.005215,0.001929,0.008409,0.043799,-0.020956,-0.005393
workingday,-0.008126,-0.250491,1.000000,0.033772,0.029966,0.024660,-0.010880,0.013373,-0.319111,0.119460,0.011594
weather,0.008879,-0.007074,0.033772,1.000000,-0.055035,-0.055376,0.406244,0.007261,-0.135918,-0.109340,-0.128655
temp,0.258689,0.000295,0.029966,-0.055035,1.000000,0.984948,-0.064949,-0.017852,0.467097,0.318571,0.394454
atemp,0.264744,-0.005215,0.024660,-0.055376,0.984948,1.000000,-0.043536,-0.057473,0.462067,0.314635,0.389784
humidity,0.190610,0.001929,-0.010880,0.406244,-0.064949,-0.043536,1.000000,-0.318607,-0.348187,-0.265458,-0.317371
windspeed,-0.147121,0.008409,0.013373,0.007261,-0.017852,-0.057473,-0.318607,1.000000,0.092276,0.091052,0.101369
casual,0.096758,0.043799,-0.319111,-0.135918,0.467097,0.462067,-0.348187,0.092276,1.000000,0.497250,0.690414
registered,0.164011,-0.020956,0.119460,-0.109340,0.318571,0.314635,-0.265458,0.091052,0.497250,1.000000,0.970948
count,0.163439,-0.005393,0.011594,-0.128655,0.394454,0.389784,-0.317371,0.101369,0.690414,0.970948,1.000000

In [5]:
bike[["casual","registered","count"]].corr()

              casual  registered     count
casual      1.000000    0.497250  0.690414
registered  0.497250    1.000000  0.970948
count       0.690414    0.970948  1.000000

In [6]:
bike[["casual","registered","count"]].corr(method="kendall")

              casual  registered     count
casual      1.000000    0.582213  0.666411
registered  0.582213    1.000000  0.919346
count       0.666411    0.919346  1.000000

In [7]:
bike[["casual","registered","count"]].corr(method="spearman")

              casual  registered     count
casual      1.000000    0.775785  0.847378
registered  0.775785    1.000000  0.988901
count       0.847378    0.988901  1.000000

In [8]:
pearsonr(bike["casual"], bike["registered"])

(0.49724968508700806, 0.0)

In [9]:
stat, p = pearsonr(bike["casual"], bike["registered"])
print(stat, p)

0.49724968508700806 0.0

In [10]:
#문제 1
import pandas as pd
from scipy.stats import pearsonr
from scipy.stats import spearmanr
from scipy.stats import kendalltau

bike = pd.read_csv("data/bike.csv")

In [11]:
bike[["temp","atemp","humidity","casual"]].corr().round(2).min().min()

-0.35

In [12]:
bike.groupby(["season"])[["atemp","casual"]].corr().round(3)

               atemp  casual
season
1      atemp   1.000   0.478
       casual  0.478   1.000
2      atemp   1.000   0.378
       casual  0.378   1.000
3      atemp   1.000   0.381
       casual  0.381   1.000
4      atemp   1.000   0.444
       casual  0.444   1.000

In [13]:
bike_corr =bike.groupby(["season"])[["atemp","casual"]].corr().round(3)
bike_corr = bike_corr.reset_index()

In [14]:
bike_corr

   season level_1  atemp  casual
0       1   atemp  1.000   0.478
1       1  casual  0.478   1.000
2       2   atemp  1.000   0.378
3       2  casual  0.378   1.000
4       3   atemp  1.000   0.381
5       3  casual  0.381   1.000
6       4   atemp  1.000   0.444
7       4  casual  0.444   1.000

In [15]:
bike_corr.loc[bike_corr["atemp"]<1, ["season","level_1","atemp"]].reset_index(drop=True)

   season level_1  atemp
0       1  casual  0.478
1       2  casual  0.378
2       3  casual  0.381
3       4  casual  0.444

In [16]:
bike.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [17]:
bike_sub_clear = bike.loc[bike["weather"]==1, ["casual","temp"]]

In [18]:
bike_sub_clear.shape

(7192, 2)

In [19]:
bike_sub_clear.head()

   casual  temp
0       3  9.84
1       8  9.02
2       5  9.02
3       3  9.84
4       0  9.84

In [20]:
bike_sub_not_clear = bike.loc[bike["weather"]!=1, ["casual","temp"]]

In [21]:
bike_sub_not_clear.shape

(3694, 2)

In [22]:
bike_sub_not_clear.head()

    casual   temp
5        0   9.84
13      47  18.86
14      35  18.86
15      40  18.04
16      41  17.22

In [23]:
pearsonr(bike_sub_clear["casual"],bike_sub_clear["temp"])[0]

0.4710527167335365

In [24]:
pearsonr(bike_sub_not_clear["casual"],bike_sub_not_clear["temp"])[0]

0.4463610705397096

In [25]:
round(abs(pearsonr(bike_sub_clear["casual"],bike_sub_clear["temp"])[0]
   -pearsonr(bike_sub_not_clear["casual"],bike_sub_not_clear["temp"])[0]),3)

0.025

In [26]:
#teacher solution

In [27]:
bike["is_sunny"] = (bike["weather"]==1)+0 
#별도 false 값을 넣어줄 필요가 없는 좋은 팁인듯

In [28]:
bike_sub = bike.groupby(bike["is_sunny"])[["temp","casual"]].corr()

In [29]:
bike_sub

                     temp    casual
is_sunny
0        temp    1.000000  0.446361
         casual  0.446361  1.000000
1        temp    1.000000  0.471053
         casual  0.471053  1.000000

In [30]:
round(abs(bike_sub.iloc[0,1] - bike_sub.iloc[2,1]),3)

0.025